@font-face {
	font-family: 'Rajdhani';
}

html, body {
    font-family: Rajdhani, sans-serif;
}

.scrollable-panel{
	height:400px;
	overflow-y:auto;
	width:100%;
}

/* Boostrap.css override */
.navbar-inverse {
    background-color: #000066;
    font-size: 16px;
}

/* Boostrap.css override */
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    color: #fff;
    background-color: #000066;
}

.modal-header {
    background-color: #afcee9;
	padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

/* ---------- ToDo List ----------- */

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

h5 {
    padding:0.5em;
    border-bottom:1px solid black;
    text-align: left;
    font-size:1.5em;
}

#todo-input {

}

.template{
    display:none;
}

#alertdiv {
    display:none;
}

div.todoEntry {
    padding:0.5em;
    border-bottom:1px solid lightgrey;
    text-align: left;
}

div.todoEntry .entryTitle{
    font-size:1.2em;
    padding-right: 3em;
}

div.todoEntry .entryTime{
    font-size:0.8em;
}


div.doneTask{
     color:grey;
 }

div.doneTask .entryTime{
    color:grey;
}

.doneTitle{
    margin-top:1em;
}

.taskControls{
    float:right;
    display:none;
}

.taskControls button.buttonDeleteTask{
    color:red;
}

.taskControls button.buttonDoTask{
    color:darkgreen;
}
