@font-face {
	font-family: 'Rajdhani';
}

html, body {
    font-family: Rajdhani, sans-serif;
}

.scrollable-panel{
	height:400px;
	overflow-y:scroll;
	width:100%;
}

/* Boostrap.css override */
.navbar-inverse {
    background-color: #000099;
    font-size: 16px;
}

/* Boostrap.css override */
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    color: #fff;
    background-color: #000099;
}

.modal-header {
    background-color: #afcee9;
	padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}