<!doctype html>
<html lang="us">
<head>
	<meta charset="utf-8">
	<title>Chopin - Contabilit&agrave;</title>
	<link href="../jquery/jquery-ui.css" rel="stylesheet">
	<style type="text/css" media="screen">
	
		@import url("../css/main.css");
		@import url("../css/jquery.css");
		
	</style>
</head>

<div id="main">
		
<h2>Benvenuto, seleziona un men&ugrave; per cominciare</h2>

<font size="-4">
<pre class="smallNote">
Questa versione del Nexus6 è una alfa1 del 26/07/2015

Copyright © 2015 Barbieri Stefano  -  stebakite@gmail.com

</pre>
</font>
</div>
</body>
</html>
