<div class="navigation">
  <ul class="nav">
	<li>
	  <a href="../template/main.html">Home</a>
	</li>
	<li>
	  <a href="#">Operazioni</a>
	  <ul>
		<li><a href="../src/primanota/ricercaRegistrazioneFacade.class.php?modo=start">Ricerca Registrazione</a></li>
		<li><a href="../src/primanota/creaRegistrazioneFacade.class.php?modo=start">Registrazione</a></li>
		<li><a href="../src/primanota/creaPagamentoFacade.class.php?modo=start">Pagamento</a></li>
		<li><a href="../src/primanota/creaIncassoFacade.class.php?modo=start">Incasso</a></li>
		<li><a href="../src/primanota/creaCorrispettivoNegozioFacade.class.php?modo=start">Corrispettivo Negozio</a></li>
		<li><a href="../src/primanota/creaCorrispettivoMercatoFacade.class.php?modo=start">Corrispettivo Mercato</a></li>
  	  </ul>
    </li>
	<li>
	  <a href="#">About Us</a>
	  <ul>
		<li><a href="#">Company</a></li>
		<li><a href="#">Mission</a></li>
		<li><a href="#">Contact Information</a></li>
	  </ul>
	</li>
  </ul>
</div>
 