<!doctype html>
<html lang="us">
<head>
	<meta charset="utf-8">
	<title>Chopin - Contabilit&agrave;</title>
	<link href="../jquery/jquery-ui.css" rel="stylesheet">
	<style type="text/css" media="screen">
	
		@import url("../css/main.css");
		@import url("../css/jquery.css");
		
	</style>
</head>
<body>
	<div id="body">
	
		<div id="menu-accordion">
			<h3>Prima Nota</h3>
			<div>
				<h5>Operazioni</h5>
				<ul>
					<li><a href="../src/primanota/creaRegistrazioneFacade.class.php?modo=start" target="corpo">Nuova Registrazione</a></li>
					<li><a href="../src/primanota/ricercaRegistrazioneFacade.class.php?modo=start" target="corpo">Ricerca Registrazione</a></li>
				</ul>
				<h5>Pagamenti</h5>
				<ul>
					<li><a href="../src/primanota/creaPagamentoFacade.class.php?modo=start" target="corpo">Nuovo Pagamento</a></li>
				</ul>
				<h5>Corrispettivi Negozio</h5>
				<ul>
					<li><a href="../src/primanota/creaCorrispettivoNegozioFacade.class.php?modo=start" target="corpo">Nuovo Corrispettivo</a></li>
					<li><a href="../src/primanota/ricercaCorrispettivoFacade.class.php?modo=start" target="corpo">Ricerca Corrispettivo</a></li>
				</ul>
				<h5>Corrispettivi Mercato</h5>
				<ul>
					<li><a href="../src/primanota/creaCorrispettivoMercatoFacade.class.php?modo=start" target="corpo">Nuovo Corrispettivo</a></li>
					<li><a href="../src/primanota/ricercaCorrispettivoFacade.class.php?modo=start" target="corpo">Ricerca Corrispettivo</a></li>
				</ul>
			</div>
			<h3>Anagrafiche</h3>
			<div>
				<h5>Fornitori</h5>
				<ul>
					<li><a href="../src/anagrafica/creaFornitoreFacade.class.php?modo=start" target="corpo">Nuovo Fornitore</a></li>
					<li><a href="../src/anagrafica/ricercaFornitoreFacade.class.php?modo=start" target="corpo">Ricerca Fornitore</a></li>
				</ul>
				<h5>Clienti</h5>
				<ul>
					<li><a href="../src/anagrafica/creaClienteFacade.class.php?modo=start" target="corpo">Nuovo Cliente</a></li>
					<li><a href="../src/anagrafica/ricercaClienteFacade.class.php?modo=start" target="corpo">Ricerca Cliente</a></li>
				</ul>
			</div>
			<h3>Configurazioni di Base</h3>
			<div>
				<h5>Conti</h5>
				<ul>
					<li><a href="../src/configurazioni/creaContoFacade.class.php?modo=start" target="corpo">Nuovo Conto</a></li>
					<li><a href="../src/configurazioni/ricercaContoFacade.class.php?modo=start" target="corpo">Ricerca Conto</a></li>
				</ul>
				<h5>Causali</h5>
				<ul>
					<li><a href="../src/configurazioni/creaCausaleFacade.class.php?modo=start" target="corpo">Nuova Causale</a></li>
					<li><a href="../src/configurazioni/ricercaCausaleFacade.class.php?modo=start" target="corpo">Ricerca Causale</a></li>
				</ul>
			</div>
			<h3>Scadenze</h3>
			<div>
				<ul>
					<li><a href="../src/scadenze/ricercaScadenzeFacade.class.php?modo=start" target="corpo">Ricerca Scadenza</a></li>
				</ul>
			</div>
		</div>
	</div>
		
		
	
<script src="../jquery/external/jquery/jquery.js"></script>
<script src="../jquery/jquery-ui.js"></script>
<script src="../js/local.js"></script>

</body>
</html>
