<!doctype html>
<html lang="us">
<head>
	<meta charset="utf-8">
	<title>Chopin - Contabilit&agrave;</title>
	<link href="../jquery/jquery-ui.css" rel="stylesheet">
	<style type="text/css" media="screen">
	
		@import url("../css/main.css");
		@import url("../css/jquery.css");
		
	</style>
</head>
<body>
	<div id="body">
	
		<div id="menu-accordion">
			<h3>Prima Nota</h3>
			<div>
				<ul>
					<li><a href="../src/primanota/creaRegistrazioneFacade.class.php?modo=start" target="corpo">Nuova Registrazione</a></li>
					<li><a href="../src/primanota/ricercaRegistrazioneFacade.class.php?modo=start" target="corpo">Ricerca Registrazione</a></li>
					<li><a href="../src/primanota/ricercaScadenziarioFacade.class.php?modo=start" target="corpo">Scadenziario</a></li>
				</ul>
			</div>
			<h3>Anagrafica</h3>
			<div>
				<ul>
					<li><a href="../src/anagrafica/ricercaClientiFacade.class.php?modo=start" target="corpo">Clienti</a></li>
					<li><a href="../src/anagrafica/ricercaFornitoriFacade.class.php?modo=start" target="corpo">Fornitori</a></li>
				</ul>
			</div>
			<h3>Configurazioni di Base</h3>
			<div>
				<ul>
					<li><a href="../src/configurazioni/creaContoFacade.class.php?modo=start" target="corpo">Nuovo Conto</a></li>
					<li><a href="../src/configurazioni/ricercaContoFacade.class.php?modo=start" target="corpo">Ricerca Conto</a></li>
					<li><a href="../src/configurazioni/creaCausaleFacade.class.php?modo=start" target="corpo">Nuova Causale</a></li>
					<li><a href="../src/configurazioni/ricercaCausaleFacade.class.php?modo=start" target="corpo">Ricerca Causale</a></li>
				</ul>
			</div>
			<h3>Reportistica</h3>
			<div>
				<ul>
					<li><a href="../src/reportistica/ricercaMastrinoFornitoriFacade.class.php?modo=start" target="corpo">Mastrino fornitori</a></li>
				</ul>
			</div>
		</div>
	</div>
		
		
	
<script src="../jquery/external/jquery/jquery.js"></script>
<script src="../jquery/jquery-ui.js"></script>
<script src="../js/local.js"></script>

</body>
</html>
