
<!-- Fine del corpo pagina incluso -->

</div>	<!-- Div id="main" -->
</body>
	
<script src="../../js/local.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

<script type="text/javascript">
	
	/*  jQuery ready function. Specify a function to execute when the DOM is fully loaded.  */
	$(document).ready(
	  /* This is the function that will get executed after the DOM is fully loaded */
	  function () {
	    /* Next part of code handles hovering effect and submenu appearing */
	    $('.nav li').hover(
	      function () { //appearing on hover
	        $('ul', this).fadeIn();
	      },
	      function () { //disappearing on hover
	        $('ul', this).fadeOut();
	      }
	    );
	  }
	);	
	
</script>
</html>	