
<!-- Fine del corpo pagina incluso -->

<!-- ---------------- -->
<!-- MESSAGGIO ERRORE -->
<!-- ---------------- -->

<div class="container">
    <div class="modal fade" id="messaggio-errore-dialog" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">ERRORE</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" role="alert" >
                        <p id="testo-messaggio-errore"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ---------------- -->
<!-- MESSAGGIO OK     -->
<!-- ---------------- -->

<div class="container">
    <div class="modal fade" id="messaggio-successo-dialog" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">SUCCESSO</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-success" role="alert" >
                        <p id="testo-messaggio-successo"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<script src="../../js/nexus6-causali.4.0.js"></script>
<script src="../../js/nexus6-mercati.4.0.js"></script>
<script src="../../js/nexus6-fornitori.4.0.js"></script>
<script src="../../js/nexus6-clienti.4.0.js"></script>
<script src="../../js/nexus6-conti.4.0.js"></script>
<script src="../../js/nexus6-registrazioni.4.0.js"></script>
<script src="../../js/nexus6-corrispettivi.4.0.js"></script>
<script src="../../js/nexus6-incassi.4.0.js"></script>
<script src="../../js/nexus6-pagamenti.4.0.js"></script>
<script src="../../js/nexus6-fatture.4.0.js"></script>
<script src="../../js/nexus6-progressivi.4.0.js"></script>
<script src="../../js/nexus6-mercati.4.0.js"></script>
<script src="../../js/nexus6-scadenze.4.0.js"></script>

<script src="../../js/local.js"></script>

</html>