<!doctype html>
<html lang="us">
<head>
	<meta charset="utf-8">
	<title>Nexus6 - Contabilit&agrave;</title>
	<link href="../jquery/jquery-ui.css" rel="stylesheet">
	<style type="text/css" media="screen">
	
		@import url("../css/main.css");
		@import url("../css/jquery.css");
		
	</style>
</head>

<body>
	<div id="body">
		<table>
			<tr>
				<td style="float: left;">
					<a href="../src/main/corpoFacade.class.php?modo=start" target="corpo"><img src="../images/unicorn.png" style="width: 50%"></img></a>
				</td>
				<td>
					<h1>Nexus6&nbsp;&nbsp;<i>2.3.3&nbsp;&nbsp;(ultimo aggiornamento eseguito il 24/7/2016)</i></h1>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>
