<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Nexus8</title>
	<link rel="icon" type="image/png" href="../../images/unicorn.png" />

<!--
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> 
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script> 
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> 
 -->	
 
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css">
	<link href="../../jquery/jquery-ui.css" rel="stylesheet">

	<style type="text/css" media="screen">
		@import url("../../css/main.css");
	</style>	

<!-- 	
	<script src="../../js/todo.js"></script> 
 -->
 		

<!-- 
	<link href="../../jquery/jquery-ui.min.css" rel="stylesheet">
	<link href="../../jquery/jquery-ui.theme.css" rel="stylesheet">
	<link href="../../jquery/jquery-ui.theme.min.css" rel="stylesheet">
-->
 
<!-- 	
	<style type="text/css" media="screen">
		@import url("../../css/jquery.css");
		@import url("../../css/style.css");
	</style>	
	<script src="../../DataTables/media/js/jquery.js"></script>
-->

    <link href="../../jquery/external/jquery.js">
	<script src="../../jquery/jquery-ui.js"></script>
	<script src="../../jquery/jquery-ui.min.js"></script>

<!-- 
	<link href="../../DataTables/media/css/jquery.dataTables.css" rel="stylesheet" type="text/css" >		
	<script src="../../DataTables/media/js/jquery.dataTables.js" type="text/javascript" charset="utf8" ></script>	
 -->	
	
</head>
<body>

<div class="container-fluid">
	<div class="well well-sm">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
			   		<a class="navbar-brand" href="#">Nexus8 %amb%</a> 	
				</div>
			 	<ul class="nav navbar-nav">
			 		%menu%
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-user"></span> %users%</a></li>
					<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Esci</a></li>
				</ul>			 	
		   	</div>
		</nav> 
	</div>	
	<br/>

<!-- Inizio corpo pagina incluso -->
	