<!doctype html>
<html>

    <meta charset="utf-8">
    <title>Nexus8</title>
    <link rel="icon" type="image/png" href="../../images/unicorn.png" />

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>

    <script src="../../js/bootstrap-datepicker.js"></script>
    <script src="../../js/bootstrap-select.min.js"></script>
    <script src="../../js/jquery-ui.min.js"></script>

    <style type="text/css" media="screen">
        @import url("../../jquery/jquery-ui.css");
        @import url("../../css/bootstrap-datepicker.css");
        @import url("../../css/bootstrap-select.min.css");
        @import url("../../css/main.css");
    </style>

    <script src="../../jquery/jquery-ui.js"></script>
    <script src="../../jquery/jquery-ui.min.js"></script>

    <body>

        <div class="panel panel-default">
            <nav class="navbar-default">
                <div class="container">

                    <strong class="navbar-brand" style="color:orange; font-size: 20px;">Nexus8</strong>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="../main/start.php"><span class="glyphicon glyphicon-home"></span></a></li>
                            %menu%
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="divider-vertical"></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">%amb% <span class="glyphicon glyphicon-off"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <!-- Inizio corpo pagina incluso -->