
<!-- ---------------------- -->
<!-- MODIFICA REGISTRAZIONE -->
<!-- ---------------------- -->

<div class="container">
    <div class="modal fade" id="modifica-registrazione-dialog" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modifica Registrazione</h4>
                </div>
                <div class="modal-body">

                    <form method="post" id="modificaRegistrazioneForm" action="../primanota/modificaRegistrazioneFacade.class.php?modo=go" >

                        <div class="well well-sm">
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <div class="control-group" id="datareg_mod_control_group">
                                        <div class='input-group date' data-provide='datepicker' data-date-format="dd-mm-yyyy" data-date-autoclose='true' data-date-today-highlight='true'>
                                            <input type='text' class="form-control" id="datareg_mod" name="datareg_mod"/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class='input-group' id='codneg_mod_control_group'>
                                        <span class="input-group-addon">Neg&nbsp;<small><span class="text-danger" id="codneg_mod_messaggio"></span></small></span>
                                        <select class="selectpicker" id="codneg_mod" name="codneg_mod" >
                                            <option value="ERB" selected>%ml.erba%</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class='input-group' id="descreg_mod_control_group">
                                        <span class="input-group-addon">%ml.descreg%&nbsp;<small><span class="text-danger" id="descreg_mod_messaggio"></span></small></span>
                                        <input class="form-control" id="descreg_mod" name="descreg_mod" type="text" onblur="controllaDescrizione('descreg_mod')"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 ui-front">
                                    <div class='input-group' id="fornitore_mod_control_group">
                                        <span class="input-group-addon">%ml.codforn%</span>
                                        <select class="selectCliFor" data-live-search="true" id="fornitore_mod" name="fornitore_mod" onchange="aggiungiDettaglioContoFornitore(this.value, 'dettagli_mod'); controllaClienteFornitore('fornitore_mod', 'cliente_mod'); controllaCausale('causale_mod');" >
                                            %elenco_fornitori%
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6 ui-front">
                                    <div class='input-group' id="cliente_mod_control_group">
                                        <span class="input-group-addon">%ml.codclie%</span>
                                        <select class="selectCliFor" data-live-search="true" id="cliente_mod" name="cliente_mod" onchange="aggiungiDettaglioContoCliente(this.value, 'dettagli_mod'); controllaClienteFornitore('fornitore_mod', 'cliente_mod'); controllaCausale('causale_mod');" >
                                            %elenco_clienti%
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-8">
                                    <div class='input-group' id="causale_mod_control_group">
                                        <span class="input-group-addon">%ml.codcau%&nbsp;<small><span class="text-danger" id="causale_mod_messaggio"></span></small></span>
                                        <select class="selectCausale" data-live-search="true" id="causale_mod" name="causale_mod" >
                                            <option value=" ">&nbsp;</option>
                                            %elenco_causali_cre%
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class='input-group' id="numfatt_mod_control_group">
                                        <span class="input-group-addon">%ml.numfatt%&nbsp;<small><span class="text-danger" id="numfatt_mod_messaggio"></span></small></span>
                                        <input class="form-control" id="numfatt_mod" name="numfatt_mod" type="text" onblur="controllaNumeroFattura('numfatt_mod'); controllaClienteFornitore('fornitore_mod', 'cliente_mod'); validaNumeroFattura('cliente_mod', 'fornitore_mod', 'numfatt_mod', 'datareg_mod');"/>
                                        <input class="form-control" id="numfatt_mod_orig" name="numfatt_mod_orig" type="hidden"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-7">
                                    <div class="control-group" id="scadenzesuppl_mod_control_group">
                                        <label for="scadenzesuppl_mod">%ml.datascad%&nbsp;<small><span class="text-danger" id="scadenzesuppl_mod_messaggio"></span></small></label>
                                        <table class="table table-bordered" id="scadenzesuppl_mod"></table>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <div class="control-group" id="dettagli_mod_control_group">
                                        <label for="dettagli_mod">Dettagli&nbsp;<small><span class="text-danger" id="dettagli_mod_messaggio"></span></small></label>
                                        <table class="table table-bordered table-hover" id="dettagli_mod"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="button-ok-modifica-registrazione-form">Ok</button>
                    <button type="button" class="btn btn-primary" id="button-nuova-scadenza-modifica-registrazione-form">Nuova scadenza</button>
                    <button type="button" class="btn btn-primary" id="button-nuovo-dettaglio-modifica-registrazione-form">Nuovo Dettaglio</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Chiudi</button>
                </div>
            </div>
        </div>
    </div>
</div>
