
<!-- ------------------- -->
<!-- MODIFICA PAGAMENTO  -->
<!-- ------------------- -->

<div class="container">
    <div class="modal fade" id="modifica-pagamento-dialog" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modifica Pagamento</h4>
                </div>
                <div class="modal-body">

                    <form method="post" id="modificaPagamentoForm" action="../primanota/modificaPagamentoFacade.class.php?modo=go" >
                        <div class="well well-sm">
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <div class='input-group' id="datareg_pag_cre_control_group">
                                        <div class='input-group date' data-provide='datepicker' data-date-format="dd-mm-yyyy" data-date-autoclose='true' data-date-today-highlight='true'>
                                            <input type='text' class="form-control" id="datareg_pag_mod" name="datareg_pag_mod"/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class='input-group'>
                                        <span class="input-group-addon">Neg</span>
                                        <select class="selectNegozio" id="codneg_pag_mod" name="codneg_pag_mod">
                                            <option value=" ">&nbsp;</option>
                                            <option value="VIL" selected>%ml.villa%</option>
                                            <option value="BRE">%ml.brembate%</option>
                                            <option value="TRE">%ml.trezzo%</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class='input-group' id="descreg_pag_mod_control_group">
                                        <span class="input-group-addon">%ml.descreg%</span>
                                        <input class="form-control" id="descreg_pag_mod" name="descreg_pag_mod" type="text" onblur="controllaDescrizione('descreg_pag_mod')"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <div class='input-group' id="causale_pag_mod_control_group">
                                        <span class="input-group-addon">%ml.codcau%</span>
                                        <select class="selectCausale" data-live-search="true" id="causale_pag_mod" name="causale_pag_mod" >
                                            <option value=" ">&nbsp;</option>
                                            %elenco_causali_pag_mod%
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6 ui-front">
                                    <div class='input-group' id="fornitore_pag_mod_control_group">
                                        <span class="input-group-addon">%ml.codforn%</span>
                                        <select class="selectCliFor" data-live-search="true" id="fornitore_pag_mod" name="fornitore_pag_mod" onchange="aggiungiDettaglioContoFornitore(this.value, 'dettagli_pag_mod'); controllaClienteFornitore('fornitore_pag_mod', 'cliente_pag_mod'); controllaCausale('causale_pag_mod');" >
                                            %elenco_fornitori%
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <div class="control-group" id="scadenze_chiuse_pag_mod_control_group">
                                        <label for="scadenze_chiuse_pag_mod">Fatture incluse nel pagamento<small><span class="text-danger" id="scadenze_chiuse_pag_mod_messaggio"></span></small></label>
                                        <table class="table table-bordered table-hover" id="scadenze_chiuse_pag_mod"></table>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="control-group" id="scadenze_aperte_pag_mod_control_group">
                                        <label for="scadenze_aperte_pag_mod">Fatture rimanenti da pagare<small><span class="text-danger" id="scadenze_aperte_pag_mod_messaggio"></span></small></label>
                                        <table class="table table-bordered table-hover" id="scadenze_aperte_pag_mod"></table>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <div class="control-group" id="dettagli_pag_mod_control_group">
                                        <label for="dettagli_pag_mod">Dettagli&nbsp;<small><span class="text-danger" id="dettagli_pag_mod_messaggio"></span></small></label>
                                        <table class="table table-bordered table-hover" id="dettagli_pag_mod"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="button-ok-modifica-pagamento-form">Ok</button>
                    <button type="button" class="btn btn-primary" id="button-nuovo-dettaglio-modifica-pagamento-form">Nuovo Dettaglio</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Chiudi</button>
                </div>
            </div>
        </div>
    </div>
</div>
