
<!-- ================ -->
<!-- MODIFICA INCASSO -->
<!-- ================ -->

<div class="container">
    <div class="modal fade" id="modifica-incasso-dialog" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modifica Incasso</h4>
                </div>
                <div class="modal-body">

                    <form method="post" id="modificaIncassoForm" action="../primanota/modificaIncassoFacade.class.php?modo=go" >
                        <div class="well well-sm">
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <div class="control-group" id="datareg_inc_mod_control_group">
                                        <div class='input-group date' data-provide='datepicker' data-date-format="dd-mm-yyyy" data-date-autoclose='true' data-date-today-highlight='true'>
                                            <input type='text' class="form-control" id="datareg_inc_mod" name="datareg_inc_mod"/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class='input-group'>
                                        <span class="input-group-addon">Neg</span>
                                        <select class="selectNegozio" id="codneg_inc_mod" name="codneg_inc_mod">
                                            <option value=" ">&nbsp;</option>
                                            <option value="VIL" selected>%ml.villa%</option>
                                            <option value="BRE">%ml.brembate%</option>
                                            <option value="TRE">%ml.trezzo%</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class='input-group' id="descreg_inc_mod_control_group">
                                        <span class="input-group-addon">%ml.descreg%</span>
                                        <input class="form-control" id="descreg_inc_mod" name="descreg_inc_mod" type="text" onblur="controllaDescrizione('descreg_inc_mod')"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <div class='input-group' id="causale_inc_mod_control_group">
                                        <span class="input-group-addon">%ml.codcau%</span>
                                        <select class="selectCausale" data-live-search="true" id="causale_inc_mod" name="causale_inc_mod" >
                                            <option value=" ">&nbsp;</option>
                                            %elenco_causali_inc_mod%
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6 ui-front">
                                    <div class='input-group' id="cliente_inc_mod_control_group">
                                        <span class="input-group-addon">%ml.codclie%</span>
                                        <select class="selectCliFor" data-live-search="true" id="cliente_inc_mod" name="cliente_inc_mod" onchange="aggiungiDettaglioContoCliente(this.value, 'dettagli_inc_mod'); controllaClienteFornitore('fornitore_inc_mod', 'cliente_inc_mod'); controllaCausale('causale_inc_mod');" >
                                            %elenco_clienti%
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <div class="control-group" id="scadenze_chiuse_inc_mod_control_group">
                                        <label for="scadenze_chiuse_inc_mod">Fatture incluse nell'incasso<small><span class="text-danger" id="scadenze_chiuse_inc_mod_messaggio"></span></small></label>
                                        <table class="table table-bordered table-hover" id="scadenze_chiuse_inc_mod"></table>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="control-group" id="scadenze_aperte_inc_mod_control_group">
                                        <label for="scadenze_aperte_inc_mod">Fatture rimanenti da incassare<small><span class="text-danger" id="scadenze_aperte_inc_mod_messaggio"></span></small></label>
                                        <table class="table table-bordered table-hover" id="scadenze_aperte_inc_mod"></table>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <div class="control-group" id="dettagli_inc_mod_control_group">
                                        <label for="dettagli_inc_mod">Dettagli&nbsp;<small><span class="text-danger" id="dettagli_inc_mod_messaggio"></span></small></label>
                                        <table class="table table-bordered table-hover" id="dettagli_inc_mod"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="button-ok-modifica-incasso-form">Ok</button>
                    <button type="button" class="btn btn-primary" id="button-nuovo-dettaglio-modifica-incasso-form">Nuovo Dettaglio</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Chiudi</button>
                </div>
            </div>
        </div>
    </div>
</div>
