
<!-- =========================== -->
<!-- NUOVO CORRISPETTIVO MERCATO -->
<!-- =========================== -->

<div class="container">
    <div class="modal fade" id="nuovo-corrispettivo-mercato-dialog" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Nuovo Corrispettivo Mercato</h4>
                </div>
                <div class="modal-body">

                    <form method="post" id="nuovoCorrispettivoMercatoForm" action="../primanota/creaCorrispettivoMercatoFacade.class.php?modo=go">

                        <div class="well well-sm">
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <div class='input-group' id="datareg_pag_cre_control_group">
                                        <div class='input-group date' data-provide='datepicker' data-date-format="dd-mm-yyyy" data-date-autoclose='true' data-date-today-highlight='true'>
                                            <input type='text' class="form-control" id="datareg_cormer_cre" name="datareg_cormer_cre"/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>			
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class='input-group'>
                                        <span class="input-group-addon">Neg</span>
                                        <select class="selectNegozio" id="codneg_cormer_cre" name="codneg_cormer_cre">
                                            <option value=" ">&nbsp;</option>
                                            <option value="VIL">%ml.villa%</option>
                                            <option value="BRE">%ml.brembate%</option>
                                            <option value="TRE">%ml.trezzo%</option>
                                        </select>			
                                    </div>	
                                </div>
                                <div class="col-sm-5">
                                    <div class='input-group' id="descreg_cormer_cre_control_group">
                                        <span class="input-group-addon">%ml.descreg%</span>
                                        <input class="form-control" id="descreg_cormer_cre" name="descreg_cormer_cre" type="text" onblur="controllaDescrizione('descreg_cormer_cre')"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <div class='input-group' id="causale_cormer_cre_control_group">
                                        <span class="input-group-addon">%ml.codcau%</span>
                                        <select class="selectCausale" data-live-search="true" id="causale_cormer_cre" name="causale_cormer_cre" >
                                            <option value=" ">&nbsp;</option>
                                            %elenco_causali_cormer_cre%
                                        </select>			
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class='input-group' id="mercato_cormer_cre_control_group">
                                        <span class="input-group-addon">%ml.mercato%</span>
                                        <select class="selectpicker" id="mercato_cormer_cre" name="mercato_cormer_cre" ></select>			
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <div class="control-group" id="dettagli_cormer_cre_control_group">
                                        <label for="dettagli_cormer_cre">Dettagli&nbsp;<small><span class="text-danger" id="dettagli_cormer_cre_messaggio"></span></small></label>
                                        <table class="table table-bordered table-hover" id="dettagli_cormer_cre"></table>
                                    </div>	
                                </div>
                            </div>

                        </div>		
                    </form>	

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="button-ok-nuovo-corrispettivo-mercato-form">Ok</button>
                    <button type="button" class="btn btn-primary" id="button-nuovo-dettaglio-nuovo-corrispettivo-mercato-form">Nuovo Dettaglio</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Chiudi</button>
                </div>
            </div>
        </div>
    </div>
</div>
