
<!-- ================================ -->
<!-- NUOVO DETTAGLIO MODIFICA INCASSO -->
<!-- ================================ -->

<div class="container">
    <div class="modal fade" id="nuovo-dettaglio-modifica-incasso-dialog" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Nuovo dettaglio incasso</h4>
                </div>
                <div class="modal-body">
                    <div class="well well-sm">
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <div class='input-group'>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
                                    <input class="form-control" id="newimpdett_inc_mod" name="newimpdett_inc_mod" type="text" maxlength="10" onkeypress="controllaImporto('newimpdett_inc_mod')">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class='input-group'>
                                    <span class="input-group-addon">D/A</span>
                                    <input class="form-control" id="newsegnodett_inc_mod" name="newsegnodett_inc_mod" type="text" maxlength="1" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-8">
                                <div class='input-group'>
                                    <span class="input-group-addon">Cc</span>
                                    <select class="selectpicker" data-live-search="true" id="conti_inc_mod" name="newcontodett_inc_mod"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="button-ok-nuovodett-modifica-incasso-form">Ok</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
                </div>
            </div>
        </div>
    </div>
</div>
