
<!-- ------------------------------------------ -->
<!-- NUOVA DATA SCADENZA MODIFICA REGISTRAZIONE -->
<!-- ------------------------------------------ -->

<div class="container">
	<div class="modal fade" id="nuova-data-scadenza-modifica-dialog" role="dialog">
		<div class="modal-dialog">
	      <!-- Modal content-->
			<div class="modal-content">
	        	<div class="modal-header">
	          		<h4 class="modal-title">Nuova scadenza</h4>
	        	</div>
	        	<div class="modal-body">
					<form method="post" id="nuovaDataScadenzaModificaForm">
						<div class="well well-sm">
							<div class="form-group row">
								<div class="col-xs-4">
									<div class='input-group date' data-provide='datepicker' data-date-format="dd-mm-yyyy" data-date-autoclose='true' data-date-today-highlight='true'>
				                		<input type='text' class="form-control" id="newdatascad_mod" name="newdatascad_mod" />
				                		<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
				            		</div>			
							  	</div>
							  	<div class="col-xs-4">
				 					<div class='input-group'>
										<span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
										<input class="form-control" id="newimpscad_mod" name="newimpscad_mod" type="text" maxlength="10" onkeypress="controllaImporto('newimpscad_mod')">
									</div>
							  	</div>
					  		</div>
						</div>					
					</form>	        	
	        	</div>
	        	<div class="modal-footer">
	          		<button type="button" class="btn btn-primary" data-dismiss="modal" id="button-ok-nuovascad-modifica-registrazione-form">Ok</button>
	          		<button type="button" class="btn btn-primary" data-dismiss="modal">Chiudi</button>
	        	</div>
	      	</div>
		</div>
	</div>
</div>
