
<!-- ------------------------- -->
<!-- VISUALIZZA REGISTRAZIONE  -->
<!-- ------------------------- -->

<div class="container">
    <div class="modal fade" id="visualizza-registrazione-dialog" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Visualizza Registrazione</h4>
                </div>
                <div class="modal-body">

                    <div class="well well-sm">
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <div class="control-group">
                                    <label for="datareg_vis">%ml.datareg%</label>
                                    <span id="datareg_vis"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label for="codneg_vis">%ml.negozio%</label>
                                <span id="codneg_vis"></span>
                            </div>
                            <div class="col-sm-2 ui-front">
                                <div class="control-group">
                                    <label for="numfatt_vis">%ml.numfatt%</label>
                                    <span id="numfatt_vis"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="control-group">
                                    <label for="causale_vis">%ml.codcau%</label>
                                    <span id="causale_vis"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="control-group">
                                    <label for="descreg_vis">%ml.descreg%</label>
                                    <span id="descreg_vis"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="control-group">
                                    <label id="fornitore_vis_label" for="fornitore_vis">%ml.codforn%</label>
                                    <span id="fornitore_vis"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 ui-front">
                                <div class="control-group">
                                    <label id="cliente_vis_label" for="cliente_vis">%ml.codclie%</label>
                                    <span id="cliente_vis"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-7">
                                <div class="control-group">
                                    <label for="scadenzesuppl_vis">%ml.datascad%</label>
                                    <table class="table table-bordered" id="scadenzesuppl_vis"></table>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="control-group">
                                    <label for="dettagli_vis">Dettagli</label>
                                    <table class="table table-bordered table-hover" id="dettagli_vis"></table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Chiudi</button>
                </div>
            </div>
        </div>
    </div>
</div>
