
<!-- ============================== -->
<!-- VISUALIZZA CORRISPETTIVO NEGOZIO  -->
<!-- ============================== -->

<div class="container">
    <div class="modal fade" id="visualizza-corrispettivo-negozio-dialog" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Visualizza Corrispettivo Negozio</h4>
                </div>
                <div class="modal-body">
                    <div class="well well-sm">
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <div class="control-group">
                                    <label for="datareg_corneg_vis">%ml.datareg%</label>
                                    <span id="datareg_corneg_vis"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label for="codneg_corneg_vis">%ml.negozio%</label>
                                <span id="codneg_corneg_vis"></span>
                            </div>
                            <div class="col-sm-6">
                                <div class="control-group">
                                    <label for="descreg_corneg_vis">%ml.descreg%</label>
                                    <span id="descreg_corneg_vis"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="control-group">
                                    <label for="causale_corneg_vis">%ml.codcau%</label>
                                    <span id="causale_corneg_vis"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="control-group">
                                    <label for="dettagli_corneg_vis">Dettagli</label>
                                    <table class="table table-bordered table-hover" id="dettagli_corneg_vis"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Chiudi</button>
                </div>
            </div>
        </div>
    </div>
</div>
