<body>
<script type="text/javascript">

$(document).ready( function () {
    $('#scadenze').dataTable( {
    	"order": [[0, 'asc'],[1, 'asc'] ],
    	"columnDefs": [
       	    {"targets": 0, "orderable": false, "visible": false },
       	    {"targets": 1, "orderable": false, "visible": false },
    	    {"targets": 2, "orderable": false },
    	    {"targets": 3, "orderable": false },
    	    {"targets": 4, "orderable": false },
    	    {"targets": 5, "orderable": false },
    	    {"targets": 6, "orderable": false },
    	    {"targets": 7, "orderable": false },
    	    {"targets": 8, "orderable": false },
    	    {"targets": 9, "orderable": false },
    	    {"targets": 10, "orderable": false }
    		],
   		"language": {
               "lengthMenu": "Visualizza _MENU_ righe per pagina",
               "zeroRecords": "La ricerca non ha prodotto risultati",
               "info": "Pagina _PAGE_ di _PAGES_",
               "infoEmpty": "La ricerca non ha prodotto risultati",
               "infoFiltered": "(righe filtrate da _MAX_ totali)",
               "search": "Cerca:",
               "paginate": {
                   "first":      "Prima",
                   "last":       "Ultima",
                   "next":       "Prossima",
                   "previous":   "Precedente"
               }
        },
        "lengthMenu": [ 10, 15, 20, 25, 50, 75, 100 ]
    } );
} );

</script>

<div id="body">
	<div id="main">
		<h2>%titoloPagina%</h2>
		<br>
		<form method="post" action="%azione%" >
			<table class="datiCreate" cellpadding="5px">
				<tbody>
					<tr>
						<td>%ml.negozio% :</td>
						<td class="tooltip">
							<select class="selectmenuNegozio" id="codneg_sel" name="codneg_sel" >
								<option value="">%ml.tutti%</option>
								<option value="VIL" %villa-selected% >%ml.villa%</option>
								<option value="BRE" %brembate-selected% >%ml.brembate%</option>
								<option value="TRE" %trezzo-selected% >%ml.trezzo%</option>
							</select>
						</td>
						
						<td>%ml.stascadenza% :</td>
						<td class="tooltip">
							<select class="selectmenuStato" id="statoscad_sel" name="statoscad_sel" >
								<option value="">%ml.tutti%</option>
								<option value="00" %00-selected% >%ml.daincassare%</option>
								<option value="10" %10-selected% >%ml.incassato%</option>
								<option value="02" %02-selected% >%ml.shift%</option>
							</select>
						</td>
					
						<td class="td">%ml.da% :</td>
						<td class="tooltip"><input class="datepicker" type="text" name="datareg_da" size="10" maxlength="10" value='%datareg_da%' ></td>
						<td class="td">%ml.a% :</td>
						<td class="tooltip"><input class="datepicker" type="text" name="datareg_a" size="10" maxlength="10" value='%datareg_a%' ></td>
						<td width="50"></td>						
						<td class="tooltip" colspan="6"><button class="button" title="%ml.cercaTip%" >%ml.cerca%</button></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
					</tr>
				</tfoot>
			</table>
		</form>
		<br>
		%risultato_ricerca%
		<br>
		<form class="tooltip" method="post" id="estraipdf" action="../scadenze/estraiPdfScadenzeClienteFacade.class.php?modo=start" >
			%bottoneEstraiPdf%
			<input type="hidden" name="datareg_da" value='%datareg_da%' >
			<input type="hidden" name="datareg_a" value='%datareg_a%' >
			<input type="hidden" name="codneg_sel" value='%codneg_sel%' >
		</form>
		