<body>

<div id="body">
	<div id="main">
		<h2>%titoloPagina%</h2>

		<form method="post" action="%azione%" >
			<table class="datiCreate" cellpadding="5px">
				<tbody>
					<tr>
						<td class="td">%ml.datascad% &ndash; %ml.da% :</td>
						<td class="tooltip"><input class="datepicker" type="text" name="datascad_da" size="10" maxlength="10" value='%datascad_da%' ></td>
						<td class="td">%ml.a% :</td>
						<td class="tooltip"><input class="datepicker" type="text" name="datascad_a" size="10" maxlength="10" value='%datascad_a%' ></td>
						<td width="50"></td>						
						<td class="tooltip" colspan="6"><button class="button" title="%ml.cercaTip%" >%ml.cerca%</button></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
					</tr>
				</tfoot>
			</table>
		</form>
		<br>
		%risultato_ricerca%
		