
<!-- --------------------------- -->
<!-- STEP1 : RICERCA             -->
<!-- --------------------------- -->

<div class="container-fluid">
    <div class="row bs-wizard" style="border-bottom:0;">

        <div class="col-xs-4 bs-wizard-step active">
          <div class="text-center bs-wizard-stepnum">Step 1</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="#" class="bs-wizard-dot"></a>
          <div class="bs-wizard-info text-center">Ricerca registrazioni conto da migrare</div>
        </div>

        <div class="col-xs-4 bs-wizard-step disabled"><!-- complete -->
          <div class="text-center bs-wizard-stepnum">Step 2</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="#" class="bs-wizard-dot"></a>
          <div class="bs-wizard-info text-center">Scelta del conto di destinazione</div>
        </div>

        <div class="col-xs-4 bs-wizard-step disabled"><!-- complete -->
          <div class="text-center bs-wizard-stepnum">Step 3</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="#" class="bs-wizard-dot"></a>
          <div class="bs-wizard-info text-center">Conferma migrazione registrazioni verso il conto di destinazione</div>
        </div>
    </div>    
    
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">

            <div class="row">
                <div class="col-sm-7">
                    <h4>%titoloPagina%</h4>
                </div>
            </div>
            <br/>
            <form method="post" action="%azione%">
                
                <div class="form-group row">    
                    <div class="col-sm-2">
                        <div class="input-group">
                            <span class="input-group-addon">Neg</span>
                            <div class='form-control form-control-selectpicker'>
                                <select class="selectNegozio" id="codneg_sel" name="codneg_sel" >
                                    <option value="">%ml.tutti%</option>
                                    <option value="ERB" %erba-selected% >%ml.erba%</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class='input-group'>
                            <div class='input-group date' id='datepicker' data-provide='datepicker' data-date-format="dd-mm-yyyy" data-date-autoclose='true' data-date-today-highlight='true'>
                                <input type='text' class="form-control" name="datareg_da" value='%datareg_da%' />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class='input-group'>
                            <div class='input-group date' data-provide='datepicker' data-date-format="dd-mm-yyyy" data-date-autoclose='true' data-date-today-highlight='true'>
                                <input type='text' class="form-control" name="datareg_a" value='%datareg_a%' />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class='input-group'>
                            <span class="input-group-addon">Cc</span>
                            <select class='selectpicker' data-live-search='true' id="conti" name="codconto_sel">%elenco_conti%</select>
                        </div>	
                    </div>
                    <div class="col-sm-1">
                        <input type="hidden" name="modo" value="go"/> 
                        <button id="submit" type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-body scrollable-panel">
            %risultato_ricerca%
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <form method="post" id="avanti" action="../strumenti/cambiaContoStep2Facade.class.php?modo=start" >
                        <button class="btn btn-default pull-right">
                            <span class="glyphicon glyphicon-arrow-right"></span>
                        </button>
                    </form>		
                </div>
            </div>
        </div>
    </div>
</div>