<body>

<script type="text/javascript">

var indexSottocontiInseriti = [%arrayIndexSottocontiInseriti%];
var sottocontiInseriti = [%arraySottocontiInseriti%];

function aggiungiSottoconto() {

	var codsottoconto = $("#codsottoconto").val();
	var dessottoconto = $("#dessottoconto").val();

	if (codsottoconto.substring(0,1) != "0") {
		var rowCount = $('#sottoconti tr').length;
		
		if (rowCount == 0) {
			$( "#sottoconti-head thead" ).append("<tr>" + 
				"<th width='100' align='center'>Sottoconto</th>" + 
				"<th width='400' align='left'>Descrizione</th>" + 
				"<th width='23'>&nbsp;</th>" +
				"</tr>");
			$( "#sottoconti-head" ).addClass("datiCreateSottile");
		}
			
		$( "#sottoconti tbody" ).append( "<tr id='" + codsottoconto + "'>" +
	        "<td width='107' align='center'>" + codsottoconto + "</td>" +
	        "<td width='407' align='left'>" + dessottoconto + "</td>" +
	    	"<td width='25' id='icons'><a class='tooltip' onclick='cancellaSottocontoPagina(" + codsottoconto + ")'><li class='ui-state-default ui-corner-all' title='Cancella'><span class='ui-icon ui-icon-trash'></span></li></a></td>" +
	      "</tr>" );
		
		var elemento = codsottoconto + "#" + dessottoconto;
		addSottoconto(elemento);
		
		$("#codsottoconto").val("");
		$("#dessottoconto").val("");					
	}
}

function addSottoconto(elemento) {
	
	sottocontiInseriti.push(elemento);
	aggiornaSottocontiInseriti(sottocontiInseriti);

	var cc = elemento.split("#");	
	var conto = cc[0].toString();
	
	indexSottocontiInseriti.push(conto);
	aggiornaIndexSottocontiInseriti(indexSottocontiInseriti);
}

function aggiornaSottocontiInseriti(sottocontiInseriti) {
	$("#sottocontiInseriti").val(sottocontiInseriti);
}

function aggiornaIndexSottocontiInseriti(indexSottocontiInseriti) {
	$("#indexSottocontiInseriti").val(indexSottocontiInseriti);
}

</script>
	
<div id="body">
	<div id="main">
		<h2>%titoloPagina%</h2>

		<form method="post" action="%azione%" >
			<table class="datiCreate" cellpadding="5px">
				<tbody>
					<tr>
						<td>%ml.conto% :</td>
						<td class="tooltip"><input type="text" id="codconto" name="codconto" size="5" maxlength="3" value='%codconto%' ></td>
					</tr>
					<tr>
						<td>%ml.desconto% :</td>
						<td class="tooltip"><input type="text" id="desconto" name="desconto" size="70" maxlength="100" value='%desconto%' ></td>
					</tr>			
					<tr>
						<td colspan="2">
							<div class="radioset" >
								<input type="radio" id="contoeco" name="categoria" value="Conto Economico" checked ><label for="contoeco">%ml.contoeco%</label>
								<input type="radio" id="contopat" name="categoria" value="Stato Patrimoniale" ><label for="contopat">%ml.contopat%</label>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<input type="radio" id="dare" name="dareavere" value="Dare" checked ><label for="dare">%ml.dare%</label>
								<input type="radio" id="avere" name="dareavere" value="Avere" ><label for="avere">%ml.avere%</label>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="4">
						
							<h2>Opzioni di bilancio</h2>
							<table class="datiCreate" cellpadding="5px">
								<tbody>
									<tr>
										<td>
											<div class="radioset" >
												<input type="radio" id="presenzaSi" name="indpresenza" value="S" checked ><label for="presenzaSi">%ml.presenteInBilancio%</label>
												<input type="radio" id="presenzaNo" name="indpresenza" value="N" ><label for="presenzaNo">%ml.assenteInBilancio%</label>
											</div>
										</td>
										<td>
											<div class="radioset" >
												<input type="radio" id="sottocontiSi" name="indvissottoconti" value="S" checked ><label for="sottocontiSi">%ml.presenzaSottoconti%</label>
												<input type="radio" id="sottocontiNo" name="indvissottoconti" value="N" ><label for="sottocontiNo">%ml.assenzaSottoconti%</label>
											</div>
										</td>				
									</tr>
									<tr>
										<td>
											<label for="amount">%ml.numrigabilancio% :</label>
											<input type="text" id="numrigabilancio" name="numrigabilancio" size="3" readonly style="border:0; color:#f6931f; font-weight:bold;">												
										</td>
										<td colspan="2"><div id="slider-posizione-bilancio"></div>
									</tr>				
								</tbody>								
							</table>
						
						</td>
					</tr>
					<tr>
						<td colspan="4">
							<table id="sottoconti-head" class='result'>
							    <thead>%thead_sottoconti%</thead>
							</table>
							<div class='scroll-sottoconti'>
								<table id="sottoconti" class="datiCreateSottile">
								    <tbody>%tbody_sottoconti%</tbody>
								</table>			
							</div>	
						</td>
					</tr>										
				</tbody>
				<tfoot>
					<tr>
						<td colspan="6" align="right" class="tooltip"><button id="nuovo-sottoconto" class="button" title="%ml.nuovoSottocontoTip%" >%ml.nuovoSottoconto%</button></td>
						<td colspan="6" align="right" class="tooltip"><button id="salva" class="button" title="%ml.salvaTip%" >%ml.salva%</button></td>
					</tr>
				</tfoot>
			</table>
			<input type="hidden" size='150' id="sottocontiInseriti" name="sottocontiInseriti" value="%sottocontiInseriti%" />
			<input type="hidden" size='150' id="indexSottocontiInseriti" name="indexSottocontiInseriti" value="%arrayIndexSottocontiInseriti%" />
		</form>
	</div>
</div>

<div id="nuovo-sottoconto-form" title="Nuovo Sottoconto"> 
	<form>
		<table class="datiCreate" cellpadding="5px">
			<tbody>
				<tr>
					<td>%ml.codsottoconto% :</td>
					<td class="tooltip"><input type="text" id="codsottoconto" name="codsottoconto" size="5" maxlength="3" ></td>
				</tr>					
				<tr>
					<td>%ml.dessottoconto% :</td>
					<td class="tooltip"><input type="text" id="dessottoconto" name="dessottoconto" size="50" maxlength="100" ></td>
				</tr>					
			</tbody>
		</table> 	 
  </form>
</div>

<br/>