<body>

<div id="body">
	<div id="main">
		<h2>%titoloPagina%</h2>

		<form method="post" action="%azione%" >
			<table class="datiCreate" cellpadding="5px">
				<tbody>
					<tr>
						<td>%ml.codcausale% :</td>
						<td class="tooltip"><input type="text" id="codcausale" name="codcausale" size="6" maxlength="4" value='%codcausale%' ></td>
					</tr>
					<tr>
						<td>%ml.descausale% :</td>
						<td class="tooltip"><input type="text" id="descausale" name="descausale" size="70" maxlength="100" value='%descausale%' ></td>
					</tr>			
				</tbody>
				<tfoot>
					<tr>
						<td colspan="2" align="right" class="tooltip"><button id="salva" class="button" title="%ml.salvaTip%" >%ml.salva%</button></td>
					</tr>
				</tfoot>
			</table>
		</form>
	</div>
</div>

<br/>