<body>
<script type="text/javascript">

$(document).ready( function () {
    $('#mastrino').dataTable( {
    	"order": [[0, 'asc']],
    	"columnDefs": [
       	    {"targets": 0, "visible": false },
       	    {"targets": 1, "orderable": false },
    	    {"targets": 2, "orderable": false },
    	    {"targets": 3, "orderable": false },
    	    {"targets": 4, "orderable": false },
    	    {"targets": 5, "orderable": false }
    		],
   		"language": {
               "lengthMenu": "Visualizza _MENU_ righe per pagina",
               "zeroRecords": "La ricerca non ha prodotto risultati",
               "info": "Pagina _PAGE_ di _PAGES_",
               "infoEmpty": "La ricerca non ha prodotto risultati",
               "infoFiltered": "(righe filtrate da _MAX_ totali)",
               "search": "Cerca:",
               "paginate": {
                   "first":      "Prima",
                   "last":       "Ultima",
                   "next":       "Prossima",
                   "previous":   "Precedente"
               }
        },
        "lengthMenu": [ 10, 15, 20, 25, 50, 75, 100, "All" ]
    } );
} );

</script>

<div id="body">
	<div id="main">
		<h2>%titoloPagina% %catconto% &ndash; %desconto% / %dessottoconto%</h2>

		<form class="tooltip" method="post" id="back" action="../configurazioni/ricercaContoFacade.class.php?modo=go" >
			<button id="indietro" class="button" title="%ml.indietroTip%" onclick="back()" >%ml.indietro%</button>
			<input type="hidden" name="categoria" value='%categoria%' >
			<input type="hidden" name="tipoconto" value='%tipoconto%' >
		</form>
		<br>		
		<form method="post" action="%azione%" >
			<table class="datiCreate" cellpadding="5px">
				<tbody>
					<tr style="float:left;">
						<input type="hidden" name="codneg_sel" value="CAS"/>
						<td class="td">%ml.conto% :</td>
						<td>
							<input type="text" size="4" maxlength="6" id="codcontogenera" name="codcontogenera" value="%codconto%" readonly />
							<input type="text" size="4" maxlength="6" id="codsottocontogenera" name="codsottocontogenera" value="%codsottoconto%" readonly />
						</td>
						<td class="td">%ml.da% :</td>
						<td class="tooltip">
							<input class="datepicker" type="text" name="datareg_da" size="10" maxlength="10" value='%datareg_da%' >
							&nbsp;&nbsp;&nbsp;%ml.a% : <input class="datepicker" type="text" name="datareg_a" size="10" maxlength="10" value='%datareg_a%' >
						</td>
						<td>
							<div class="radioset" >
								<input type="radio" id="saldiInclusi" name="saldiInclusi" value="S" %saldiInclusichecked% ><label for="saldiInclusi">%ml.saldiInclusi%</label>
								<input type="radio" id="saldiEsclusi" name="saldiInclusi" value="N" %saldiEsclusichecked% ><label for="saldiEsclusi">%ml.saldiEsclusi%</label>
							</div>
						</td>					
						<td class="tooltip" align="right"><button class="button" title="%ml.cercaTip%" >%ml.cerca%</button></td>
					</tr>
				</tbody>
			</table>
		</form>
		<br>
		%risultato_ricerca%		
		<br>
	</div>		
		<form class="tooltip" method="post" id="estraipdf" action="../configurazioni/estraiPdfMastrinoContoFacade.class.php?modo=start" >
			%bottoneEstraiPdf%
			<input type="hidden" name="datareg_da" value='%datareg_da%' />
			<input type="hidden" name="datareg_a" value='%datareg_a%' />
			<input type="hidden" name="codconto" value='%codconto%' />
			<input type="hidden" name="codsottoconto" value='%codsottoconto%' />
			<input type="hidden" name="codneg_sel" value='%codneg_sel%' />
			<input type="hidden" name="catconto" value='%catconto%' />
			<input type="hidden" name="desconto" value='%desconto%' />
			<input type="hidden" name="dessottoconto" value='%dessottoconto%' />
			<input type="hidden" name="saldiInclusi" value='%saldiInclusi%' />
		</form>
				