<script>
function setNumeroRigaBilancio(nn) {
	$( "#slider-posizione-bilancio" ).slider( "value", nn );	
    $( "#numrigabilancio" ).val( $( "#slider-posizione-bilancio" ).slider( "value" ) );
}
</script>

<body onload=setNumeroRigaBilancio(%numrigabilancio%)>

<script type="text/javascript">

$(document).ready( function () {
    $('#sottoconti').dataTable( {
    	"order": [[0, 'asc']],
    	"columnDefs": [
    	          	{"targets": 0, "orderable": false },
    	          	{"targets": 1, "orderable": false },
    	       	    {"targets": 2, "orderable": false },
    	       	    {"targets": 3, "orderable": false },
    	       	    {"targets": 4, "orderable": false }
    	       		],    	
        "lengthMenu": [ 5 ],
   		"language": {
            "lengthMenu": "Visualizza _MENU_ righe per pagina",
            "zeroRecords": "La ricerca non ha prodotto risultati",
            "info": "Pagina _PAGE_ di _PAGES_",
            "infoEmpty": "La ricerca non ha prodotto risultati",
            "infoFiltered": "(righe filtrate da _MAX_ totali)",
            "search": "Cerca:",
            "paginate": {
                "first":      "Prima",
                "last":       "Ultima",
                "next":       "Prossima",
                "previous":   "Precedente"
            }
     	},        
        "info":     false        
    } );
} );

</script>

<div id="body">
	<div id="main">
		<h2>%titoloPagina%</h2>
		<br>
		<form method="post" action="%azione%" >
			<table class="datiCreate" cellpadding="5px" width="70%">
				<tbody>
					<tr>
						<td class="tooltip">%ml.conto% :
							<input type="text" id="codconto" name="codconto" size="5" maxlength="3" value='%codconto%' disabled="disabled" >
							<input type="text" id="desconto" name="desconto" size="70" maxlength="100" value='%desconto%' >
						</td>
					</tr>
					<tr>
						<td >
							<div class="radioset" >
								<input type="radio" id="contoeco" name="categoria" value="Conto Economico" %contoeco_checked% ><label for="contoeco">%ml.contoeco%</label>
								<input type="radio" id="contopat" name="categoria" value="Stato Patrimoniale" %contopat_checked% ><label for="contopat">%ml.contopat%</label>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<input type="radio" id="dare" name="dareavere" value="Dare" %dare_checked% ><label for="dare">%ml.dare%</label>
								<input type="radio" id="avere" name="dareavere" value="Avere" %avere_checked% ><label for="avere">%ml.avere%</label>
							</div>
						</td>						
					</tr>
					<tr>
						<td>						
							<h2>Opzioni di bilancio</h2>
							<table class="datiCreate" cellpadding="5px">
								<tbody>
									<tr>
										<td>
											<div class="radioset" >
												<input type="radio" id="presenzaSi" name="indpresenza" value="S" %presenzaSi_checked% ><label for="presenzaSi">%ml.presenteInBilancio%</label>
												<input type="radio" id="presenzaNo" name="indpresenza" value="N" %presenzaNo_checked% ><label for="presenzaNo">%ml.assenteInBilancio%</label>
											</div>
										</td>
										<td>
											<div class="radioset" >
												<input type="radio" id="sottocontiSi" name="indvissottoconti" value="S" %sottocontiSi_checked% ><label for="sottocontiSi">%ml.presenzaSottoconti%</label>
												<input type="radio" id="sottocontiNo" name="indvissottoconti" value="N" %sottocontiNo_checked%><label for="sottocontiNo">%ml.assenzaSottoconti%</label>
											</div>
										</td>				
									</tr>
									<tr>
										<td>
											<label for="amount">%ml.numrigabilancio% :</label>
											<input type="text" id="numrigabilancio" name="numrigabilancio" size="3" readonly value='%numrigabilancio%' style="border:0; color:#f6931f; font-weight:bold;">												
										</td>
										<td colspan="2"><div id="slider-posizione-bilancio"></div>
									</tr>				
								</tbody>								
							</table>
						
						</td>
					</tr>
					<tr>
						<td>
							<table id="sottoconti" class='display'>
							    <thead>
									<tr>
										<th>Sottoconto</th>
										<th>Descrizione</th>
										<th>Gruppo</th>
										<th>&nbsp;</th>
										<th>&nbsp;</th>
									</tr>
							    </thead>
								<tbody>
									%tbody_sottoconti%
								</tbody>
							</table>			
						</td>
					</tr>										
				</tbody>
				<tfoot>
					<tr>
						<td align="right" class="tooltip">
							<button id="nuovo-sottoconto-modificaconto" class="button" title="%ml.nuovoSottocontoTip%" >%ml.nuovoSottoconto%</button>
							<button id="salva" class="button" title="%ml.salvaTip%" >%ml.salva%</button>
						</td>
						<input type="hidden" name="codconto" value='%codconto%' >
					</tr>
				</tfoot>
			</table>
		</form>
	</div>
</div>
<br/>
<table style="margin-left: 5px;">
	<tr>
		<td>
			<form class="tooltip" method="post" id="back" action="../configurazioni/ricercaContoFacade.class.php?modo=go" >
				<button id="indietro" class="button" title="%ml.indietroTip%" onclick="back()" >%ml.indietro%</button>
				<input type="hidden" name="categoria" value='%categoria%' >			
				<input type="hidden" name="tipoconto" value='%tipoconto%' >			
			</form>
		</td>
	</tr>
</table>	

<div id="nuovo-sottoconto-modificaconto-form" title="Nuovo Sottoconto"> 
	<form method="post" id="nuovoSottoconto" action="../configurazioni/inserisciSottocontoFacade.class.php?modo=go" >
		<table class="datiCreate" cellpadding="5px">
			<tbody>
				<tr>
					<td>%ml.codsottoconto% :</td>
					<td class="tooltip"><input id="codsottoconto" name="codsottoconto" size="5" maxlength="3" ></td>
				</tr>					
				<tr>
					<td>%ml.dessottoconto% :</td>
					<td class="tooltip"><input id="dessottoconto" name="dessottoconto" size="50" maxlength="100" ></td>
				</tr>
				<tr><td><br></td></tr>		
				<tr>
					<td colspan="2" align="center">
						<div class="radioset" >
							<input type="radio" id="NS_new" name="indgruppo_new" value="NS" checked><label for="NS_new">%ml.ns%</label>
							<input type="radio" id="CF_new" name="indgruppo_new" value="CF" ><label for="CF_new">%ml.cf%</label>
							<input type="radio" id="CV_new" name="indgruppo_new" value="CV" ><label for="CV_new">%ml.cv%</label>
							<input type="radio" id="RC_new" name="indgruppo_new" value="RC" ><label for="RC_new">%ml.rc%</label>
						</div>
					</td>
				</tr>			
			</tbody>
		</table> 	 
  </form>
</div>

<div id="cancella-sottoconto-modificaconto-form" title="Cancella Sottoconto"> 
	<form method="post" id="cancellaSottoconto" action="../configurazioni/cancellaSottocontoFacade.class.php?modo=go" >
		<p>Elimino il sottoconto ?</p>
		<input type="hidden" id="codconto_del" name="codconto_del">
		<input type="hidden" id="codsottoconto_del" name="codsottoconto_del">
	</form>
</div>

<div id="modifica-sottoconto-modificagruppo-form" title="Gruppo Sottoconto"> 
	<form method="post" id="modificaGruppoSottoconto" action="../configurazioni/modificaGruppoSottocontoFacade.class.php?modo=go" >
		<input type="text" id="codconto" name="codconto" readonly value="%codconto%">
		<input type="text" id="codsottoconto" readonly name="codsottoconto">
		<div class="radioset" >
			<input type="radio" id="NS" name="indgruppo" value="NS" ><label for="NS">%ml.ns%</label>
			<input type="radio" id="CF" name="indgruppo" value="CF" ><label for="CF">%ml.cf%</label>
			<input type="radio" id="CV" name="indgruppo" value="CV" ><label for="CV">%ml.cv%</label>
			<input type="radio" id="RC" name="indgruppo" value="RC" ><label for="RC">%ml.rc%</label>
		</div>
	</form>
</div>
<br/>
