<body>

<div id="body">
	<div id="main">
		<table style="width:100%;">
			<tbody>
				<tr>
					<td align="left"><h2>%titoloPagina%</h2></td>
					<td align="right">
						<form class="tooltip" method="post" id="back" action="../configurazioni/ricercaProgressivoFatturaFacade.class.php?modo=go" >
							<button id="indietro" class="button" title="%ml.indietroTip%" onclick="back()" >%ml.indietro%</button>
							<input type="hidden" name="catcliente" value='%catcliente%' >
						</form>
					</td>
				</tr>
			</tbody>
		</table>
		<br>
		<form method="post" action="%azione%" >
			<table class="datiCreate" cellpadding="5px">
				<tbody>
					<tr>
						<td>%ml.categoria% :</td>
						<td class="tooltip"><input type="text" id="catcliente" name="catcliente" size="10" maxlength="4" value='%catcliente%' disabled="disabled" ></td>
					</tr>
					<tr>
						<td>%ml.negozio% :</td>
						<td class="tooltip"><input type="text" id="codneg" name="codneg" size="10" maxlength="3" value='%codneg%' disabled="disabled" ></td>
					</tr>
					<tr>
						<td>%ml.numfatt% :</td>
						<td class="tooltip"><input type="text" id="numfatt" name="numfatt" size="10" maxlength="10" value='%numfatt%' ></td>
					</tr>
					<tr>
						<td>%ml.notatesta% :</td>
						<td class="tooltip"><textarea name="notatesta" rows="4" cols="90" title="%ml.notafatturaTip%">%notatesta%</textarea></td>
					</tr>
					<tr>
						<td>%ml.notapiede% :</td>
						<td class="tooltip"><textarea name="notapiede" rows="4" cols="90" title="%ml.notafatturaTip%">%notapiede%</textarea></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="2" align="right" class="tooltip">
							<button id="salva" class="button" title="%ml.salvaTip%" >%ml.salva%</button>
							<input type="hidden" id="catcliente" name="catcliente" value='%catcliente%' />
							<input type="hidden" id="codneg" name="codneg" value='%codneg%' />
						</td>
					</tr>
				</tfoot>
			</table>
		</form>
	</div>
</div>
