<body>

<div id="body">
	<div id="main">
		<h2>%titoloPagina%</h2>
		
		<form method="post" action="%azione%" >
			<table class="datiCreate" cellpadding="5px">
				<tbody>
					<tr>
						<td class="td">%ml.catconto% :</td>
						<td class="tooltip">
							<select class="selectmenuCategoria" name="categoria" >
								<option value="">Tutte</option>
								<option value="Conto Economico" %contoeconomicoselected% >Conto Economico</option>
								<option value="Stato Patrimoniale" %statopatrimonialeselected% >Stato Patrimoniale</option>
							</select>
						</td>
						<td class="td">%ml.tipconto% :</td>
						<td class="tooltip">
							<select class="selectmenuTipoConto" name="tipoconto" >
								<option value="">Tutti</option>
								<option value="Dare" %dareselected% >Dare</option>
								<option value="Avere" %avereselected% >Avere</option>
							</select>
						</td>
						<td class="tooltip" colspan="4"><button class="button" title="%ml.cercaTip%" >%ml.cerca%</button></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
					</tr>
				</tfoot>
			</table>
		</form>
		<br>
		%risultato_ricerca%		
		
<div id="cancella-conto-form" title="Cancella Conto"> 
	<form method="post" id="cancellaConto" action="../configurazioni/cancellaContoFacade.class.php?modo=go" >
		<p>Elimino il conto e tutti i suoi sottoconti ?</p>
		<input type="hidden" id="codconto" name="codconto">
  </form>
</div>
		