<body>
<script type="text/javascript">

$(document).ready(function(){
	
	$(".datepicker").datepicker();
	
	$("#myInput").on("keyup", 
		function() {
			var value = $(this).val().toLowerCase();
			$("#myTable tr").filter(
				function() {
					$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				}
			);
		}
	);				
});

</script>

<!-- ------------------- -->
<!-- RICERCA             -->
<!-- ------------------- -->
<div class="container-fluid">
	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">
	  
			<div class="row">
				<div class="col-sm-7">
					<h4>%titoloPagina%</h4>
				</div>
				<div class="col-sm-5">
					<div class="btn-group pull-right">				
						<button id="nuovaCausale" class="btn btn-primary btn-default">%ml.nuovacausale%</button>
					</div>	
				</div>			
			</div>
		</div>
		<div class="panel-body scrollable-panel">
		  	%risultato_ricerca%
	  	</div>
	</div>
</div>

<!-- ------------- -->
<!-- NUOVA CAUSALE -->
<!-- ------------- -->

<div class="container">
	<div class="modal fade" id="nuova-causale-dialog" role="dialog">
		<div class="modal-dialog modal-lg">
	      <!-- Modal content-->
			<div class="modal-content">
	        	<div class="modal-header">
	          		<h4 class="modal-title">Nuova Causale</h4>
	        	</div>
	        	<div class="modal-body">
	        		        	
					<form method="post" id="nuovaCausaleForm" action="../configurazioni/creaCausaleFacade.class.php?modo=go" >

						<div class="well well-sm">
							<div class="form-group row">
							  	<div class="col-sm-4">
									<div class='input-group' id="codcausale_cre_control_group">
										<span class="input-group-addon">%ml.codcausale%</span>
										<input class="form-control" id="codcausale_cre" name="codcausale_cre" type="text" maxlength="4" onblur="controllaCodice('codcausale_cre')"/>
									</div>
							  	</div>
							  	<div class="col-sm-8">
									<div class='input-group' id="descausale_cre_control_group">
										<span class="input-group-addon">%ml.descausale%</span>
										<input class="form-control" id="descausale_cre" name="descausale_cre" type="text" maxlength="100" onblur="controllaDescrizione('descausale_cre')"/>
									</div>
							  	</div>
							</div>
							<div class="form-group row">
							  	<div class="col-sm-4">
									<div class="btn-group" data-toggle="buttons">
										<label class="btn btn-primary active"><input type="radio" name="catcausale_cre" id="catcausale_generi_cre" autocomplete="off" value="GENERI" checked >%ml.generi%</label>
									  	<label class="btn btn-primary"><input type="radio" name="catcausale_cre" id="catcausale_incpag_cre" autocomplete="off" value="INCPAG" >%ml.incpag%</label>
									  	<label class="btn btn-primary"><input type="radio" name="catcausale_cre" id="catcausale_corris_cre" autocomplete="off" value="CORRIS" >%ml.corris%</label>
									</div>						    		
								</div>	
							</div>
							
						</div>

					</form>
	        	
	        	</div>
	        	<div class="modal-footer">
	          		<button type="button" class="btn btn-default" data-dismiss="modal" id="button-ok-nuova-causale-form">Ok</button>
	          		<button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
	        	</div>
	      	</div>
		</div>
	</div>
</div>








<!-- 
		
<div id="cancella-causale-form" title="Cancella Causale"> 
	<form method="post" id="cancellaCausale" action="../configurazioni/cancellaCausaleFacade.class.php?modo=go" >
		<p>Elimino la causale e tutte le sue configurazioni ?</p>
		<input type="hidden" id="codcausale" name="codcausale">
  </form>
</div>
		
<div id="nuova-causale-form" title="Nuova Causale"> 
	<form method="post" id="nuovaCausale" action="../configurazioni/creaCausaleFacade.class.php?modo=go" >
		<table class="datiCreate" cellpadding="5px">
			<tbody>
				<tr>
					<td>%ml.codcausale% :</td>
					<td class="tooltip"><input type="text" id="codcausale" name="codcausale" size="6" maxlength="4" value='%codcausale%'></td>
				</tr>
				<tr>
					<td>%ml.descausale% :</td>
					<td class="tooltip"><input type="text" id="descausale" name="descausale" size="70" maxlength="100" value='%descausale%'></td>
				</tr>
				<tr>
					<td>%ml.catcausale% :</td>						
					<td>
						<div class="radioset" >
							<input type="radio" id="generi" name="catcausale" value="GENERI" checked ><label for="generi">%ml.generi%</label>
							<input type="radio" id="incpag" name="catcausale" value="INCPAG" ><label for="incpag">%ml.incpag%</label>
							<input type="radio" id="corris" name="catcausale" value="CORRIS" ><label for="corris">%ml.corris%</label>
						</div>
					</td>					
				</tr>								
			</tbody>
		</table> 	 
	</form>
</div>

<div id="modifica-causale-form" title="Modifica Causale"> 
	<form method="post" id="modificaCausale" action="../configurazioni/modificaCausaleFacade.class.php?modo=go" >
		<table class="datiCreate" cellpadding="5px">
			<tbody>
				<tr>
					<td>%ml.codcausale% :</td>
					<td class="tooltip"><input type="text" id="codcausale_mod" name="codcausale_mod" size="6" maxlength="4" readonly="readonly" ></td>
				</tr>
				<tr>
					<td>%ml.descausale% :</td>
					<td class="tooltip"><input type="text" id="descausale_mod" name="descausale_mod" size="70" maxlength="100" ></td>
				</tr>
				<tr>
					<td>%ml.catcausale% :</td>						
					<td>
						<div class="radioset" >
							<input type="radio" id="generi_mod" name="catcausale_mod" value="GENERI" ><label for="generi_mod">%ml.generi%</label>
							<input type="radio" id="incpag_mod" name="catcausale_mod" value="INCPAG" ><label for="incpag_mod">%ml.incpag%</label>
							<input type="radio" id="corris_mod" name="catcausale_mod" value="CORRIS" ><label for="corris_mod">%ml.corris%</label>
						</div>
					</td>					
				</tr>					
			</tbody>
		</table>	
	</form>
</div>			

<div id="configura-causale-form" title="Configura Causale"> 
	<table class="result">
		<tbody>
			<tr>
				<td align="left" valign="top">
					<div>
						<table class="result" id="resultTable">
							<thead>
								<tr>
									<th colspan="3"><h2>%ml.contiInclusi%</h2></th>
								</tr>
								<tr>
									<th align="center" width="60">%ml.conto%</th>
									<th align="left" width="371">%ml.desconto%</th>
									<th width="23">&nbsp;</th>
								</tr>
							</thead>
						</table>
					</div>
					<div class='scroll-config-causali'>
						<table id="elencoContiConfigurati"></table>						
					</div>	
				</td>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td align="left" valign="top">
					<div>
						<table class="result" id="resultTable">
							<thead>
								<tr>
									<th colspan="3"><h2>%ml.contiDisponibili%</h2></th>
								</tr>
								<tr>
									<th width="20">&nbsp;</th>
									<th align="center" width="60">%ml.conto%</th>
									<th align="left" width="359">%ml.desconto%</th>
								</tr>
							</thead>
						</table>
					</div>
					<div class='scroll-config-causali'>
						<table id="elencoContiDisponibili"></table>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
 -->
 