<body>
<script type="text/javascript">

$(document).ready( function () {
    $('#progressivi').dataTable( {
    	"order": [[0, 'asc']],
    	"columnDefs": [
       	    {"targets": 0, "orderable": true },
       	    {"targets": 1, "orderable": true },
    	    {"targets": 2, "orderable": true },
    	    {"targets": 3, "orderable": false }
    		],
   		"language": {
               "lengthMenu": "Visualizza _MENU_ righe per pagina",
               "zeroRecords": "La ricerca non ha prodotto risultati",
               "info": "Pagina _PAGE_ di _PAGES_",
               "infoEmpty": "La ricerca non ha prodotto risultati",
               "infoFiltered": "(righe filtrate da _MAX_ totali)",
               "search": "Cerca:",
               "paginate": {
                   "first":      "Prima",
                   "last":       "Ultima",
                   "next":       "Prossima",
                   "previous":   "Precedente"
               }
        },
        "lengthMenu": [ 10, 15, 20, 25, 50, 75, 100 ]
    } );
} );

</script>

<div id="body">
	<div id="main">
		<h2>%titoloPagina%</h2>
		
		<form method="post" action="%azione%" >
			<table class="datiCreate" cellpadding="5px">
				<tbody>
					<tr>
						<td>%ml.categoria% :</td>
						<td class="tooltip">
							<select class="selectmenuCategoria" id="catcliente" name="catcliente" >
								<option value="">%ml.tutti%</option>
								%elenco_categorie_cliente%
							</select>
						</td>
						<td class="tooltip" colspan="4"><button class="button" title="%ml.cercaTip%" >%ml.cerca%</button></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
					</tr>
				</tfoot>
			</table>
		</form>
		<br>
		%risultato_ricerca%		
	</div>
