<body>
<script type="text/javascript">

$(document).ready( function () {
    $('#progressivi').dataTable( {
    	"order": [[0, 'asc']],
    	"columnDefs": [
       	    {"targets": 0, "orderable": true },
       	    {"targets": 1, "orderable": true },
    	    {"targets": 2, "orderable": true },
    	    {"targets": 3, "orderable": false }
    		],
   		"language": {
               "lengthMenu": "Visualizza _MENU_ righe per pagina",
               "zeroRecords": "La ricerca non ha prodotto risultati",
               "info": "Pagina _PAGE_ di _PAGES_",
               "infoEmpty": "La ricerca non ha prodotto risultati",
               "infoFiltered": "(righe filtrate da _MAX_ totali)",
               "search": "Cerca:",
               "paginate": {
                   "first":      "Prima",
                   "last":       "Ultima",
                   "next":       "Prossima",
                   "previous":   "Precedente"
               }
        },
        "lengthMenu": [ 15, 20, 25, 50, 75, 100 ]
    } );
} );

</script>

<div id="body">
	<div id="main">
		<table style="width:100%;">
			<tbody>
				<tr>
					<td align="left"><h2>%titoloPagina%</h2></td>
					<td align="right"><button id="nuovo-progressivo" class="button">%ml.nuovoprogressivo%</button></td>
				</tr>
			</tbody>
		</table>	
		<br>
		%risultato_ricerca%		
	</div>
