<body>
<script type="text/javascript">

$(document).ready( function () {
    $('#causali').dataTable( {
    	"order": [[0, 'asc']],
    	"columnDefs": [
       	    {"targets": 0, "orderable": true },
       	    {"targets": 1, "orderable": true },
    	    {"targets": 2, "orderable": true },
    	    {"targets": 3, "orderable": true },
    	    {"targets": 4, "orderable": true },
    	    {"targets": 5, "orderable": false },
    	    {"targets": 6, "orderable": false },
    	    {"targets": 7, "orderable": false }
    		],
   		"language": {
               "lengthMenu": "Visualizza _MENU_ righe per pagina",
               "zeroRecords": "La ricerca non ha prodotto risultati",
               "info": "Pagina _PAGE_ di _PAGES_",
               "infoEmpty": "La ricerca non ha prodotto risultati",
               "infoFiltered": "(righe filtrate da _MAX_ totali)",
               "search": "Cerca:",
               "paginate": {
                   "first":      "Prima",
                   "last":       "Ultima",
                   "next":       "Prossima",
                   "previous":   "Precedente"
               }
        },
        "lengthMenu": [ 15, 20, 25, 50, 75, 100 ]
    } );
} );

</script>

<div id="body">
	<div id="main">
		<table style="width:100%;">
			<tbody>
				<tr>
					<td align="left"><h2>%titoloPagina%</h2></td>
					<td align="right"><button id="nuova-causale" class="button">%ml.nuovacausale%</button></td>
				</tr>
			</tbody>
		</table>
		<br>
		%risultato_ricerca%		
	</div>	
		
<div id="cancella-causale-form" title="Cancella Causale"> 
	<form method="post" id="cancellaCausale" action="../configurazioni/cancellaCausaleFacade.class.php?modo=go" >
		<p>Elimino la causale e tutte le sue configurazioni ?</p>
		<input type="hidden" id="codcausale" name="codcausale">
  </form>
</div>
		
<div id="nuova-causale-form" title="Nuova Causale"> 
	<form method="post" id="nuovaCausale" action="../configurazioni/creaCausaleFacade.class.php?modo=go" >
		<table class="datiCreate" cellpadding="5px">
			<tbody>
				<tr>
					<td>%ml.codcausale% :</td>
					<td class="tooltip"><input type="text" id="codcausale" name="codcausale" size="6" maxlength="4" value='%codcausale%'></td>
				</tr>
				<tr>
					<td>%ml.descausale% :</td>
					<td class="tooltip"><input type="text" id="descausale" name="descausale" size="70" maxlength="100" value='%descausale%'></td>
				</tr>
				<tr>
					<td>%ml.catcausale% :</td>						
					<td>
						<div class="radioset" >
							<input type="radio" id="generi" name="catcausale" value="GENERI" checked ><label for="generi">%ml.generi%</label>
							<input type="radio" id="incpag" name="catcausale" value="INCPAG" ><label for="incpag">%ml.incpag%</label>
							<input type="radio" id="corris" name="catcausale" value="CORRIS" ><label for="corris">%ml.corris%</label>
						</div>
					</td>					
				</tr>								
			</tbody>
		</table> 	 
	</form>
</div>
		