
<!-- ------------------- -->
<!-- RICERCA             -->
<!-- ------------------- -->

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">

            <div class="row">
                <div class="col-sm-7">
                    <h4>%titoloPagina%</h4>
                </div>
            </div>
            <br/>
            <form method="post" action="%azione%">

                <div class="form-group row">
                    <div class="col-sm-2">
                        <div class='input-group'>
                            <div class='input-group date' id='datepicker' data-provide='datepicker' data-date-format="dd-mm-yyyy" data-date-autoclose='true' data-date-today-highlight='true'>
                                <input type='text' class="form-control" name="datareg_da" value='%datareg_da%' />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class='input-group'>
                            <div class='input-group date' data-provide='datepicker' data-date-format="dd-mm-yyyy" data-date-autoclose='true' data-date-today-highlight='true'>
                                <input type='text' class="form-control" name="datareg_a" value='%datareg_a%' />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <button id="submit" type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div class="panel-body scrollable-panel">
        %tabs%
    </div>
    <!--
        Probabilmente l'estrazione in PDF di questo riepilogo non c'era in Nexus6

        <div class="panel-body">
            <form action="../riepiloghi/estraiPdfAndamentoMercatiFacade.class.php?modo=start" method="get">
                <button id="submit" type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-download-alt"></span>
                </button>
            </form>
        </div>-->
</div>