<body>

<div id="body">
	<div id="main">
		<h2>%titoloPagina%</h2>

		<form method="post" action="%azione%" >
			<table class="datiCreate" cellpadding="5px">
				<tbody>
					<tr>
						<td>%ml.negozio% :</td>
						<td class="tooltip">
							<select class="selectmenuNegozio" id="codneg_sel" name="codneg_sel" >
								<option value="">%ml.tutti%</option>
								<option value="VIL" %villa-selected% >%ml.villa%</option>
								<option value="BRE" %brembate-selected% >%ml.brembate%</option>
								<option value="TRE" %trezzo-selected% >%ml.trezzo%</option>
							</select>
						</td>
						
						<td>%ml.anno% :</td>
						<td class="tooltip">
							<select class="selectannoesercizio" id="anno_eserczio_sel" name="anno_eserczio_sel" >
								<option value="%ml.anno_esercizio_corrente%" selected >%ml.anno_esercizio_corrente%</option>
								<option value="%ml.anno_esercizio_menouno%" >%ml.anno_esercizio_menouno%</option>
								<option value="%ml.anno_esercizio_menodue%" >%ml.anno_esercizio_menodue%</option>
								<option value="%ml.anno_esercizio_menotre%" >%ml.anno_esercizio_menotre%</option>
							</select>
						</td>
						
						<td width="55"></td>						
						<td class="tooltip" colspan="6"><button class="button" title="%ml.cercaTip%" >%ml.cerca%</button></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
					</tr>
				</tfoot>
			</table>
		</form>
		%tabs%
		<br>
		<form class="tooltip" method="post" id="estraipdf" action="../riepiloghi/estraiPdfBilancioFacade.class.php?modo=start" >
			%bottoneEstraiPdf%
			<input type="hidden" name="datareg_da" value='%datareg_da%' >
			<input type="hidden" name="datareg_a" value='%datareg_a%' >
			<input type="hidden" name="codneg_sel" value='%codneg_sel%' >
			<input type="hidden" name="catconto_sel" value='%catconto_sel%' >
		</form>