
<!-- ------------------- -->
<!-- RICERCA             -->
<!-- ------------------- -->

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">

            <div class="row">
                <div class="col-sm-7">
                    <h4>%titoloPagina%</h4>
                </div>
            </div>
            <br/>
            <form method="post" action="%azione%">

                <div class="form-group row">
                    <div class="col-sm-2">
                        <div class='input-group'>
                            <span class="input-group-addon">Neg</span>
                            <select class="selectNegozio" id="codneg_sel" name="codneg_sel" >
                                <option value="">%ml.tutti%</option>
                                <option value="ERB" %erba-selected% >%ml.erba%</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon">%ml.anno%</span>
                            <input type="text" id="anno" class="form-control" name="anno" size="5" maxlength="4" value='%anno%' />
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <button id="submit" type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel-body scrollable-panel">
        %risultato_ricerca%
    </div>
<!--    
    <div class="panel-body">
        <form action="../riepiloghi/estraiPdfQuadroPresenzeAssistitiFacade.class.php" method="get">
            <input type="hidden" name="modo" value="start"/> 
            <button id="submit" type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-download-alt"></span>
            </button>
        </form>
    </div>
-->
</div>