
<!-- ------------------- -->
<!-- RICERCA             -->
<!-- ------------------- -->

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">

            <div class="row">
                <div class="col-sm-7">
                    <h4>%titoloPagina%</h4>
                </div>
            </div>
            <br/>
            <form method="post" action="%azione%">

                <div class="form-group row">
                    <div class="col-sm-2">
                        <div class='input-group'>
                            <span class="input-group-addon">Neg</span>
                            <select class="selectNegozio" id="codneg_sel" name="codneg_sel" >
                                <option value="">%ml.tutti%</option>
                                <option value="VIL" %villa-selected% >%ml.villa%</option>
                                <option value="BRE" %brembate-selected% >%ml.brembate%</option>
                                <option value="TRE" %trezzo-selected% >%ml.trezzo%</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class='input-group'>
                            <span class="input-group-addon">%ml.anno%</span>
                            <div class='form-control form-control-selectpicker'>
                                <select id="anno_eserczio_sel" name="anno_eserczio_sel" >
                                    <option value="%ml.anno_esercizio_corrente%" %anno_esercizio_corrente-selected% >%ml.anno_esercizio_corrente%</option>
                                    <option value="%ml.anno_esercizio_menouno%"  %anno_esercizio_menouno-selected% >%ml.anno_esercizio_menouno%</option>
                                    <option value="%ml.anno_esercizio_menodue%" %anno_esercizio_menodue-selected% >%ml.anno_esercizio_menodue%</option>
                                    <option value="%ml.anno_esercizio_menotre%" %anno_esercizio_menotre-selected% >%ml.anno_esercizio_menotre%</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class='input-group'>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary %activeSaldiInclusi%"><input type="radio" name="saldiInclusi" id="saldiInclusi" autocomplete="off" value="S" %saldiInclusichecked% >%ml.saldiInclusi%</label>
                                <label class="btn btn-primary %activeSaldiEsclusi%"><input type="radio" name="saldiInclusi" id="saldiEsclusi" autocomplete="off" value="N" %saldiEsclusichecked% >%ml.saldiEsclusi%</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <button id="submit" type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </form>

        </div>
        <div class="panel-body scrollable-panel">
            %tabs%
        </div>
        <div class="panel-body">
            <form action="../riepiloghi/estraiPdfBilancioFacade.class.php?modo=start" method="get">
                <button id="submit" type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-download-alt"></span>
                </button>
            </form>
        </div>
    </div>
</div>