
<!-- ------------------- -->
<!-- RICERCA             -->
<!-- ------------------- -->

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">

            <div class="row">
                <div class="col-sm-7">
                    <h4>%titoloPagina%</h4>
                </div>
            </div>
            <br/>
            <form method="post" action="%azione%">

                <div class="form-group row">
                    <div class="col-sm-2">
                        <div class='input-group'>
                            <div class='input-group date' id='datepicker' data-provide='datepicker' data-date-format="dd-mm-yyyy" data-date-autoclose='true' data-date-today-highlight='true'>
                                <input type='text' class="form-control" name="datareg_da" value='%datareg_da%' />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class='input-group'>
                            <div class='input-group date' data-provide='datepicker' data-date-format="dd-mm-yyyy" data-date-autoclose='true' data-date-today-highlight='true'>
                                <input type='text' class="form-control" name="datareg_a" value='%datareg_a%' />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class='input-group'>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary %activeSaldiInclusi%"><input type="radio" name="saldiInclusi" id="saldiInclusi" autocomplete="off" value="S" %saldiInclusichecked% >%ml.saldiInclusi%</label>
                                <label class="btn btn-primary %activeSaldiEsclusi%"><input type="radio" name="saldiInclusi" id="saldiEsclusi" autocomplete="off" value="N" %saldiEsclusichecked% >%ml.saldiEsclusi%</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class='input-group'>
                            <span class="input-group-addon">Conti</span>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary %activeTutti%"><input type="radio" name="soloContoEconomico" id="tutticonti" autocomplete="off" value="N" %tuttiContiChecked% >%ml.tutti%</label>
                                <label class="btn btn-primary %activeContoeco%"><input type="radio" name="soloContoEconomico" id="contoeco" autocomplete="off" value="S" %soloContoEconomicoChecked% >%ml.contoeco%</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <button id="submit" type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel-body scrollable-panel">
        %tabs%
    </div>
    <div class="panel-body">
        <form action="../riepiloghi/estraiPdfRiepilogoNegoziFacade.class.php?modo=start" method="get">
            <button id="submit" type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-download-alt"></span>
            </button>
        </form>
    </div>
</div>