<body>

<div id="body">
	<div id="main">
		<h2>%titoloPagina%</h2>

		<form method="post" action="%azione%" >
			<table class="datiCreate" cellpadding="5px">
				<tbody>
					<tr>
						<td>%ml.codfornitore% :</td>
						<td class="tooltip">
							<input type="text" id="codfornitore" name="codfornitore" size="12" maxlength="10" value='%codfornitore%' onblur="controllaCodiceFornitore();" />&nbsp;&nbsp;&nbsp;
							<i>(Codice fornitore proposto disponibile)</i>
						</td>
					</tr>
					<tr>
						<td>%ml.desfornitore% :</td>
						<td class="tooltip" colspan="2"><input type="text" id="desfornitore" name="desfornitore" size="70" maxlength="100" value='%desfornitore%' ></td>
					</tr>			
					<tr>
						<td>%ml.indfornitore% :</td>
						<td class="tooltip" colspan="2"><input type="text" id="indfornitore" name="indfornitore" size="70" maxlength="200" value='%indfornitore%' ></td>
					</tr>			
					<tr>
						<td>%ml.cittafornitore% :</td>
						<td class="tooltip" colspan="2"><input type="text" id="cittafornitore" name="cittafornitore" size="70" maxlength="100" value='%cittafornitore%' ></td>
					</tr>			
					<tr>
						<td>%ml.capfornitore% :</td>
						<td class="tooltip" colspan="2"><input type="text" id="capfornitore" name="capfornitore" size="7" maxlength="5" value='%capfornitore%' ></td>
					</tr>	
					<tr>
						<td>%ml.tipaddebito% :</td>						
						<td colspan="2">
							<div class="radioset" >
								<input type="radio" id="bonifico" name="tipoaddebito" value="BONIFICO" checked ><label for="bonifico">%ml.bonifico%</label>
								<input type="radio" id="riba" name="tipoaddebito" value="RIBA" ><label for="riba">%ml.riba%</label>
								<input type="radio" id="rimdiretta" name="tipoaddebito" value="RIM_DIR" ><label for="rimdiretta">%ml.rimdiretta%</label>
								<input type="radio" id="assegnobancario" name="tipoaddebito" value="ASS_BAN" ><label for="assegnobancario">%ml.assegnobancario%</label>
								<input type="radio" id="addebitodiretto" name="tipoaddebito" value="ADD_DIR" ><label for="addebitodiretto">%ml.addebitodiretto%</label>
							</div>
						</td>					
					</tr>	
					<tr>
						<td>
							<p>
								<label for="amount">%ml.numggscafatt% :</label>
								<input type="text" id="numggscadenzafattura" name="numggscadenzafattura" size="3" readonly style="border:0; color:#f6931f; font-weight:bold;">
							</p>
						</td>
						<td colspan="2">
							<div id="slider-gg-scadenza-fattura">
						</td>
					</tr>				
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3" align="right" class="tooltip"><button id="salva" class="button" title="%ml.salvaTip%" >%ml.salva%</button></td>
					</tr>
				</tfoot>
			</table>
		</form>
	</div>
</div>

<br/>