<body>

<script type="text/javascript">

function controllaUnivocitaPiva() {

	var codpiva = $("#codpiva").val();

	if (codpiva != "") {
		var xmlhttp = new XMLHttpRequest();
	    xmlhttp.onreadystatechange = function() {
	        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
	            $( "#esitoControlloUnivocitaPiva" ).html(xmlhttp.responseText);
	            $( "#esitoPivaCliente" ).val(xmlhttp.responseText);
	        }
	    } 
	    xmlhttp.open("GET", "cercaPivaClienteFacade.class.php?modo=start&codpiva=" + codpiva, true);
	    xmlhttp.send();		
	}
}

function controllaUnivocitaCfis() {

	var codfisc = $("#codfisc").val();

	if (codfisc != "") {
		var xmlhttp = new XMLHttpRequest();
	    xmlhttp.onreadystatechange = function() {
	        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
	            $( "#esitoControlloUnivocitaCfis" ).html(xmlhttp.responseText);
	            $( "#esitoCfisCliente" ).val(xmlhttp.responseText);
	        }
	    } 
	    xmlhttp.open("GET", "cercaCfisClienteFacade.class.php?modo=start&codfisc=" + codfisc, true);
	    xmlhttp.send();		
	}
}

function normalizzaCampo(campo) {

	var c = $("#" + campo).val();
	var cNorm = c.trim().replace("&", "e");
	$("#" + campo).val(cNorm);	
}

</script>

<div id="body">
	<div id="main">
		<h2>%titoloPagina%</h2>

		<form method="post" action="%azione%" >
			<table class="datiCreate" cellpadding="5px">
				<tbody>
					<tr>
						<td>%ml.categoria% :</td>
						<td class="tooltip">
							<select class="selectmenuCategoria" id="catcliente" name="catcliente" >
								<option value=""></option>
								%elenco_categorie_cliente%
							</select>
						</td>
					</tr>					
					<tr>
						<td>%ml.codcliente% :</td>
						<td class="tooltip">
							<input type="text" id="codcliente" name="codcliente" size="12" maxlength="10" value='%codcliente%' >&nbsp;&nbsp;&nbsp;
							<i>(Codice cliente proposto disponibile)</i>
						</td>
					</tr>
					<tr>
						<td>%ml.descliente% :</td>
						<td class="tooltip"><input type="text" id="descliente" name="descliente" size="70" maxlength="100" value='%descliente%' onblur="normalizzaCampo('descliente');"></td>
					</tr>			
					<tr>
						<td>%ml.desindirizzocliente% :</td>
						<td class="tooltip"><input type="text" id="indcliente" name="indcliente" size="70" maxlength="200" value='%indcliente%' onblur="normalizzaCampo('indcliente');"></td>
					</tr>			
					<tr>
						<td>%ml.descittacliente% :</td>
						<td class="tooltip"><input type="text" id="cittacliente" name="cittacliente" size="70" maxlength="100" value='%cittacliente%' onblur="normalizzaCampo('cittacliente');"></td>
					</tr>			
					<tr>
						<td>%ml.capcliente% :</td>
						<td class="tooltip"><input type="text" id="capcliente" name="capcliente" size="7" maxlength="5" value='%capcliente%' onblur="normalizzaCampo('capcliente');"></td>
					</tr>	
					<tr>
						<td>%ml.tipaddebito% :</td>						
						<td>
							<div class="radioset" >
								<input type="radio" id="bonifico" name="tipoaddebito" value="BONIFICO" checked ><label for="bonifico">%ml.bonifico%</label>
								<input type="radio" id="riba" name="tipoaddebito" value="RIBA" ><label for="riba">%ml.riba%</label>
								<input type="radio" id="rimdiretta" name="tipoaddebito" value="RIM_DIR" ><label for="rimdiretta">%ml.rimdiretta%</label>
								<input type="radio" id="assegnobancario" name="tipoaddebito" value="ASS_BAN" ><label for="assegnobancario">%ml.assegnobancario%</label>
								<input type="radio" id="addebitodiretto" name="tipoaddebito" value="ADD_DIR" ><label for="addebitodiretto">%ml.addebitodiretto%</label>
							</div>
						</td>					
					</tr>					
					<tr>
						<td>%ml.pivacliente% :</td>
						<td class="tooltip">
							<input type="text" id="codpiva" name="codpiva" size="15" maxlength="11" value='%codpiva%' onblur="controllaUnivocitaPiva();" >&nbsp;&nbsp;&nbsp;
							<i id="esitoControlloUnivocitaPiva">&nbsp;</i>
						</td>
					</tr>					
					<tr>
						<td>%ml.cfiscliente% :</td>
						<td class="tooltip">
							<input type="text" id="codfisc" name="codfisc" size="20" maxlength="16" value='%codfisc%' onblur="controllaUnivocitaCfis();" >&nbsp;&nbsp;&nbsp;
							<i id="esitoControlloUnivocitaCfis">&nbsp;</i>
						</td>
					</tr>					
				</tbody>
				<tfoot>
					<tr>
						<td colspan="2" align="right" class="tooltip"><button id="salva" class="button" title="%ml.salvaTip%" >%ml.salva%</button></td>
					</tr>
				</tfoot>
			</table>
			<input type="hidden" id="esitoPivaCliente" name="esitoPivaCliente" />						
			<input type="hidden" id="esitoCfisCliente" name="esitoCfisCliente" />						
		</form>
	</div>
</div>

<br/>