<body>

<script type="text/javascript">

function controllaUnivocitaPiva() {

	var codpiva = $("#codpiva").val();

	if (codpiva != "") {
		var xmlhttp = new XMLHttpRequest();
	    xmlhttp.onreadystatechange = function() {
	        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
	            $( "#esitoControlloUnivocitaPiva" ).html(xmlhttp.responseText);
	            $( "#esitoPivaCliente" ).val(xmlhttp.responseText);
	        }
	    } 
	    xmlhttp.open("GET", "cercaPivaClienteFacade.class.php?modo=start&codpiva=" + codpiva, true);
	    xmlhttp.send();		
	}
}

function controllaUnivocitaCfis() {

	var codfisc = $("#codfisc").val();

	if (codfisc != "") {
		var xmlhttp = new XMLHttpRequest();
	    xmlhttp.onreadystatechange = function() {
	        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
	            $( "#esitoControlloUnivocitaCfis" ).html(xmlhttp.responseText);
	            $( "#esitoCfisCliente" ).val(xmlhttp.responseText);
	        }
	    } 
	    xmlhttp.open("GET", "cercaCfisClienteFacade.class.php?modo=start&codfisc=" + codfisc, true);
	    xmlhttp.send();		
	}
}


</script>

