<script type="text/javascript">

	$(document).ready(function(){
	
		$(".datepicker").datepicker();

		$(".selectCatCli").on("change", function() {
			$("#catcli_cre").val($(this).find("option:selected").val());
		});
		
		$("#myInput").on("keyup", 
			function() {
				var value = $(this).val().toLowerCase();
				$("#myTable tr").filter(
					function() {
						$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
					}
				);
			}
		);				
	});

</script>

<!-- ------------------- -->
<!-- RICERCA             -->
<!-- ------------------- -->

<div class="container-fluid">
	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">
	  
			<div class="row">
				<div class="col-sm-7">
					<h4>%titoloPagina%</h4>
				</div>
				<div class="col-sm-5">
					<div class="btn-group pull-right">				
						<button id="nuovoMercato" class="btn btn-primary btn-default">%ml.nuovomercato%</button>
					</div>	
				</div>			
			</div>
			<br/>
		</div>
		<div class="panel-body scrollable-panel">
		  	%risultato_ricerca%
	  	</div>
	</div>
</div>

<!-- ------------- -->
<!-- NUOVO MERCATO -->
<!-- ------------- -->

<div class="container">
	<div class="modal fade" id="nuovo-mercato-dialog" role="dialog">
		<div class="modal-dialog modal-lg">
	      <!-- Modal content-->
			<div class="modal-content">
	        	<div class="modal-header">
	          		<h4 class="modal-title">Nuovo Mercato</h4>
	        	</div>
	        	<div class="modal-body">
	        		        	
					<form method="post" id="nuovoMercatoForm" action="../anagrafica/creaMercatoFacade.class.php?modo=go" >
					
						<div class="well well-sm">
							<div class="form-group row">
							  	<div class="col-sm-3 ui-front">
				 					<div class='input-group' id="codmer_cre_control_group">
										<span class="input-group-addon">%ml.codmercato%</span>
										<input class="form-control" id="codmer_cre" name="codmer_cre" type="text" onblur="controllaCodice('codmer_cre')" />
									</div>
							  	</div>
							  	<div class="col-sm-5">
				 					<div class='input-group' id="desmer_cre_control_group">
										<span class="input-group-addon">%ml.desmercato%</span>
										<input class="form-control" id="desmer_cre" name="desmer_cre" type="text" onblur="controllaDescrizione('desmer_cre')"/>
									</div>
							  	</div>
							</div>
							<div class="form-group row">
							  	<div class="col-sm-5">
				 					<div class='input-group' id="citmer_cre_control_group">
										<span class="input-group-addon">%ml.cittamercato%</span>
										<input class="form-control" id="citmer_cre" name="citmer_cre" type="text" onblur="controllaDescrizione('citmer_cre')" />
									</div>
							  	</div>
							  	<div class="col-sm-3">
				 					<div class='input-group'>
										<span class="input-group-addon">Neg</span>
										<select class="selectNegozio" id="negmer_cre" name="negmer_cre" >
											<option value="VIL" selected>%ml.villa%</option>
											<option value="BRE">%ml.brembate%</option>
											<option value="TRE">%ml.trezzo%</option>
										</select>			
									</div>	
							  	</div>
							</div>
						</div>
						
					</form>
											
	        	</div>
	        	<div class="modal-footer">
	          		<button type="button" class="btn btn-primary" data-dismiss="modal" id="button-ok-nuovo-mercato-form">Ok</button>
	          		<button type="button" class="btn btn-primary" data-dismiss="modal">Chiudi</button>
	        	</div>
	      	</div>
		</div>
	</div>
</div>

<!-- ---------------- -->
<!-- MODIFICA MERCATO -->
<!-- ---------------- -->

<div class="container">
	<div class="modal fade" id="modifica-mercato-dialog" role="dialog">
		<div class="modal-dialog modal-lg">
	      <!-- Modal content-->
			<div class="modal-content">
	        	<div class="modal-header">
	          		<h4 class="modal-title">Modifica Mercato</h4>
	        	</div>
	        	<div class="modal-body">
	        		        	
					<form method="post" id="modificaMercatoForm" action="../anagrafica/modificaMercatoFacade.class.php?modo=go" >
					
						<div class="well well-sm">
							<div class="form-group row">
							  	<div class="col-sm-3 ui-front">
				 					<div class='input-group' id="codmer_mod_control_group">
										<span class="input-group-addon">%ml.codmercato%</span>
										<input class="form-control" id="codmer_mod" name="codmer_mod" type="text" readonly />
									</div>
							  	</div>
							  	<div class="col-sm-7">
				 					<div class='input-group' id="desmer_mod_control_group">
										<span class="input-group-addon">%ml.desmercato%</span>
										<input class="form-control" id="desmer_mod" name="desmer_mod" type="text" onblur="controllaDescrizione('desmer_mod')"/>
									</div>
							  	</div>
							</div>
							<div class="form-group row">
							  	<div class="col-sm-7">
				 					<div class='input-group' id="citmer_mod_control_group">
										<span class="input-group-addon">%ml.cittamercato%</span>
										<input class="form-control" id="citmer_mod" name="citmer_mod" type="text" onblur="controllaDescrizione('citmer_mod')" />
									</div>
							  	</div>
							  	<div class="col-sm-3">
				 					<div class='input-group'>
										<span class="input-group-addon">Neg</span>
										<select class="selectNegozio" id="negmer_mod" name="negmer_mod" >
											<option value="VIL" selected>%ml.villa%</option>
											<option value="BRE">%ml.brembate%</option>
											<option value="TRE">%ml.trezzo%</option>
										</select>			
									</div>	
							  	</div>
							</div>
						</div>
						
					</form>
											
	        	</div>
	        	<div class="modal-footer">
	          		<button type="button" class="btn btn-primary" data-dismiss="modal" id="button-ok-modifica-mercato-form">Ok</button>
	          		<button type="button" class="btn btn-primary" data-dismiss="modal">Chiudi</button>
	        	</div>
	      	</div>
		</div>
	</div>
</div>

<!-- --------------------- -->
<!-- CANCELLAZIONE MERCATO -->
<!-- --------------------- -->

<div class="container">
	<div class="modal fade" id="cancella-mercato-dialog" role="dialog">
		<div class="modal-dialog">
	      <!-- Modal content-->
			<div class="modal-content">
	        	<div class="modal-header">
	          		<h4 class="modal-title">Cancella mercato</h4>
	        	</div>
	        	<div class="modal-body">	        		        	
					<form method="post" id="cancellaMercatoForm" action="../anagrafica/cancellaMercatoFacade.class.php?modo=start" >
						<p>Elimino il mercato ?</p>
						<input type="hidden" id="idmercato" name="idmercato">
			        </form>
	        	</div>
	        	<div class="modal-footer">
	          		<button type="button" class="btn btn-primary" data-dismiss="modal" id="button-ok-cancella-mercato-form">Ok</button>
	          		<button type="button" class="btn btn-primary" data-dismiss="modal">Chiudi</button>
	        	</div>
	      	</div>
		</div>
	</div>
</div>

<!-- ----------->
<!-- FINE DIV -->
<!-- ----------->

