<body>
<script type="text/javascript">

$(document).ready( function () {
    $('#fornitori').dataTable( {
    	"order": [[1, 'asc']],
    	"columnDefs": [
    	    {"targets": 0, "orderable": false },
    	    {"targets": 8, "orderable": false },
    	    {"targets": 9, "orderable": false }
    		],
   		"language": {
               "lengthMenu": "Visualizza _MENU_ righe per pagina",
               "zeroRecords": "La ricerca non ha prodotto risultati",
               "info": "Paina _PAGE_ di _PAGES_",
               "infoEmpty": "La ricerca non ha prodotto risultati",
               "infoFiltered": "(righe filtrate da _MAX_ totali)",
               "search": "Cerca:",
               "paginate": {
                   "first":      "Prima",
                   "last":       "Ultima",
                   "next":       "Prossima",
                   "previous":   "Precedente"
               }
        },
        "lengthMenu": [ 10, 15, 20, 25, 50, 75, 100 ]
    } );
} );

</script>

<div id="body">
	<div id="main">
		<h2>%titoloPagina%</h2>
		<table id="fornitori" class="display" cellspacing="0" width="100%">%risultato_ricerca%</table>
	</div>	
		
<div id="cancella-fornitore-form" title="Cancella Fornitore"> 
	<form method="post" id="cancellaFornitore" action="../anagrafica/cancellaFornitoreFacade.class.php?modo=go" >
		<p>Elimino il fornitore ?</p>
		<input type="hidden" id="idfornitore" name="idfornitore">
		<input type="hidden" id="codfornitoreselezionato" name="codfornitoreselezionato">
  </form>
</div>		