<script type="text/javascript">

$(document).ready( function () {
    $('#clienti').dataTable( {
    	"order": [[1, 'asc']],
    	"columnDefs": [
    	    {"targets": 0, "orderable": false },
    	    {"targets": 7, "orderable": false },
    	    {"targets": 8, "orderable": false }
    		],
   		"language": {
               "lengthMenu": "Visualizza _MENU_ righe per pagina",
               "zeroRecords": "La ricerca non ha prodotto risultati",
               "info": "Pagina _PAGE_ di _PAGES_",
               "infoEmpty": "La ricerca non ha prodotto risultati",
               "infoFiltered": "(righe filtrate da _MAX_ totali)",
               "search": "Cerca:",
               "paginate": {
                   "first":      "Prima",
                   "last":       "Ultima",
                   "next":       "Prossima",
                   "previous":   "Precedente"
               }
        },
        "lengthMenu": [ 10, 15, 20, 25, 50, 75, 100 ]
    } );
} );

</script>

<div id="body">
	<div id="main">
		<h2>%titoloPagina%</h2>
		<table id="clienti" class="display" cellspacing="0" width="100%">%risultato_ricerca%</table>
	</div>	
		
	<div id="cancella-cliente-form" title="Cancella Cliente"> 
		<form method="post" id="cancellaCliente" action="../anagrafica/cancellaClienteFacade.class.php?modo=start" >
			<p>Elimino il cliente ?</p>
			<input type="hidden" id="idcliente" name="idcliente">
		</form>
	</div>
		