<div class="container-fluid">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-7">
                    <h4>%titoloPagina%</h4>
                </div>
                <div class="col-sm-5">
                    <div class="btn-group pull-right">
                        <button id="nuovo-dett-fattura-aziende" class="btn btn-primary btn-default">%ml.nuovoDett%</button>
                    </div>
                </div>
            </div>
            <br/>
        </div>

        <div class="panel-body">
            <form method="post" id="nuovaFatturaForm" action="../fatture/creaFatturaEntePubblicoFacade.class.php?modo=go" >

                <div class="form-group row">
                    <div class="col-sm-2">
                        <div class='input-group' id="datafat_control_group">
                            <div class='input-group date' data-provide='datepicker' data-date-format="dd-mm-yyyy" data-date-autoclose='true' data-date-today-highlight='true'>
                                <input type='text' class="form-control" id="datafat" name="datafat"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class='input-group'>
                            <span class="input-group-addon">Neg</span>
                            <select class="selectNegozio" id="codneg" name="codneg" onchange="prelevaNumeroFattura(this.value, '1300')" >
                                <option value=" ">&nbsp;</option>
                                <option value="VIL">%ml.villa%</option>
                                <option value="BRE">%ml.brembate%</option>
                                <option value="TRE">%ml.trezzo%</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 ui-front">
                        <div class='input-group' id="cliente_control_group">
                            <span class="input-group-addon">%ml.entepub%</span>
                            <select class="selectCliFor" data-live-search="true" id="cliente" name="cliente" onchange="prelevaTipoAddebitoCliente(this.value);" >
                                %elenco_clienti%
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <div class='input-group'>
                            <span class="input-group-addon">%ml.numfatt%</span>
                            <input class="form-control" id="numfat" name="numfat" type="text" maxlength="10" value='%numfat%'/>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class='input-group'>
                            <span class="input-group-addon">%ml.tipaddebito%</span>
                            <input class="form-control" id="tipoadd" name="tipoadd" type="text" maxlength="10" value="%tipoadd%"/>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary active"><input type="radio" id="contributo" name="tipofat" autocomplete="off" value="CONTRIBUTO" checked />%ml.contributo%</label>
                            <label class="btn btn-primary"><input type="radio" id="vendita" name="tipofat" autocomplete="off" value="VENDITA" />%ml.vendita%</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5">
                        <div class='input-group'>
                            <span class="input-group-addon">%ml.banca%</span>
                            <input class="form-control" id="ragsocbanca" name="ragsocbanca" type="text" maxlength="100" value='%ragsocbanca%'/>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class='input-group'>
                            <span class="input-group-addon">%ml.iban%</span>
                            <input class="form-control" id="ibanbanca" name="ibanbanca" type="text" maxlength="40" value='%ibanbanca%'/>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <div class="control-group" id="dettagli_control_group">
                            <label for="dettagli">Dettagli&nbsp;<small><span class="text-danger" id="dettagli_messaggio"></span></small></label>
                            <table class="table table-bordered table-hover" id="dettagli"></table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="btn-group">
                            <button id="submit" type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-download-alt"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- ----------------------- -->
<!-- NUOVO DETTAGLIO FATTURA -->
<!-- ----------------------- -->

<div class="container">
    <div class="modal fade" id="nuovo-dettaglio-fattura-aziende-dialog" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Nuovo dettaglio fattura</h4>
                </div>
                <div class="modal-body">
                    <div class="well well-sm">
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <div class='input-group'>
                                    <span class="input-group-addon">%ml.quantita%</span>
                                    <input class="form-control" type="text" id="quantita" name="quantita" maxlength="10" onblur="calcolaImponibileFattura()"/>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class='input-group'>
                                    <span class="input-group-addon">%ml.descfat%</span>
                                    <textarea class="form-control rounded-0" rows="1" id="articolo" name="articolo"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <div class='input-group'>
                                    <span class="input-group-addon">%ml.importo%</span>
                                    <input class="form-control" type="text" id="importo" name="importo" maxlength="20" onblur="calcolaImponibileFattura()"/>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-primary active"><input type="radio" id="aliquota5" name="aliquota" autocomplete="off" value="1.05" checked onchange="calcolaImponibileFattura()"/>%ml.aliquota5%</label>
                                    <label class="btn btn-primary"><input type="radio" id="aliquota10" name="aliquota" autocomplete="off" value="1.10" onchange="calcolaImponibileFattura()"/>%ml.aliquota10%</label>
                                    <label class="btn btn-primary"><input type="radio" id="aliquota22" name="aliquota" autocomplete="off" value="1.22" onchange="calcolaImponibileFattura()"/>%ml.aliquota22%</label>
                                    <label class="btn btn-primary"><input type="radio" id="fc" name="aliquota" autocomplete="off" value="1" onchange="calcolaImponibileFattura()"/>%ml.fc%</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <div class='input-group'>
                                    <span class="input-group-addon">%ml.totale%</span>
                                    <input class="form-control" type="text" id="totale" name="totale" maxlength="20" onblur="imponibileFattura()"/>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class='input-group'>
                                    <span class="input-group-addon">%ml.imponibile%</span>
                                    <input class="form-control" type="text" id="imponibile" name="imponibile" maxlength="20">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class='input-group'>
                                    <span class="input-group-addon">%ml.iva%</span>
                                    <input class="form-control" type="text" id="iva" name="iva" maxlength="20"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="button-ok-nuovodett-nuova-fattura">Ok</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Chiudi</button>
                </div>
            </div>
        </div>
    </div>
</div>