<body>

<script type="text/javascript">

var indexDettInseriti = [%arrayIndexDettagliInseriti%];
var dettInseriti = [%arrayDettagliInseriti%];
var contatore = 0;

var elencoFornitori = [%elenco_fornitori%];
var elencoClienti = [%elenco_clienti%];

function prelevaNumeroFattura(negozio) {

	var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
            $( "#numfat" ).val(xmlhttp.responseText);
        }
    } 
    xmlhttp.open("GET", "prelevaProgressivoFatturaFacade.class.php?modo=start&catcliente=1200&codneg=" + negozio, true);
    xmlhttp.send();		
    
    // Inizializzazione della banca. Uguale per tutti i negozi
   	
    $( "#ragsocbanca" ).val("BCC Treviglio - Filiale di Carvico");
	$( "#ibanbanca" ).val("IT48F0889952780000000420186");
}

function aggiungiDettaglio() {
	
	var rowCount = $('#dettagli tbody tr').length;
	
	if (rowCount == 1) {
		$( "#dettagli thead" ).append("<tr>" + 
			"<th class='dt-center'>Quantit&agrave;</th>" + 
			"<th>Articolo</th>" + 
			"<th class='dt-right'>Importo</th>" +
			"<th class='dt-right'>Totale</th>" +
			"<th class='dt-right'>Imponibile</th>" +
			"<th class='dt-right'>Iva</th>" +
			"<th></th>" +
			"</tr>");
	}

	contatore = contatore + 1;
	
	var quantita = $("#quantita").val();	
	var articolo = $("#articolo").val();
	var articoloNormalizzato = replaceAll(articolo.trim(),",",".");	
	var importo = $("#importo").val();
	var importoNormalizzato = importo.trim().replace(",", ".");
	var totale = $("#totale").val();
	var totaleNormalizzato = totale.trim().replace(",", ".");
	var imponibile = $("#imponibile").val();
	var imponibileNormalizzato = imponibile.trim().replace(",", ".");
	var iva = $("#iva").val();
	var ivaNormalizzato = iva.trim().replace(",", ".");
	
	var aliquota = $("input[name=aliquota]:checked").val();
	
	if (aliquota == "1.05") {
		var aliq = 5;		
	}
	if (aliquota == "1.10") {
		var aliq = 10;		
	}
	if (aliquota == "1.22") {
		var aliq = 22;		
	}
	if (aliquota == "1") {
		var aliq = "";		
	}
	
	$( "#dettagli tbody" ).append( "<tr id='" + contatore + "'>" +
        "<td class='dt-center'>" + quantita + "</td>" +
        "<td>" + articoloNormalizzato + "</td>" +
        "<td class='dt-right'>" + importoNormalizzato + "</td>" +
        "<td class='dt-right'>" + totaleNormalizzato + "</td>" +
        "<td class='dt-right'>" + imponibileNormalizzato + "</td>" +
        "<td class='dt-right'>" + ivaNormalizzato + "</td>" +
    	"<td id='icons' class='tooltip'><a onclick='cancellaDettaglioFattura(" + contatore + ")'><li class='ui-state-default ui-corner-all' title='Cancella'><span class='ui-icon ui-icon-trash'></span></li></a></td>" +
      "</tr>" );
	
	var elemento = contatore + "#" + quantita + "#" + articoloNormalizzato + "#" + importoNormalizzato + "#" + totaleNormalizzato + "#" + imponibileNormalizzato + "#" + ivaNormalizzato + "#" + aliq;
	addDett(elemento, contatore);
	
	$("#quantita").val("");
	$("#articolo").val("");
	$("#importo").val("");
	$("#totale").val("");
	$("#imponibile").val("");
	$("#iva").val("");
}

function addDett(dettaglio, contatore) {
	
	dettInseriti.push(dettaglio);
	aggiornaDettaglioInseriti(dettInseriti);

	indexDettInseriti.push(contatore);
	aggiornaIndexDettaglioInseriti(indexDettInseriti);
}

function aggiornaDettaglioInseriti(dettInseriti) {
 $("#dettagliInseriti").val(dettInseriti);
}

function aggiornaIndexDettaglioInseriti(indexDettInseriti) {
	$("#indexDettagliInseriti").val(indexDettInseriti);
}

function calcolaImponibile() {
	
	var importo = $("#importo").val();
	var quantita = $("#quantita").val();

	var importoNormalizzato = importo.trim().replace(",", ".");
	
	if (importoNormalizzato > 0) {
		
		var totale = importoNormalizzato * quantita;	
		$("#totale").val(totale);
		
		imponibile_e_iva();		
	}
}

function imponibile_e_iva() {

	var totale = $("#totale").val();
	var totaleNormalizzato = totale.trim().replace(",", ".");
	
	var aliquota = $("input[name=aliquota]:checked").val();
	
	var imponibile = totaleNormalizzato / aliquota;
	var imponibileArrotondato = imponibile.toFixed(2);
	
	$("#imponibile").val(imponibileArrotondato);
	
	if (aliquota == "1.05") {
		var iva = imponibileArrotondato * 0.05;		
	}
	
	var ivaArrotondata = iva.toFixed(2);
	$("#iva").val(ivaArrotondata);
}

$(document).ready( function () {
    $('#dettagli').dataTable( {
    	"paging": false,
    	"searching": false,
    	"info": false,
    	"columnDefs": [
       	    {"targets": 0, "orderable": false},
       	    {"targets": 1, "orderable": false},
    	    {"targets": 2, "orderable": false},
    	    {"targets": 3, "orderable": false},
    	    {"targets": 4, "orderable": false},
    	    {"targets": 5, "orderable": false},
    	    {"targets": 6, "orderable": false}
    		],
       		"language": {
                "lengthMenu": "Visualizza _MENU_ righe per pagina",
                "zeroRecords": " ",
                "info": "Pagina _PAGE_ di _PAGES_",
                "infoEmpty": " ",
                "infoFiltered": "(righe filtrate da _MAX_ totali)",
                "search": "Cerca:",
                "paginate": {
                    "first":      "Prima",
                    "last":       "Ultima",
                    "next":       "Prossima",
                    "previous":   "Precedente"
                }
         }	    		
    } );
} );

</script>

<div id="body">
	<div id="main">
		<h2>%titoloPagina%</h2>

		<form method="post" action="%azione%" >
			<table class="datiCreate" cellpadding="5px">
				<tbody>
					<tr>
						<td align="right">%ml.datafat% :</td>
						<td width="100" class="tooltip"><input class="datepicker" type="text" id="datafat" name="datafat" size="10" maxlength="10" value='%datafat%'/></td>
						<td width="120"align="right">%ml.datarif% :</td>
						<td>
							<select class="selectmenuMeserif" id="meserif" name="meserif">
								<option value="" %empty_selected%>%ml.selezionare%</option>							
								<option value="01" %gen_selected% >%ml.gen%</option>							
								<option value="02" %feb_selected% >%ml.feb%</option>							
								<option value="03" %mar_selected% >%ml.mar%</option>							
								<option value="04" %apr_selected% >%ml.apr%</option>							
								<option value="05" %mag_selected% >%ml.mag%</option>							
								<option value="06" %giu_selected% >%ml.giu%</option>							
								<option value="07" %lug_selected% >%ml.lug%</option>							
								<option value="08" %ago_selected% >%ml.ago%</option>							
								<option value="09" %set_selected% >%ml.set%</option>							
								<option value="10" %ott_selected% >%ml.ott%</option>							
								<option value="11" %nov_selected% >%ml.nov%</option>							
								<option value="12" %dic_selected% >%ml.dic%</option>							
							</select>
						</td>
					</tr>					
					<tr>
						<td align="right">%ml.azcons% :</td>
						<td><input type="text" id="titolo" name="titolo" size="15" maxlength="30"value="%titolo%" /></td>
						<td colspan="4" ><div><input type="text" id="cliente" name="cliente" size="40" value="%descli%" /></div></td>
					</tr>				
					<tr>
						<td align="right">%ml.tipaddebito% :</td>
						<td colspan="4" class="tooltip"><input type="text" id="tipoadd" name="tipoadd" size="15" maxlength="10" value='%tipoadd%'/></td>
					</tr>
					<tr>				
						<td align="right">%ml.negozio% :</td>						
						<td colspan="4" >
							<div class="radioset" >
								<input type="radio" id="villa" name="codneg" value="VIL" %villa-checked% onchange="prelevaNumeroFattura(this.value)"><label for="villa">%ml.villa%</label>
								<input type="radio" id="brembate" name="codneg" value="BRE" %brembate-checked% onchange="prelevaNumeroFattura(this.value)"><label for="brembate">%ml.brembate%</label>
								<input type="radio" id="trezzo" name="codneg" value="TRE" %trezzo-checked% onchange="prelevaNumeroFattura(this.value)"><label for="trezzo">%ml.trezzo%</label>
							</div>
						</td>					
					</tr>				
					<tr>
						<td align="right">%ml.numfatt% :</td>
						<td colspan="4" class="tooltip"><input type="text" id="numfat" name="numfat" size="10" maxlength="10" value='%numfat%' /></td>
					</tr>				
					<tr>
						<td align="right">%ml.banca% :</td>
						<td colspan="4" class="tooltip"><input type="text" id="ragsocbanca" name="ragsocbanca" size="60" maxlength="100" value='%ragsocbanca%'/></td>				
					</tr>				
					<tr>
						<td align="right">%ml.iban% :</td>
						<td colspan="4" class="tooltip"><input type="text" id="ibanbanca" name="ibanbanca" size="32" maxlength="40" value='%ibanbanca%'/></td>				
					</tr>				
					<tr><td><h2>Dettagli</h2></td></tr>										
					<tr>
						<td colspan="5">
							<table id="dettagli" class="display">
							    <thead>%thead_dettagli%</thead>
							    <tbody>%tbody_dettagli%</tbody>
							</table>			
						</td>
					</tr>										
				</tbody>
				<tfoot>
					<tr>
						<td colspan="4" align="right" class="tooltip">
							<button id="nuovo-dett-fattura-aziende" class="button" title="%ml.nuovoDettTip%" >%ml.nuovoDett%</button>
							<button id="creaFatt" class="button" title="%ml.creaFattTip%" >%ml.creaFat%</button>
						</td>
					</tr>
				</tfoot>
			</table>
			<input type="hidden" size='150' id="dettagliInseriti" name="dettagliInseriti" value="%dettagliInseriti%" />
			<input type="hidden" size='150' id="indexDettagliInseriti" name="indexDettagliInseriti" value="%arrayIndexDettagliInseriti%" />
		</form>
	</div>
</div>

<div id="nuovo-dettaglio-fattura-aziende-form" title="Nuovo Dettaglio Fattura"> 
	<form>
		<table class="datiCreate" cellpadding="5px">
			<tbody>
				<tr>
					<td>%ml.quantita% :</td>
					<td class="tooltip"><input type="text" id="quantita" name="quantita" size="10" maxlength="10" onblur="calcolaImponibile()" ></td>
				</tr>								
				<tr>
					<td>%ml.articolo% :</td>
					<td class="tooltip"><textarea id="articolo" name="articolo" rows="2" cols="50" title="%ml.articoloTip%"></textarea></td>
				</tr>
				<tr>
					<td>%ml.importo% :</td>
					<td class="tooltip" colspan="2"><input type="text" id="importo" name="importo" size="20" maxlength="20" onblur="calcolaImponibile()" /></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>
						<div class="radioset" >
							<input type="radio" id="aliquota5" name="aliquota" value="1.05" checked /><label for="aliquota5">%ml.aliquota5%</label>
						</div>
					</td>					
				</tr>
				<tr>
					<td>%ml.totale% :</td>
					<td class="tooltip"><input type="text" id="totale" name="totale" size="10" maxlength="20" onblur="imponibile_e_iva()"></td>				
				</tr>													
				<tr>
					<td>%ml.imponibile% :</td>
					<td class="tooltip"><input type="text" id="imponibile" name="imponibile" size="10" maxlength="20"></td>				
				</tr>				
				<tr>
					<td>%ml.iva% :</td>
					<td class="tooltip"><input type="text" id="iva" name="iva" size="10" maxlength="20"></td>				
				</tr>				
			</tbody>
		</table> 	 
  </form>
</div>


<br/>