<script type="text/javascript">

    var indexDettInseriti = [ %arrayIndexDettagliInseriti% ];
    var dettInseriti = [ %arrayDettagliInseriti% ];
    var contatore = 0;

    function prelevaNumeroFattura(negozio) {

        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState === 4 && xmlhttp.status === 200) {
                $("#numfat").val(xmlhttp.responseText);
            }
        }
        xmlhttp.open("GET", "prelevaProgressivoFatturaFacade.class.php?modo=start&catcliente=1200&codneg=" + negozio, true);
        xmlhttp.send();

        // Inizializzazione della banca. Uguale per tutti i negozi

        $("#ragsocbanca").val("BCC Treviglio - Filiale di Carvico");
        $("#ibanbanca").val("IT48F0889952780000000420186");
    }

    function aggiungiDettaglio() {

        var rowCount = $('#dettagli tbody tr').length;

        if (rowCount === 1) {
            $("#dettagli thead").append("<tr>" +
                    "<th class='text-center'>Quantit&agrave;</th>" +
                    "<th>Articolo</th>" +
                    "<th class='text-right'>Importo</th>" +
                    "<th class='text-right'>Totale</th>" +
                    "<th class='text-right'>Imponibile</th>" +
                    "<th class='text-right'>Iva</th>" +
                    "<th></th>" +
                    "</tr>");
        }

        contatore = contatore + 1;

        var quantita = $("#quantita").val();
        var articolo = $("#articolo").val();
        var articoloNormalizzato = replaceAll(articolo.trim(), ",", ".");
        var importo = $("#importo").val();
        var importoNormalizzato = importo.trim().replace(",", ".");
        var totale = $("#totale").val();
        var totaleNormalizzato = totale.trim().replace(",", ".");
        var imponibile = $("#imponibile").val();
        var imponibileNormalizzato = imponibile.trim().replace(",", ".");
        var iva = $("#iva").val();
        var ivaNormalizzato = iva.trim().replace(",", ".");

        $("#dettagli tbody").append("<tr id='" + contatore + "'>" +
                "<td class='text-center'>" + quantita + "</td>" +
                "<td>" + articoloNormalizzato + "</td>" +
                "<td class='text-right'>" + importoNormalizzato + "</td>" +
                "<td class='text-right'>" + totaleNormalizzato + "</td>" +
                "<td class='text-right'>" + imponibileNormalizzato + "</td>" +
                "<td class='text-right'>" + ivaNormalizzato + "</td>" +
                "<td><a onclick='cancellaDettaglioFattura(" + contatore + ")'><span class='glyphicon glyphicon-trash'></span></a></td>" +
                "</tr>");

        var elemento = contatore + "#" + quantita + "#" + articoloNormalizzato + "#" + importoNormalizzato + "#" + totaleNormalizzato + "#" + imponibileNormalizzato + "#" + ivaNormalizzato;
        addDett(elemento, contatore);

        $("#quantita").val("");
        $("#articolo").val("");
        $("#importo").val("");
        $("#totale").val("");
        $("#imponibile").val("");
        $("#iva").val("");
    }

    function addDett(dettaglio, contatore) {

        dettInseriti.push(dettaglio);
        aggiornaDettaglioInseriti(dettInseriti);

        indexDettInseriti.push(contatore);
        aggiornaIndexDettaglioInseriti(indexDettInseriti);
    }

    function aggiornaDettaglioInseriti(dettInseriti) {
        $("#dettagliInseriti").val(dettInseriti);
    }

    function aggiornaIndexDettaglioInseriti(indexDettInseriti) {
        $("#indexDettagliInseriti").val(indexDettInseriti);
    }

    function calcolaImponibile() {

        var importo = $("#importo").val();
        var quantita = $("#quantita").val();

        var importoNormalizzato = importo.trim().replace(",", ".");

        if (importoNormalizzato > 0) {

            var totale = importoNormalizzato * quantita;
            $("#totale").val(totale);

            imponibile_e_iva();
        }
    }

    function imponibile_e_iva() {

        var totale = $("#totale").val();
        var totaleNormalizzato = totale.trim().replace(",", ".");

        var aliquota = $("input[name=aliquota]:checked").val();

        var imponibile = totaleNormalizzato / aliquota;
        var imponibileArrotondato = imponibile.toFixed(2);

        $("#imponibile").val(imponibileArrotondato);

        if (aliquota === "1.05") {
            var iva = imponibileArrotondato * 0.05;
        }

        var ivaArrotondata = iva.toFixed(2);
        $("#iva").val(ivaArrotondata);
    }

    $(document).ready(function () {
        $('#dettagli').dataTable({
            "paging": false,
            "searching": false,
            "info": false,
            "columnDefs": [
                {"targets": 0, "orderable": false},
                {"targets": 1, "orderable": false},
                {"targets": 2, "orderable": false},
                {"targets": 3, "orderable": false},
                {"targets": 4, "orderable": false},
                {"targets": 5, "orderable": false},
                {"targets": 6, "orderable": false}
            ],
            "language": {
                "lengthMenu": "Visualizza _MENU_ righe per pagina",
                "zeroRecords": " ",
                "info": "Pagina _PAGE_ di _PAGES_",
                "infoEmpty": " ",
                "infoFiltered": "(righe filtrate da _MAX_ totali)",
                "search": "Cerca:",
                "paginate": {
                    "first": "Prima",
                    "last": "Ultima",
                    "next": "Prossima",
                    "previous": "Precedente"
                }
            }
        });
    });

</script>

<div class="container-fluid">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-7">
                    <h4>%titoloPagina%</h4>
                </div>
            </div>
            <br/>
        </div>
        <div class="panel-body">
            <form method="post" id="nuovaFatturaForm" action="../fatture/creaFatturaAziendaConsortileFacade.class.php?modo=go" >

                <div class="form-group row">
                    <div class="col-sm-2">
                        <div class='input-group' id="datafat_control_group">
                            <div class='input-group date' data-provide='datepicker' data-date-format="dd-mm-yyyy" data-date-autoclose='true' data-date-today-highlight='true'>
                                <input type='text' class="form-control" id="datafat" name="datafat"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class='input-group'>
                            <span class="input-group-addon">%ml.datarif%</span>
                            <select class="selectmenuMeserif" id="meserif" name="meserif" >
                                <option value="" %empty_selected%>%ml.selezionare%</option>
                                <option value="01" %gen_selected% >%ml.gen%</option>
                                <option value="02" %feb_selected% >%ml.feb%</option>
                                <option value="03" %mar_selected% >%ml.mar%</option>
                                <option value="04" %apr_selected% >%ml.apr%</option>
                                <option value="05" %mag_selected% >%ml.mag%</option>
                                <option value="06" %giu_selected% >%ml.giu%</option>
                                <option value="07" %lug_selected% >%ml.lug%</option>
                                <option value="08" %ago_selected% >%ml.ago%</option>
                                <option value="09" %set_selected% >%ml.set%</option>
                                <option value="10" %ott_selected% >%ml.ott%</option>
                                <option value="11" %nov_selected% >%ml.nov%</option>
                                <option value="12" %dic_selected% >%ml.dic%</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <div class='input-group'>
                            <span class="input-group-addon">Titolo</span>
                            <input class="form-control" id="titolo" name="titolo" type="text" value="%titolo%"/>
                        </div>
                    </div>
                    <div class="col-sm-6 ui-front">
                        <div class='input-group' id="cliente_control_group">
                            <span class="input-group-addon">%ml.azcons%</span>
                            <select class="selectCliFor" data-live-search="true" id="cliente" name="cliente" >
                                %elenco_clienti%
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <div class='input-group'>
                            <span class="input-group-addon">%ml.tipaddebito%</span>
                            <input class="form-control" id="tipoadd" name="tipoadd" type="text" size="15" maxlength="10" value="%tipoadd%"/>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class='input-group'>
                            <span class="input-group-addon">Neg</span>
                            <select class="selectNegozio" id="codneg" name="codneg" >
                                <option value=" ">&nbsp;</option>
                                <option value="VIL">%ml.villa%</option>
                                <option value="BRE">%ml.brembate%</option>
                                <option value="TRE">%ml.trezzo%</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <div class='input-group'>
                            <span class="input-group-addon">%ml.numfatt%</span>
                            <input class="form-control" id="numfatt" name="numfatt" type="text" maxlength="10" value='%numfat%'/>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class='input-group'>
                            <span class="input-group-addon">%ml.banca%</span>
                            <input class="form-control" id="ragsocbanca" name="ragsocbanca" type="text" maxlength="100" value='%ragsocbanca%'/>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class='input-group'>
                            <span class="input-group-addon">%ml.iban%</span>
                            <input class="form-control" id="ibanbanca" name="ibanbanca" type="text" maxlength="40" value='%ibanbanca%'/>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-default" id="nuovo-dett-fattura-aziende">%ml.nuovoDett%</button>
                        <button type="button" class="btn btn-default" id="creaFatt">%ml.creaFat%</button>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <div class="control-group" id="dettagli_control_group">
                            <label for="dettagli">Dettagli&nbsp;<small><span class="text-danger" id="dettagli_messaggio"></span></small></label>
                            <table class="table table-bordered table-hover" id="dettagli">
                                <thead>%thead_dettagli%</thead>
                                <tbody>%tbody_dettagli%</tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <input type="hidden" size='150' id="dettagliInseriti" name="dettagliInseriti" value="%dettagliInseriti%" />
                <input type="hidden" size='150' id="indexDettagliInseriti" name="indexDettagliInseriti" value="%arrayIndexDettagliInseriti%" />

            </form>
        </div>
    </div>
</div>

<!-- ----------------------- -->
<!-- NUOVO DETTAGLIO FATTURA -->
<!-- ----------------------- -->

<div class="container">
    <div class="modal fade" id="nuovo-dettaglio-fattura-aziende-dialog" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Nuovo dettaglio fattura</h4>
                </div>
                <div class="modal-body">
                    <div class="well well-sm">
                        <div class="form-group row">
                            <div class="col-sm-1">
                                <div class='input-group'>
                                    <span class="input-group-addon">%ml.quantita%</span>
                                    <input class="form-control" type="text" id="quantita" name="quantita" maxlength="10" onblur="calcolaImponibile()"/>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class='input-group'>
                                    <span class="input-group-addon">%ml.articolo%</span>
                                    <input class="form-control" type="text" id="articolo" name="articolo" maxlength="10" onblur="calcolaImponibile()"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <div class='input-group'>
                                    <span class="input-group-addon">%ml.importo%</span>
                                    <input class="form-control" type="text" id="importo" name="importo" maxlength="20" onblur="calcolaImponibile()"/>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label>%ml.tipaddebito%&nbsp;<small><span class="text-danger" id="tipoadd_cre_messaggio"></span></small></label>
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-primary active"><input type="radio" id="aliquota5" name="aliquota" autocomplete="off" value="1.05" checked /><label for="aliquota5">%ml.aliquota5%</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <div class='input-group'>
                                    <span class="input-group-addon">%ml.totale%</span>
                                    <input class="form-control" type="text" id="totale" name="totale" maxlength="20" onblur="imponibile_e_iva()"/>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class='input-group'>
                                    <span class="input-group-addon">%ml.imponibile%</span>
                                    <input class="form-control" type="text" id="imponibile" name="imponibile" maxlength="20">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class='input-group'>
                                    <span class="input-group-addon">%ml.iva%</span>
                                    <input class="form-control" type="text" id="iva" name="iva" maxlength="20"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>