<body>

<script type="text/javascript">

function prelevaNumeroFattura(negozio) {

	var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
            $( "#numfat" ).val(xmlhttp.responseText);
        }
    } 
    xmlhttp.open("GET", "prelevaProgressivoFatturaFacade.class.php?modo=start&catcliente=1200&codneg=" + negozio, true);
    xmlhttp.send();		
    
    // Inizializzazione della banca sulla base del negozio selezionato
    
    if (negozio == "VIL") {
    	$( "#ragsocbanca" ).val("BCC Treviglio - Filiale di Villa d'Adda");
    	$( "#ibanbanca" ).val("IT 58 T 08899 53720 000000420186");
    }
    
    if (negozio == "BRE") {$( "#ragsocbanca" ).val("manca!");}
    
    if (negozio == "TRE") {$( "#ragsocbanca" ).val("manca!");}
    
}

</script>

<div id="body">
	<div id="main">
		<h2>%titoloPagina%</h2>

		<form method="post" action="%azione%" >
			<table class="datiCreate" cellpadding="5px">
				<tbody>
					<tr>
						<td class="td">%ml.datafat% :</td>
						<td colspan="4" class="tooltip"><input class="datepicker" type="text" id="datafat" name="datafat" size="10" maxlength="10" value='%datafat%'/></td>
					</tr>					
					<tr>
						<td>%ml.azcons% :</td>
						<td class="tooltip">
							<select class="selectmenuCliente" id="cliente" name="cliente" >
								<option value=""></option>
								%elenco_clienti%
							</select>
						</td>
					</tr>				
					<tr>
						<td>%ml.tipaddebito% :</td>
						<td class="tooltip"><input type="text" id="tipoadd" name="tipoadd" size="15" maxlength="10" value='%tipoadd%'/></td>
					</tr>
					<tr>				
						<td>%ml.negozio% :</td>						
						<td>
							<div class="radioset" >
								<input type="radio" id="villa" name="codneg" value="VIL" %villa-checked% onchange="prelevaNumeroFattura(this.value)"><label for="villa">%ml.villa%</label>
								<input type="radio" id="brembate" name="codneg" value="BRE" %brembate-checked% onchange="prelevaNumeroFattura(this.value)"><label for="brembate">%ml.brembate%</label>
								<input type="radio" id="trezzo" name="codneg" value="TRE" %trezzo-checked% onchange="prelevaNumeroFattura(this.value)"><label for="trezzo">%ml.trezzo%</label>
							</div>
						</td>					
					</tr>				
					<tr>
						<td>%ml.numfatt% :</td>
						<td class="tooltip"><input type="text" id="numfat" name="numfat" size="10" maxlength="10" value='%numfat%'/></td>				
					</tr>				
					<tr>
						<td>%ml.banca% :</td>
						<td class="tooltip"><input type="text" id="ragsocbanca" name="ragsocbanca" size="60" maxlength="100" value='%ragsocbanca%'/></td>				
					</tr>				
					<tr>
						<td>%ml.iban% :</td>
						<td class="tooltip"><input type="text" id="ibanbanca" name="ibanbanca" size="32" maxlength="40" value='%ibanbanca%'/></td>				
					</tr>				
					

					
				</tbody>
				<tfoot>
					<tr>
						<td colspan="2" align="right" class="tooltip"><button id="creaFatt" class="button" title="%ml.creaFattTip%" >%ml.creaFat%</button></td>
					</tr>
				</tfoot>
			</table>
		</form>
	</div>
</div>

<br/>