<body>

<script type="text/javascript">

var indexDettInseriti = [%arrayIndexDettagliInseriti%];
var dettInseriti = [%arrayDettagliInseriti%];
var contatore = 0;

function prelevaNumeroFattura(negozio) {

	var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
            $( "#numfat" ).val(xmlhttp.responseText);
        }
    } 
    xmlhttp.open("GET", "prelevaProgressivoFatturaFacade.class.php?modo=start&catcliente=1300&codneg=" + negozio, true);
    xmlhttp.send();		
    
    // Inizializzazione della banca sulla base del negozio selezionato
    
    if (negozio == "VIL") {
    	$( "#ragsocbanca" ).val("BCC Treviglio - Filiale di Villa d'Adda");
    	$( "#ibanbanca" ).val("IT 58 T 08899 53720 000000420186");
    }
    
    if (negozio == "BRE") {
    	$( "#ragsocbanca" ).val("BCC Treviglio - Filiale di Brembate");
    	$( "#ibanbanca" ).val("IT 33 L 08899 52650 000000251624");
    }
    
    if (negozio == "TRE") {
    	$( "#ragsocbanca" ).val("BCC Treviglio - Filiale di Villa d'Adda");
    	$( "#ibanbanca" ).val("IT 58 T 08899 53720 000000420186");
    }    
}

function aggiungiDettaglio() {
	
	var rowCount = $('#dettagli tr').length;
	
	if (rowCount == 0) {
		$( "#dettagli thead" ).append("<tr>" + 
			"<th width='50' align='center'>Quantit&agrave;</th>" + 
			"<th width='350' align='left'>Articolo</th>" + 
			"<th width='50' align='right'>Importo</th>" +
			"<th width='50' align='right'>Totale</th>" +
			"<th width='50' align='right'>Imponibile</th>" +
			"<th width='50' align='right'>Iva</th>" +
			"<th>&nbsp;</th>" +
			"</tr>");
		$( "#dettagli" ).addClass("datiCreateSottile");
	}

	contatore = contatore + 1;
	
	var quantita = $("#quantita").val();	
	var articolo = $("#articolo").val();
	var importo = $("#importo").val();
	var importoNormalizzato = importo.trim().replace(",", ".");
	var totale = $("#totale").val();
	var imponibile = $("#imponibile").val();
	var iva = $("#iva").val();
	
	var aliquota = $("input[name=aliquota]:checked").val();
	
	if (aliquota == "1.04") {
		var aliq = 4;		
	}
	if (aliquota == "1.10") {
		var aliq = 10;		
	}
	if (aliquota == "1.22") {
		var aliq = 22;		
	}
	if (aliquota == "1") {
		var aliq = "";		
	}
	
	$( "#dettagli tbody" ).append( "<tr id='" + contatore + "'>" +
        "<td align='center'>" + quantita + "</td>" +
        "<td align='left'>" + articolo + "</td>" +
        "<td align='right'>&euro;" + importoNormalizzato + "</td>" +
        "<td align='right'>&euro;" + totale + "</td>" +
        "<td align='right'>&euro;" + imponibile + "</td>" +
        "<td align='right'>&euro;" + iva + "</td>" +
    	"<td id='icons' class='tooltip'><a onclick='cancellaDettaglioFattura(" + contatore + ")'><li class='ui-state-default ui-corner-all' title='Cancella'><span class='ui-icon ui-icon-trash'></span></li></a></td>" +
      "</tr>" );
	
	var elemento = contatore + "#" + quantita + "#" + articolo + "#" + importoNormalizzato + "#" + totale + "#" + imponibile + "#" + iva + "#" + aliq;
	addDett(elemento, contatore);
	
	$("#quantita").val("");
	$("#articolo").val("");
	$("#importo").val("");
	$("#totale").val("");
	$("#imponibile").val("");
	$("#iva").val("");
}

function addDett(dettaglio, contatore) {
	
	dettInseriti.push(dettaglio);
	aggiornaDettaglioInseriti(dettInseriti);

	indexDettInseriti.push(contatore);
	aggiornaIndexDettaglioInseriti(indexDettInseriti);
}

function aggiornaDettaglioInseriti(dettInseriti) {
 $("#dettagliInseriti").val(dettInseriti);
}

function aggiornaIndexDettaglioInseriti(indexDettInseriti) {
	$("#indexDettagliInseriti").val(indexDettInseriti);
}

function calcolaImponibile() {
	
	var importo = $("#importo").val();
	var quantita = $("#quantita").val();
	var importoNormalizzato = importo.trim().replace(",", ".");
	
	var totale = importoNormalizzato * quantita;	
	$("#totale").val(totale);
	
	var aliquota = $("input[name=aliquota]:checked").val();
	
	var imponibile = totale / aliquota;
	var imponibileArrotondato = imponibile.toFixed(2);
	
	$("#imponibile").val(imponibileArrotondato);
	
	if (aliquota == "1.04") {
		var iva = imponibileArrotondato * 0.04;		
	}
	if (aliquota == "1.10") {
		var iva = imponibileArrotondato * 0.10;		
	}
	if (aliquota == "1.22") {
		var iva = imponibileArrotondato * 0.22;		
	}
	if (aliquota == "1") {
		var iva = 0;		
	}
	
	var ivaArrotondata = iva.toFixed(2);
	$("#iva").val(ivaArrotondata);	
}

</script>

<div id="body">
	<div id="main">
		<h2>%titoloPagina%</h2>

		<form method="post" action="%azione%" >
			<table class="datiCreate" cellpadding="5px">
				<tbody>
					<tr>
						<td class="td">%ml.datafat% :</td>
						<td colspan="4" class="tooltip"><input class="datepicker" type="text" id="datafat" name="datafat" size="10" maxlength="10" value='%datafat%'/></td>
					</tr>					
					<tr>
						<td>%ml.entepub% :</td>
						<td class="tooltip">
							<select class="selectmenuCliente" id="cliente" name="cliente" >
								<option value=""></option>
								%elenco_clienti%
							</select>
						</td>
					</tr>				
					<tr>
						<td>%ml.tipaddebito% :</td>
						<td class="tooltip"><input type="text" id="tipoadd" name="tipoadd" size="15" maxlength="10" value='%tipoadd%'/></td>
					</tr>
					<tr>				
						<td>%ml.negozio% :</td>						
						<td>
							<div class="radioset" >
								<input type="radio" id="villa" name="codneg" value="VIL" %villa-checked% onchange="prelevaNumeroFattura(this.value)"><label for="villa">%ml.villa%</label>
								<input type="radio" id="brembate" name="codneg" value="BRE" %brembate-checked% onchange="prelevaNumeroFattura(this.value)"><label for="brembate">%ml.brembate%</label>
								<input type="radio" id="trezzo" name="codneg" value="TRE" %trezzo-checked% onchange="prelevaNumeroFattura(this.value)"><label for="trezzo">%ml.trezzo%</label>
							</div>
						</td>					
					</tr>				
					<tr>
						<td>%ml.numfatt% :</td>
						<td class="tooltip"><input type="text" id="numfat" name="numfat" size="10" maxlength="10" value='%numfat%' /></td>
					</tr>				
					<tr>
						<td>%ml.banca% :</td>
						<td class="tooltip" colspan="2"><input type="text" id="ragsocbanca" name="ragsocbanca" size="60" maxlength="100" value='%ragsocbanca%'/></td>				
					</tr>				
					<tr>
						<td>%ml.iban% :</td>
						<td class="tooltip"><input type="text" id="ibanbanca" name="ibanbanca" size="32" maxlength="40" value='%ibanbanca%'/></td>				
					</tr>
					<tr>				
						<td>%ml.tipofat% :</td>						
						<td>
							<div class="radioset" >
								<input type="radio" id="contributo" name="tipofat" value="CONTRIBUTO" %contributo-checked% /><label for="contributo">%ml.contributo%</label>
								<input type="radio" id="vendita" name="tipofat" value="VENDITA" %vendita-checked% /><label for="vendita">%ml.vendita%</label>
							</div>
						</td>					
					</tr>				
					<tr>
						<td colspan="4">
							<table id="dettagli" class="%class_dettagli%">
							    <thead>%thead_dettagli%</thead>
							    <tbody>%tbody_dettagli%</tbody>
							</table>			
						</td>
					</tr>										
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3" align="right" class="tooltip">
							<button id="nuovo-dett-fattura-aziende" class="button" title="%ml.nuovoDettTip%" >%ml.nuovoDett%</button>
							<button id="creaFatt" class="button" title="%ml.creaFattTip%" >%ml.creaFat%</button>
						</td>
					</tr>
				</tfoot>
			</table>
			<input type="hidden" size='150' id="dettagliInseriti" name="dettagliInseriti" value="%dettagliInseriti%" />
			<input type="hidden" size='150' id="indexDettagliInseriti" name="indexDettagliInseriti" value="%arrayIndexDettagliInseriti%" />
		</form>
	</div>
</div>

<div id="nuovo-dettaglio-fattura-aziende-form" title="Nuovo Dettaglio Fattura"> 
	<form>
		<table class="datiCreate" cellpadding="5px">
			<tbody>
				<tr>
					<td>%ml.quantita% :</td>
					<td class="tooltip"><input type="text" id="quantita" name="quantita" size="10" maxlength="10" ></td>
				</tr>								
				<tr>
					<td>%ml.articolo% :</td>
					<td class="tooltip"><input type="text" id="articolo" name="articolo" size="40" maxlength="40" ></td>
				</tr>
				<tr>
					<td>%ml.importo% :</td>
					<td class="tooltip" colspan="2"><input type="text" id="importo" name="importo" size="20" maxlength="20" onblur="calcolaImponibile()" /></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>
						<div class="radioset" >
							<input type="radio" id="aliquota4" name="aliquota" value="1.04" checked onchange="calcolaImponibile()"/><label for="aliquota4">%ml.aliquota4%</label>
							<input type="radio" id="aliquota10" name="aliquota" value="1.10" onchange="calcolaImponibile()"/><label for="aliquota10">%ml.aliquota10%</label>
							<input type="radio" id="aliquota22" name="aliquota" value="1.22" onchange="calcolaImponibile()"/><label for="aliquota22">%ml.aliquota22%</label>
							<input type="radio" id="fc" name="aliquota" value="1" onchange="calcolaImponibile()"/><label for="fc">%ml.fc%</label>
						</div>
					</td>					
				</tr>
				<tr>
					<td>%ml.totale% :</td>
					<td class="tooltip"><input type="text" id="totale" name="totale" size="10" maxlength="20"></td>				
				</tr>													
				<tr>
					<td>%ml.imponibile% :</td>
					<td class="tooltip"><input type="text" id="imponibile" name="imponibile" size="10" maxlength="20"></td>				
				</tr>				
				<tr>
					<td>%ml.iva% :</td>
					<td class="tooltip"><input type="text" id="iva" name="iva" size="10" maxlength="20"></td>				
				</tr>				
			</tbody>
		</table> 	 
  </form>
</div>


<br/>