<body>

<div id="body">
	<div id="main">
		<h2>%titoloPagina%</h2>

		<form method="post" action="%azione%" >
			<table class="datiCreate" cellpadding="5px">
				<tbody>
					<tr>
						<input type="hidden" name="codneg_sel" value="CAS"/>						
					</tr>
					<tr>
						<td class="td">%ml.dataRipSaldo% :</td>
						<td colspan="4" class="tooltip">
							<input class="datepicker" type="text" id="datsaldo" name="datsaldo" size="10" maxlength="10" value='%datsaldo%' >
						</td>
					</tr>					
					<tr>
						<td>%ml.dessaldo% :</td>
						<td class="tooltip"><input type="text" id="dessaldo" name="dessaldo" size="70" maxlength="100" value='%dessaldo%' ></td>
					</tr>
					<tr>
						<td>%ml.conto% :</td>
						<td class="tooltip">
							<select class="selectmenuConti" id="codconto" name="codconto" >
								<option value=""></option>
								%elenco_conti%
							</select>
						</td>
					</tr>													
					<tr>
						<td>%ml.importo% :</td>
						<td class="tooltip"><input type="text" id="impsaldo" name="impsaldo" size="20" maxlength="20" value='%impsaldo%'></td>
					</tr>					
					
					<tr>
						<td>
							<div class="radioset" >
								<input type="radio" id="dare" name="dareavere" value="D" checked ><label for="dare">%ml.dare%</label>
								<input type="radio" id="avere" name="dareavere" value="A" ><label for="avere">%ml.avere%</label>
							</div>
						</td>					
					</tr>					
				</tbody>
				<tfoot>
					<tr>
						<td colspan="2" align="right" class="tooltip"><button id="salva" class="button" title="%ml.salvaTip%" >%ml.salva%</button></td>
					</tr>
				</tfoot>
			</table>
		</form>
	</div>
</div>

<br/>