<html>
<head>
	<meta charset="utf-8">
	<title>Chopin - Contabilit&agrave;</title>
	
	<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" >
	<link rel="stylesheet" type="text/css" href="http://www.jqueryscript.net/css/jquerysctipttop.css" >
	
	<style type="text/css" media="screen">
	
		@import url("../../css/main.css");
		@import url("../../css/jquery.css");
		@import url("../../css/style.css");
		@import url("../../jquery/jquery-ui.css");
		
	</style>	
</head>

<body>

	<div class="jquery-script-clear"></div>

	<div class="container">
	
		<div class="task-list" id="pending">
			<h3>Da Fare</h3>
		</div>
		
		<div class="task-list" id="inProgress">
			<h3>In Corso</h3>
		</div>
		
		<div class="task-list" id="completed">
			<h3>Completati</h3>
		</div>
		
		<div class="task-list">
			<h3>Aggiungi un task</h3>

			<form id="todo-form">
				<input type="text" placeholder="Title" />
				<textarea placeholder="Description"></textarea>
				<input type="text" id="datepicker" placeholder="Due Date (dd/mm/yy)" />
				<input type="button" class="btn btn-primary" value="Aggiungi" onclick="todo.add();" />
			</form>
			<input type="button" class="btn btn-primary" value="Cancella tutti" onclick="todo.clear();"/>
			<div id="delete-div">Drag Here to Delete</div>
		</div>
	</div>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> 
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script> 
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> 
	<script src="../../js/todo.js"></script> 

	<script type="text/javascript">
		$("#datepicker").datepicker();
		$("#datepicker").datepicker("option", "dateFormat", "dd/mm/yy");
		todo.init();
	</script>

</body>
</html>
