<!doctype html>
<html lang="us">
<head>
	<meta charset="utf-8">
	<title>Chopin - Contabilit&agrave;</title>
	<link href="../jquery/jquery-ui.css" rel="stylesheet">
	<style type="text/css" media="screen">
	
		@import url("../css/main.css");
		@import url("../css/jquery.css");
		
	</style>
</head>

<div id="main">

<br>		
<table class="datiCreateSottile" cellpadding="5px">
	<tbody>
		<tr>
			<td width="1000" valign="top">
				<h2>Agenda della settimana</h2>							
				<div class='scroll-main'>%risultato_agenda%</div>			
			</td>
		</tr>
	</tbody>
</table>
</div>
</body>
</html>
