<div id="body">  
<div id="main">

<div class="jquery-script-clear"></div>

<div class="container">

	<div class="task-list" id="pending">
		<h3>Da Fare</h3>
	</div>
	
	<div class="task-list" id="inProgress">
		<h3>In Corso</h3>
	</div>
	
	<div class="task-list" id="completed">
		<h3>Completati</h3>
	</div>
	
	<div class="task-list">
		<h3>Aggiungi un task</h3>

		<form id="todo-form">
			<input type="text" placeholder="Titolo" />
			<textarea placeholder="Descrizione"></textarea>
			<input type="text" id="datepicker" placeholder="Data Scadenza" />
			<input type="button" class="btn btn-primary" value="Aggiungi" onclick="todo.add();" />
		</form>
		<div id="delete-div">Trascina qui per cancellare</div>
	</div>
</div>

</div>	<!-- Div id="main" -->
</div>	<!-- Div id="body" -->

%avvisoDiv%

<script type="text/javascript">

	$("#datepicker").datepicker();
	$("#datepicker").datepicker("option", "dateFormat", "dd/mm/yy");
	todo.init();
	
	%avvisoDialog%
	
</script>

<script type="text/javascript">
</script>
