<body>

<script type="text/javascript">

var indexDettInseriti = [%arrayIndexDettagliInseriti%];
var dettInseriti = [%arrayDettagliInseriti%];
var elencoFornitori = [%elenco_fornitori%];

function aggiungiDettaglio() {
	
	var rowCount = $('#dettagli tbody tr').length;
	
	if (rowCount == 1) {
		$( "#dettagli thead" ).append("<tr>" + 
			"<th>Conto</th>" + 
			"<th class='dt-right'>Importo</th>" + 
			"<th class='dt-center'>D/A</th>" +
			"<th>&nbsp;</th>" +
			"</tr>");
	}
	
	if($('#dare').is(':checked')) { var D_A = $("#dare").val(); }
	if($('#avere').is(':checked')) { var D_A = $("#avere").val(); }

	var conto = $("#conti").val();	
	var idconto = conto.substring(0, 6);
	var importo = $("#importo").val();
	var importoNormalizzato = importo.trim().replace(",", ".");

	$( "#dettagli tbody" ).append( "<tr id='" + idconto.trim() + "'>" +
        "<td>" + conto + "</td>" +
        "<td class='dt-right'>" + importoNormalizzato + "</td>" +
        "<td class='dt-center'>" + D_A + "</td>" +
    	"<td id='icons'><a class='tooltip' onclick='cancellaDettaglioPagina(" + idconto + ")'><li class='ui-state-default ui-corner-all' title='Cancella'><span class='ui-icon ui-icon-trash'></span></li></a></td>" +
      "</tr>" );
	
	var elemento = conto + "#" + importoNormalizzato + "#" + D_A;
	addDett(elemento);
	
	$("#importo").val("");
	$('#conti').prop("selectedIndex",0).selectmenu('refresh');
	$('#dare').attr('checked', true);
	
}

function addDett(dettaglio) {
	
	dettInseriti.push(dettaglio);
	aggiornaDettaglioInseriti(dettInseriti);

	var conto = dettaglio.substring(0, 6).trim();
	indexDettInseriti.push(conto);
	aggiornaIndexDettaglioInseriti(indexDettInseriti);
}

function aggiornaDettaglioInseriti(dettInseriti) {
	$("#dettagliInseriti").val(dettInseriti);
}

function aggiornaIndexDettaglioInseriti(indexDettInseriti) {
	$("#indexDettagliInseriti").val(indexDettInseriti);
}

function doSubmit() {
	
	var selectfatt = $("#select2").val();
	$("#numfatt").val(selectfatt);
	$("#mainform").submit();
}

//---------------------------------------------------------------------

function cercaContiCausale(desconto) {

	var causale = $("#causale").val();

	if ((causale != "") && (desconto != "")) {
		var xmlhttp = new XMLHttpRequest();
	    xmlhttp.onreadystatechange = function() {
	        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
	        	$( "#conti" ).html(xmlhttp.responseText);
                $( "#conti" ).selectmenu( "refresh" );	        	
	        }
	    } 
	    xmlhttp.open("GET", "leggiContiCausaleFacade.class.php?modo=start&causale=" + causale + "&desconto=" + desconto, true);
	    xmlhttp.send();		
	}	
}

$(document).ready( function () {
    $('#dettagli').dataTable( {
    	"paging": false,
    	"searching": false,
    	"info": false,
    	"columnDefs": [
       	    {"targets": 0, "orderable": false},
       	    {"targets": 1, "orderable": false},
    	    {"targets": 2, "orderable": false},
    	    {"targets": 3, "orderable": false}
    		],
       		"language": {
                "lengthMenu": "Visualizza _MENU_ righe per pagina",
                "zeroRecords": " ",
                "info": "Pagina _PAGE_ di _PAGES_",
                "infoEmpty": " ",
                "infoFiltered": "(righe filtrate da _MAX_ totali)",
                "search": "Cerca:",
                "paginate": {
                    "first":      "Prima",
                    "last":       "Ultima",
                    "next":       "Prossima",
                    "previous":   "Precedente"
                }
         }	    		
    } );
} );

</script>
	
<div id="body">
	<div id="main">
		<h2>%titoloPagina%</h2>

		<form method="post" id="mainform" action="%azione%" >
			<table class="datiCreate" cellpadding="5px">
				<tbody>
					<tr>
						<td class="td">%ml.datareg% :</td>
						<td colspan="4" class="tooltip">
							<input class="dataregpicker" type="text" id="datareg" name="datareg" size="10" maxlength="10" value='%datareg%' >
							&nbsp;&nbsp;&nbsp;%ml.descreg% : <input type="text" name="descreg" size="80" maxlength="200" value='%descreg%' >
						</td>
					</tr>
					<tr>
						<td>%ml.codcau% :</td>
						<td class="tooltip">
							<select class="selectmenuCausalePagamenti" id="causale" name="causale" >
								<option value=""></option>
								%elenco_causali%
							</select>
						</td>
						<td>%ml.negozio% :</td>						
						<td>
							<div class="radioset" >
								<input type="radio" id="villa" name="codneg" value="VIL" %villa-checked% ><label for="villa">%ml.villa%</label>
								<input type="radio" id="brembate" name="codneg" value="BRE" %brembate-checked% ><label for="brembate">%ml.brembate%</label>
								<input type="radio" id="trezzo" name="codneg" value="TRE" %trezzo-checked% ><label for="trezzo">%ml.trezzo%</label>
							</div>
						</td>					
					</tr>					
					<tr>
						<td>%ml.codforn% :</td>
						<td><div><input type="text" id="fornitore" name="fornitore" size="40" value="%desforn%" /></div></td>						
					</tr>					
					<tr>
						<td>%ml.numfatt% :</td>
						<td>
							<select class="numfatt-multiple" multiple="multiple" style="width: 300px" id="select2">
							%elenco_scadenze_fornitore%
							</select>						
						</td>	
					</tr>
					<tr><td><h2>Dettagli</h2></td></tr>										
					<tr>
						<td colspan="4">
							<table id="dettagli" class="display">
							    <thead>%thead_dettagli%</thead>
							    <tbody>%tbody_dettagli%</tbody>
								<tfoot>
									<tr style="font-weight:bolder; color:red;">
										<td colspan="4"><p id="esitoControlloContoDettaglio"></p></td>
									</tr>
								</tfoot>							
							</table>			
						</td>
					</tr>										
				</tbody>
				<tfoot>
					<tr>
						<td colspan="6" align="right" class="tooltip">
							<button id="nuovo-dett-pagam" class="button" title="%ml.nuovoDettTip%" >%ml.nuovoDett%</button>
							<button id="salva" class="button" onclick="doSubmit()" title="%ml.salvaTip%" >%ml.salva%</button>
						</td>
						<input type="hidden" id="numfatt" name="numfatt" />
						<input type="hidden" id="pagamentoForm" value="PAGAMENTO"/>
					</tr>
				</tfoot>
			</table>
			<input type="hidden" size='150' id="dettagliInseriti" name="dettagliInseriti" value="%dettagliInseriti%" />
			<input type="hidden" size='150' id="indexDettagliInseriti" name="indexDettagliInseriti" value="%arrayIndexDettagliInseriti%" />
		</form>
	</div>
</div>

<div id="nuovo-dettaglio-pagamento-form" title="Nuovo Dettaglio"> 
	<form>
		<table class="datiCreate" cellpadding="5px">
			<tbody>
				<tr>
					<td>%ml.importo% :</td>
					<td class="tooltip"><input type="text" id="importo" name="importo" size="20" maxlength="20" ></td>
				</tr>					
				<tr>
					<td>%ml.cercaConto% :</td>
					<td><input type="text" id="conto" name="conto" width=200 onkeyup="cercaContiCausale(this.value)"></td>
				</tr>	
				<tr>
					<td>%ml.conto% :</td>
					<td><select class='selectmenuConto' id="conti">%elenco_conti%</select></td>
				</tr>	
				<tr>
					<td>
						<div class="radioset" >
							<input type="radio" id="dare" name="dareavere" value="D" checked ><label for="dare">%ml.dare%</label>
							<input type="radio" id="avere" name="dareavere" value="A" ><label for="avere">%ml.avere%</label>
						</div>
					</td>					
				</tr>					
			</tbody>
		</table> 	 
  </form>
</div>

<br/>