<script type="text/javascript">

var indexDettInseriti = [%arrayIndexDettagliInseriti%];
var dettInseriti = [%arrayDettagliInseriti%];

var indexScadenzeInserite = [%arrayIndexScadenzeInserite%];
var scadenzeInserite = [%arrayScadenzeInserite%];

var elencoFornitori = [%elenco_fornitori%];
var elencoClienti = [%elenco_clienti%];

function aggiungiDettaglio() {
	
	var rowCount = $('#dettagli tbody tr').length;
	
	if (rowCount == 1) {
		$( "#dettagli thead" ).append("<tr>" + 
			"<th>Conto</th>" + 
			"<th class='dt-right'>Importo</th>" + 
			"<th class='dt-center'>D/A</th>" +
			"<th>&nbsp;</th>" +
			"</tr>");
	}
	
	if($('#dare').is(':checked')) { var D_A = $("#dare").val(); }
	if($('#avere').is(':checked')) { var D_A = $("#avere").val(); }

	var conto = $("#conti").val();	
	var idconto = conto.substring(0, 6);
	var importo = $("#importo").val();
	var importoNormalizzato = importo.trim().replace(",", ".");
	
	$( "#dettagli tbody" ).append( "<tr id='" + idconto.trim() + "'>" +
        "<td>" + conto + "</td>" +
        "<td class='dt-right'>" + importoNormalizzato + "</td>" +
        "<td class='dt-center'>" + D_A + "</td>" +
    	"<td id='icons'><a class='tooltip' onclick='cancellaDettaglioPagina(" + idconto + ")'><li class='ui-state-default ui-corner-all' title='Cancella'><span class='ui-icon ui-icon-trash'></span></li></a></td>" +
      "</tr>" );
	
	var elemento = conto + "#" + importoNormalizzato + "#" + D_A;
	addDett(elemento);
	
	$("#importo").val("");
	$('#conti').prop("selectedIndex",0).selectmenu('refresh');
	$('#dare').attr('checked', true);	
}

function addDett(dettaglio) {
	
	dettInseriti.push(dettaglio);
	aggiornaDettaglioInseriti(dettInseriti);

	var conto = dettaglio.substring(0, 6).trim();
	indexDettInseriti.push(conto);
	aggiornaIndexDettaglioInseriti(indexDettInseriti);
}

function aggiornaDettaglioInseriti(dettInseriti) {
 $("#dettagliInseriti").val(dettInseriti);
}

function aggiornaIndexDettaglioInseriti(indexDettInseriti) {
	$("#indexDettagliInseriti").val(indexDettInseriti);
}

//---------------------------------------------------------------------

function aggiungiScadenzaSupplementare() {
	
	var rowCount = $('#scadenzesuppl tr').length;
	
	if (rowCount == 0) {
		$( "#scadenzesuppl thead" ).append("<tr>" + 
			"<th width='100' align='center'>Scadenza</th>" + 
			"<th width='100' align='right'>Importo</th>" +
			"<th>&nbsp;</th>" +
			"</tr>");
		$( "#scadenzesuppl" ).addClass("datiCreateSottile");
	}

	var scadenzasuppl = $("#datascadsuppl").val();
	var data = (new Date(scadenzasuppl).getTime() / 1000).toFixed(0);
	
	var importo = $("#importosuppl").val();
	var importoNormalizzato = importo.trim().replace(",", ".");
	
	$( "#scadenzesuppl tbody" ).append( "<tr id=" + data + ">" +
        "<td align='center'>" + scadenzasuppl + "</td>" +
        "<td align='right'>" + importoNormalizzato + "</td>" +
    	"<td id='icons'><a class='tooltip' onclick='cancellaScadenzaSupplementarePagina(" + data + ")'><li class='ui-state-default ui-corner-all' title='Cancella'><span class='ui-icon ui-icon-trash'></span></li></a></td>" +
      "</tr>" );
	
	var elemento = data + "#" + scadenzasuppl + "#" + importoNormalizzato;
	addScadenza(elemento);
	
	$("#importo").val("");
	$("#scadenzesuppl").val("");	
}

function addScadenza(dettaglio) {
	
	scadenzeInserite.push(dettaglio);
	aggiornaScadenzeInserite(scadenzeInserite);

	var id = dettaglio.split("#");
	indexScadenzeInserite.push(id[0]);
	aggiornaIndexScadenzeInserite(indexScadenzeInserite);
}

function aggiornaScadenzeInserite(scadenzeInserite) {
	$("#scadenzeInserite").val(scadenzeInserite);
}

function aggiornaIndexScadenzeInserite(indexScadenzeInserite) {
	$("#indexScadenzeInserite").val(indexScadenzeInserite);
}

// ---------------------------------------------------------------------

function controllaDescrizione() {

	if ($("#descreg").val() != "") {
    	$( "#tddescreg").removeClass("inputFieldError");	
        $( "#esitoDescrizione" ).val("");			
		$( "#messaggioControlloDescrizione" ).html("");
	}
	else {
		$("#messaggioControlloDescrizione").html("Dato errato");
		$("#tddescreg").addClass("inputFieldError");			
	}
}

// ---------------------------------------------------------------------

function controllaCausale() {

	if ($("#causale").val() != "") {
    	$( "#tdcausale").removeClass("inputFieldError");	
        $( "#esitoCausale" ).val("");			
		$( "#messaggioControlloCausale" ).html("");
	}
	else {
		$("#messaggioControlloCausale").html("Dato errato");
		$("#tdcausale").addClass("inputFieldError");			
	}
}

//---------------------------------------------------------------------

function controllaNegozio() {

	if ($("#codneg").val() != "") {
 		$( "#tdnegozio").removeClass("inputFieldError");	
     	$( "#esitoNegozio" ).val("");			
		$( "#messaggioControlloNegozio" ).html("");
	}
	else {
		$("#messaggioControlloNegozio").html("Dato errato");
		$("#tdnegozio").addClass("inputFieldError");			
	}
}

// ---------------------------------------------------------------------

function controllaFornitore() {

	if ($("#fornitore").val() != "") {
		
		if ($("#cliente").val() == "") {
			
        	$( "#tdfornitore").removeClass("inputFieldError");	
            $( "#esitoFornitore" ).val("");			
			$( "#messaggioControlloFornitore" ).html("");
        	$( "#tdcliente").removeClass("inputFieldError");	
            $( "#esitoCliente" ).val("");			
			$( "#messaggioControlloCliente" ).html("");				
		}
		else {
			$( "#messaggioControlloFornitore" ).html("Dato errato");
			$( "#tdfornitore" ).addClass("inputFieldError");			
			$( "#messaggioControlloCliente" ).html("Dato errato");
			$( "#tdcliente" ).addClass("inputFieldError");							
		}
	}
	else {

		if ($( "#numfatt" ).val() =! "") {
			if ($("#cliente").val() == "") {
				$("#messaggioControlloFornitore").html("Dato errato");
				$("#tdfornitore").addClass("inputFieldError");							
			}
			else {
	        	$( "#tdfornitore").removeClass("inputFieldError");	
	            $( "#esitoFornitore" ).val("");			
				$( "#messaggioControlloFornitore" ).html("");
	        	$( "#tdcliente").removeClass("inputFieldError");	
	            $( "#esitoCliente" ).val("");			
				$( "#messaggioControlloCliente" ).html("");								
		    	$( "#tddatascad").removeClass("inputFieldError");	
		        $( "#esitoDatascad" ).val("");			
				$( "#messaggioControlloDataScadenza" ).html("");
			}			
		}
		else {
        	$( "#tdfornitore").removeClass("inputFieldError");	
            $( "#esitoFornitore" ).val("");			
			$( "#messaggioControlloFornitore" ).html("");
        	$( "#tdcliente").removeClass("inputFieldError");	
            $( "#esitoCliente" ).val("");			
			$( "#messaggioControlloCliente" ).html("");								
	    	$( "#tddatascad").removeClass("inputFieldError");	
	        $( "#esitoDatascad" ).val("");			
			$( "#messaggioControlloDataScadenza" ).html("");
		}
	}
}

// ---------------------------------------------------------------------

function controllaCliente() {

	if ($("#cliente").val() != "") {
		
		if ($("#fornitore").val() == "") {
			
        	$( "#tdcliente").removeClass("inputFieldError");	
            $( "#esitoCliente" ).val("");			
			$( "#messaggioControlloCliente" ).html("");			
        	$( "#tdfornitore").removeClass("inputFieldError");	
            $( "#esitoFornitore" ).val("");			
			$( "#messaggioControlloFornitore" ).html("");
		}
		else {
			$("#messaggioControlloCliente").html("Dato errato");
			$("#tdcliente").addClass("inputFieldError");			
			$("#messaggioControlloFornitore").html("Dato errato");
			$("#tdfornitore").addClass("inputFieldError");							
		}
	}
	else {			
		if ($("#numfatt").val() =! "") {
			if ($("#fornitore").val() == "") {
				$("#messaggioControlloCliente").html("Dato errato");
				$("#tdcliente").addClass("inputFieldError");							
			}
			else {
	        	$( "#tdcliente").removeClass("inputFieldError");	
	            $( "#esitoCliente" ).val("");			
				$( "#messaggioControlloCliente" ).html("");			
	        	$( "#tdfornitore").removeClass("inputFieldError");	
	            $( "#esitoFornitore" ).val("");			
				$( "#messaggioControlloFornitore" ).html("");				
			}			
		}
		else {
        	$( "#tdcliente").removeClass("inputFieldError");	
            $( "#esitoCliente" ).val("");			
			$( "#messaggioControlloCliente" ).html("");			
        	$( "#tdfornitore").removeClass("inputFieldError");	
            $( "#esitoFornitore" ).val("");			
			$( "#messaggioControlloFornitore" ).html("");				
		}
	}
}

// ---------------------------------------------------------------------

function controllaDataScadenza() {

	if ($("#datascad").val() != "") {
    	$( "#tddatascad").removeClass("inputFieldError");	
        $( "#esitoDatascad" ).val("");			
		$( "#messaggioControlloDataScadenza" ).html("");
	}
	else {
		$("#messaggioControlloDataScadenza").html("Dato errato");
		$("#tddatascad").addClass("inputFieldError");			
	}
}

// ---------------------------------------------------------------------

function controllaNumeroFattura() {

	var fornitore = $("#fornitore").val();
	var cliente = $("#cliente").val();
	var numfatt = $("#numfatt").val();
	var datareg = $("#datareg").val();

	if (numfatt != "") {
		
		if ((fornitore == "") && (cliente == "")) {
			$("#messaggioControlloNumeroFattura").html("Dato errato");
			$("#tdnumfatt").addClass("inputFieldError");			
			$("#tdfornitore").addClass("inputFieldError");			
			$("#tdcliente").addClass("inputFieldError");			
		}
		else {
	    	$( "#tdnumfatt").removeClass("inputFieldError");	
	        $( "#esitoNumfatt" ).val("");			
			$( "#messaggioControlloNumeroFattura" ).html("");
            $( "#esitoFornitore" ).val("");			
			$( "#messaggioControlloFornitore" ).html("");				
            $( "#esitoCliente" ).val("");			
			$( "#messaggioControlloCliente" ).html("");				
		}
	}
	else {
		
		if ((fornitore == "") && (cliente == "")) {
	    	$( "#tdnumfatt" ).removeClass("inputFieldError");	
	        $( "#esitoNumfatt" ).val("");			
			$( "#messaggioControlloNumeroFattura" ).html("");
            $( "#esitoFornitore" ).val("");			
			$( "#messaggioControlloFornitore" ).html("");				
            $( "#esitoCliente" ).val("");			
			$( "#messaggioControlloCliente" ).html("");				
			$( "#tdfornitore" ).removeClass("inputFieldError");
			$( "#tdcliente" ).removeClass("inputFieldError");
		}
		else {
			$( "#messaggioControlloNumeroFattura" ).html("Dato errato");
			$( "#tdnumfatt" ).addClass("inputFieldError");			
		}
	}	
	
	if ((fornitore != "") && (numfatt != "")) {
		var xmlhttp = new XMLHttpRequest();
	    xmlhttp.onreadystatechange = function() {
	        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
	            $( "#messaggioControlloNumeroFattura" ).html(xmlhttp.responseText);
	            $( "#esitoNumeroFattura" ).val(xmlhttp.responseText);
	            
	            if (xmlhttp.responseText != "") 
	            	$("#tdnumfatt").addClass("inputFieldError");			            	
	            else {
	            	$( "#tdnumfatt").removeClass("inputFieldError");	
	                $( "#esitoNumeroFattura" ).val("");
	            }	            
	        }
	    } 
	    xmlhttp.open("GET", "cercaFatturaFornitoreFacade.class.php?modo=start&idfornitore=" + fornitore + "&numfatt=" + numfatt + "&datareg=" + datareg, true);
	    xmlhttp.send();		
	}	
	else if ((cliente != "") && (numfatt != "")) {
		var xmlhttp = new XMLHttpRequest();
	    xmlhttp.onreadystatechange = function() {
	        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
	            $( "#messaggioControlloNumeroFattura" ).html(xmlhttp.responseText);
	            $( "#esitoNumeroFattura" ).val(xmlhttp.responseText);
	            
	            if (xmlhttp.responseText != "") 
	            	$("#tdnumfatt").addClass("inputFieldError");			            	
	            else {
	            	$( "#tdnumfatt").removeClass("inputFieldError");	
	                $( "#esitoNumeroFattura" ).val("");
	            }	            
	        }
	    } 
	    xmlhttp.open("GET", "cercaFatturaClienteFacade.class.php?modo=start&idcliente=" + cliente + "&numfatt=" + numfatt + "&datareg=" + datareg, true);
	    xmlhttp.send();		
	}
}

$(document).ready( function () {

	// Impostazione dei messaggi di errore ------------------------------------		
	
	var esitoControlloDatareg = $("#esitoControlloDataRegistrazione").val();
	var esitoControlloDescrizione = $("#esitoDescrizione").val();
	var esitoControlloNegozio = $("#esitoNegozio").val();
	var esitoControlloCausale = $("#esitoCausale").val();
	var esitoControlloFornitore = $("#esitoFornitore").val();
	var esitoControlloCliente = $("#esitoCliente").val();
	var esitoControlloDatascad = $("#esitoDatascad").val();
	var esitoControlloPresenzaNumfatt = $("#esitoNumfatt").val();
	var esitoControlloNumfatt = $("#esitoNumeroFattura").val();
	var numfatt = $("#numfatt").val();

	//--------------------------------
	if (esitoControlloDatareg != "") {
		$("#messaggioControlloDataRegistrazione").html(esitoControlloDatareg);
		$("#tddatareg").addClass("inputFieldError");
	}
	else {
		$("#tddatareg").removeClass("inputFieldError");			
	}

	//--------------------------------
	if (esitoControlloDescrizione != "") {
		$("#messaggioControlloDescrizione").html(esitoControlloDescrizione);
		$("#tddescreg").addClass("inputFieldError");
	}
	else {
		$("#tddescreg").removeClass("inputFieldError");			
	}

	//--------------------------------
	if (esitoControlloCausale != "") {
		$("#messaggioControlloCausale").html(esitoControlloCausale);
		$("#tdcausale").addClass("inputFieldError");
	}
	else {
		$("#tdcausale").removeClass("inputFieldError");			
	}

	//--------------------------------
	if (esitoControlloNegozio != "") {
		$("#messaggioControlloNegozio").html(esitoControlloNegozio);
		$("#tdnegozio").addClass("inputFieldError");
	}
	else {
		$("#tdnegozio").removeClass("inputFieldError");			
	}

	//--------------------------------
	if (esitoControlloFornitore != "") {
		$("#messaggioControlloFornitore").html(esitoControlloFornitore);
		$("#tdfornitore").addClass("inputFieldError");
	}
	else {
		$("#tdfornitore").removeClass("inputFieldError");			
	}

	//--------------------------------
	if (esitoControlloCliente != "") {
		$("#messaggioControlloCliente").html(esitoControlloCliente);
		$("#tdcliente").addClass("inputFieldError");
	}
	else {
		$("#tdcliente").removeClass("inputFieldError");			
	}

	//--------------------------------
	if (esitoControlloPresenzaNumfatt != "") {		
		$("#messaggioControlloNumeroFattura").html(esitoControlloPresenzaNumfatt);
		$("#tdnumfatt").addClass("inputFieldError");
	}
	else {
		$("#tdnumfatt").removeClass("inputFieldError");			
	}

	//--------------------------------
	if (esitoControlloDatascad != "") {
		$("#messaggioControlloDataScadenza").html(esitoControlloDatascad);
		$("#tddatascad").addClass("inputFieldError");
	}
	else {
		$("#tddatascad").removeClass("inputFieldError");			
	}
	
	//--------------------------------
	if (esitoControlloNumfatt != "") {
		$("#messaggioControlloNumeroFattura").html(esitoControlloNumfatt);
		$("#tdnumfatt").addClass("inputFieldError");		
	}
	else {
		$("#tdnumfatt").removeClass("inputFieldError");						
	}
	
    $('#dettagli').dataTable( {
    	"paging": false,
    	"searching": false,
    	"info": false,
    	"columnDefs": [
       	    {"targets": 0, "orderable": false},
       	    {"targets": 1, "orderable": false},
    	    {"targets": 2, "orderable": false},
    	    {"targets": 3, "orderable": false}
    		],
       		"language": {
                "lengthMenu": "Visualizza _MENU_ righe per pagina",
                "zeroRecords": " ",
                "info": "Pagina _PAGE_ di _PAGES_",
                "infoEmpty": " ",
                "infoFiltered": "(righe filtrate da _MAX_ totali)",
                "search": "Cerca:",
                "paginate": {
                    "first":      "Prima",
                    "last":       "Ultima",
                    "next":       "Prossima",
                    "previous":   "Precedente"
                }
         }	    		
    } );
} );

</script>
	
<div id="body">
	<div id="main">
		<h2>%titoloPagina%</h2>

		<form method="post" action="%azione%" >
			<table class="datiCreate">
				<tbody>
					<tr>
						<td></td>
						<td class="tdmessage"><i class="message" id="messaggioControlloDataRegistrazione" >&nbsp;</i></td>
						<td></td>
						<td class="tdmessage"><i class="message" id="messaggioControlloDescrizione" >&nbsp;</i></td>
					</tr>
					<tr>
						<td class="td">%ml.datareg% :</td>
						<td id="tddatareg"><input class="dataregpicker" type="text" id="datareg" name="datareg" size="10" maxlength="10" value='%datareg%' /></td>
						<td>%ml.descreg% : </td>
						<td id="tddescreg"><input type="text" id="descreg" name="descreg" size="50" maxlength="200" value='%descreg%' onblur="controllaDescrizione()" /></td>
					</tr>
					<tr>
						<td></td>
						<td class="tdmessage"><i class="message" id="messaggioControlloCausale" >&nbsp;</i></td>
						<td></td>
						<td class="tdmessage"><i class="message" id="messaggioControlloNegozio" >&nbsp;</i></td>
					</tr>
					<tr>
						<td>%ml.codcau% :</td>
						<td class="tooltip" id="tdcausale">
							<select class="selectmenuCausale" id="causale" name="causale" >
								<option value=""></option>
								%elenco_causali%
							</select>
						</td>
					</tr>					
					<tr>
						<td></td>
						<td class="tdmessage"><i class="message" id="messaggioControlloFornitore" >&nbsp;</i></td>
						<td></td>
						<td class="tdmessage"><i class="message" id="messaggioControlloCliente" >&nbsp;</i></td>
					</tr>
					<tr>
						<td>%ml.codforn% :</td>
						<td id="tdfornitore"><div><input type="text" id="fornitore" name="fornitore" size="40" value="%desforn%" onblur="controllaFornitore()" /></div></td>
						
						<td>%ml.codclie% :</td>
						<td id="tdcliente"><div><input type="text" id="cliente" name="cliente" size="40" value="%descli%" onblur="controllaCliente()" /></div></td>
					</tr>					
					<tr>
						<td></td>
						<td class="tdmessage"><i class="message" id="messaggioControlloDataScadenza" >&nbsp;</i></td>
						<td></td>
						<td class="tdmessage"><i class="message" id="messaggioControlloNumeroFattura" >&nbsp;</i></td>
					</tr>
					<tr>
						<td class="td">%ml.datascad% :</td>
						<td id="tddatascad">
							<input class="datepicker" type="text" id="datascad" name="datascad" size="10" maxlength="10" value='%datascad%' onchange="controllaDataScadenza()" />
							<button id="nuova-data-scad" class="button" title="%ml.nuovaDataScadTip%" >%ml.nuovaDataScad%</button>
						</td>
						<td>%ml.numfatt% :</td>
						<td id="tdnumfatt"><input type="text" id="numfatt" name="numfatt" size="10" maxlength="35" value='%numfatt%' onblur="controllaNumeroFattura()" /></td>
					</tr>
					<tr>
						<td colspan="4">
							<table id="scadenzesuppl" class="%class_scadenzesuppl%">
							    <thead>%thead_scadenzesuppl%</thead>
							    <tbody>%tbody_scadenzesuppl%</tbody>
							</table>			
						</td>
					</tr>
					<tr><td><h2>Dettagli</h2></td></tr>										
					<tr>
						<td colspan="4">
							<table id="dettagli" class="display">
							    <thead>%thead_dettagli%</thead>
							    <tbody>%tbody_dettagli%</tbody>
								<tfoot>
									<tr style="font-weight:bolder; color:red;">
										<td colspan="4"><p id="esitoControlloContoDettaglio"></p></td>
									</tr>
								</tfoot>							
							</table>			
						</td>
					</tr>										
				</tbody>
				<tfoot>
					<tr>
						<td colspan="4" align="right" class="tooltip">
							<button id="nuovo-dett" class="button" title="%ml.nuovoDettTip%" >%ml.nuovoDett%</button>
							<button id="salva" class="button" title="%ml.salvaTip%" >%ml.salva%</button>
						</td>
					</tr>
				</tfoot>
			</table>			
			<input type="hidden" size='150' id="dettagliInseriti" name="dettagliInseriti" value="%dettagliInseriti%" />
			<input type="hidden" size='150' id="indexDettagliInseriti" name="indexDettagliInseriti" value="%arrayIndexDettagliInseriti%" />
			<input type="hidden" size='150' id="scadenzeInserite" name="scadenzeInserite" value="%scadenzeInserite%" />
			<input type="hidden" size='150' id="indexScadenzeInserite" name="indexScadenzeInserite" value="%arrayIndexScadenzeInserite%" />

			<input type="hidden" id="esitoDescrizione" name="esitoDescrizione" value="%esitoControlloDescrizione%" />
			<input type="hidden" id="esitoCausale" name="esitoCausale" value="%esitoControlloCausale%" />
			<input type="hidden" id="esitoNegozio" name="esitoNegozio" value="%esitoControlloNegozio%" />
			<input type="hidden" id="esitoFornitore" name="esitoFornitore" value="%esitoControlloFornitore%" />
			<input type="hidden" id="esitoCliente" name="esitoCliente" value="%esitoControlloCliente%" />
			<input type="hidden" id="esitoDatascad" name="esitoDatascad" value="%esitoControlloDatascad%" />
			<input type="hidden" id="esitoNumfatt" name="esitoNumfatt" value="%esitoControlloNumfatt%" />
			<input type="hidden" id="esitoNumeroFattura" name="esitoNumeroFattura" value="%esitoNumeroFattura%" />
			<input type="hidden" id="esitoControlloDataRegistrazione" name="esitoControlloDataRegistrazione" value="%esitoControlloDataRegistrazione%" />
		</form>
	</div>
</div>

<div id="nuovo-dettaglio-form" title="Nuovo Dettaglio"> 
	<form>
		<table class="datiCreate" cellpadding="5px">
			<tbody>
				<tr>
					<td>%ml.importo% :</td>
					<td class="tooltip"><input type="text" id="importo" name="importo" size="20" maxlength="20" ></td>
				</tr>					
				<tr>
					<td>%ml.conto% :</td>
					<td>
						<select class='selectmenuConto' id="conti">%elenco_conti%</select>
					</td>
				</tr>	
				<tr>
					<td>
						<div class="radioset" >
							<input type="radio" id="dare" name="dareavere" value="D" checked ><label for="dare">%ml.dare%</label>
							<input type="radio" id="avere" name="dareavere" value="A" ><label for="avere">%ml.avere%</label>
						</div>
					</td>					
				</tr>					
			</tbody>
		</table> 	
	</form>
</div>

<div id="nuova-data-scadenza-form" title="Data scadenza supplementare"> 
	<form>
		<table class="datiCreate" cellpadding="5px">
			<tbody>
				<tr>
					<td class="td">%ml.datascad% :</td>
					<td class="tooltip"><input class="datepicker" type="text" id="datascadsuppl" name="datascadsuppl" size="10" maxlength="10" /></td>
					<td>%ml.importo% :</td>
					<td class="tooltip"><input type="text" id="importosuppl" name="importosuppl" size="20" maxlength="20" ></td>
				</tr>			
			</tbody>
		</table> 	 
  </form>
</div>

<br/>