<body>

<script type="text/javascript">

var indexDettInseriti = [%arrayIndexDettagliInseriti%];
var dettInseriti = [%arrayDettagliInseriti%];

var elencoFornitori = [%elenco_fornitori%];
var elencoClienti = [%elenco_clienti%];

function aggiungiDettaglio() {
	
	var rowCount = $('#dettagli tbody tr').length;
	
	if (rowCount == 1) {
		$( "#dettagli thead" ).append("<tr>" + 
			"<th>Conto</th>" + 
			"<th class='dt-right'>Importo</th>" + 
			"<th class='dt-center'>D/A</th>" +
			"<th>&nbsp;</th>" +
			"</tr>");
	}
	
	if($('#dare').is(':checked')) { var D_A = $("#dare").val(); }
	if($('#avere').is(':checked')) { var D_A = $("#avere").val(); }

	var conto = $("#conti").val().replace(",",".");		// tolgo eventuali virgole nella descrizione  del conto
	var idconto = conto.substring(0, 6);
	var importo = $("#importo").val();
	var importoNormalizzato = importo.trim().replace(",", ".");

	$( "#dettagli tbody" ).append( "<tr id='" + idconto.trim() + "'>" +
        "<td>" + conto + "</td>" +
        "<td class='dt-right'>" + importoNormalizzato + "</td>" +
        "<td class='dt-center'>" + D_A + "</td>" +
    	"<td id='icons'><a class='tooltip' onclick='cancellaDettaglioPagina(" + idconto + ")'><li class='ui-state-default ui-corner-all' title='Cancella'><span class='ui-icon ui-icon-trash'></span></li></a></td>" +
      "</tr>" );
	
	var elemento = conto + "#" + importoNormalizzato + "#" + D_A;
	addDett(elemento);
	
	$("#importo").val("");
	$('#conti').prop("selectedIndex",0).selectmenu('refresh');
	$('#dare').attr('checked', true);	
}

function addDett(dettaglio) {
	
	dettInseriti.push(dettaglio);
	aggiornaDettaglioInseriti(dettInseriti);

	var conto = dettaglio.substring(0, 6).trim();
	indexDettInseriti.push(conto);
	aggiornaIndexDettaglioInseriti(indexDettInseriti);
}

function aggiornaDettaglioInseriti(dettInseriti) {
	$("#dettagliInseriti").val(dettInseriti);
}

function aggiornaIndexDettaglioInseriti(indexDettInseriti) {
	$("#indexDettagliInseriti").val(indexDettInseriti);
}

function doSubmit() {
	
	var selectfatt = $("#select2").val();
	$("#numfatt").val(selectfatt);
	$("#mainform").submit();
}

//---------------------------------------------------------------------

function cercaContiCausale(desconto) {

	var causale = $("#causale").val();

	if ((causale != "") && (desconto != "")) {
		var xmlhttp = new XMLHttpRequest();
	    xmlhttp.onreadystatechange = function() {
	        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
	        	$( "#conti" ).html(xmlhttp.responseText);
              $( "#conti" ).selectmenu( "refresh" );	        	
	        }
	    } 
	    xmlhttp.open("GET", "leggiContiCausaleFacade.class.php?modo=start&causale=" + causale + "&desconto=" + desconto, true);
	    xmlhttp.send();		
	}	
}

//---------------------------------------------------------------------

function controllaDescrizione() {

	if ($("#descreg").val() != "") {
		$( "#tddescreg").removeClass("inputFieldError");	
   	$( "#esitoDescrizione" ).val("");			
		$( "#messaggioControlloDescrizione" ).html("");
	}
	else {
		$("#messaggioControlloDescrizione").html("Dato errato");
		$("#tddescreg").addClass("inputFieldError");			
	}
}

//---------------------------------------------------------------------

function controllaCausale() {

	if ($("#causale").val() != "") {
		$( "#tdcausale").removeClass("inputFieldError");	
   	$( "#esitoCausale" ).val("");			
		$( "#messaggioControlloCausale" ).html("");
	}
	else {
		$("#messaggioControlloCausale").html("Dato errato");
		$("#tdcausale").addClass("inputFieldError");			
	}
}

//---------------------------------------------------------------------

function controllaNegozio() {

	if ($("#codneg").val() != "") {
		$( "#tdnegozio").removeClass("inputFieldError");	
		$( "#esitoNegozio" ).val("");			
		$( "#messaggioControlloNegozio" ).html("");
		$( "#cliente" ).val("");
	}
	else {
		$("#messaggioControlloNegozio").html("Dato errato");
		$("#tdnegozio").addClass("inputFieldError");			
	}
}


//---------------------------------------------------------------------

function controllaCliente() {

	if ($( "#cliente" ).val() != "") {
		
	   	$( "#tdcliente").removeClass("inputFieldError");	
		$( "#esitoCliente" ).val("");			
		$( "#messaggioControlloCliente" ).html("");
	}
	else {
		$( "#messaggioControlloCliente" ).html("Dato errato");
		$( "#tdcliente" ).addClass("inputFieldError");							
	}
}


$(document).ready( function () {

	// Impostazione dei messaggi di errore ------------------------------------		
	
	var esitoControlloDatareg = $("#esitoControlloDataRegistrazione").val();
	var esitoControlloDescrizione = $("#esitoDescrizione").val();
	var esitoControlloNegozio = $("#esitoNegozio").val();
	var esitoControlloCausale = $("#esitoCausale").val();
	var esitoControlloPresenzaNumfatt = $("#esitoNumfatt").val();	
	var esitoControlloCliente = $("#esitoCliente").val();

	//--------------------------------
	if (esitoControlloDatareg != "") {
		$("#messaggioControlloDataRegistrazione").html(esitoControlloDatareg);
		$("#tddatareg").addClass("inputFieldError");
	}
	else {
		$("#tddatareg").removeClass("inputFieldError");			
	}

	//--------------------------------
	if (esitoControlloDescrizione != "") {
		$("#messaggioControlloDescrizione").html(esitoControlloDescrizione);
		$("#tddescreg").addClass("inputFieldError");
	}
	else {
		$("#tddescreg").removeClass("inputFieldError");			
	}

	//--------------------------------
	if (esitoControlloCausale != "") {
		$("#messaggioControlloCausale").html(esitoControlloCausale);
		$("#tdcausale").addClass("inputFieldError");
	}
	else {
		$("#tdcausale").removeClass("inputFieldError");			
	}

	//--------------------------------
	if (esitoControlloNegozio != "") {
		$("#messaggioControlloNegozio").html(esitoControlloNegozio);
		$("#tdnegozio").addClass("inputFieldError");
	}
	else {
		$("#tdnegozio").removeClass("inputFieldError");			
	}

	//--------------------------------
	if (esitoControlloCliente != "") {
		$("#messaggioControlloCliente").html(esitoControlloCliente);
		$("#tdcliente").addClass("inputFieldError");
	}
	else {
		$("#tdcliente").removeClass("inputFieldError");			
	}

	//--------------------------------
	if (esitoControlloPresenzaNumfatt != "") {		
		$("#messaggioControlloNumeroFattura").html(esitoControlloPresenzaNumfatt);
		$("#tdnumfatt").addClass("inputFieldError");
	}
	else {
		$("#tdnumfatt").removeClass("inputFieldError");			
	}
	
	//--------------------------------
    $('#dettagli').dataTable( {
    	"paging": false,
    	"searching": false,
    	"info": false,
    	"columnDefs": [
       	    {"targets": 0, "orderable": false},
       	    {"targets": 1, "orderable": false},
    	    {"targets": 2, "orderable": false},
    	    {"targets": 3, "orderable": false}
    		],
       		"language": {
                "lengthMenu": "Visualizza _MENU_ righe per pagina",
                "zeroRecords": " ",
                "info": "Pagina _PAGE_ di _PAGES_",
                "infoEmpty": " ",
                "infoFiltered": "(righe filtrate da _MAX_ totali)",
                "search": "Cerca:",
                "paginate": {
                    "first":      "Prima",
                    "last":       "Ultima",
                    "next":       "Prossima",
                    "previous":   "Precedente"
                }
         }	    		
    } );
} );

</script>
	
<div id="body">
	<div id="main">
		<h2>%titoloPagina%</h2>

		<form method="post" id="mainform" action="%azione%" >
			<table class="datiCreate">
				<tbody>
					<tr>
						<td></td>
						<td class="tdmessage"><i class="message" id="messaggioControlloDataRegistrazione" >&nbsp;</i></td>
						<td></td>
						<td class="tdmessage"><i class="message" id="messaggioControlloDescrizione" >&nbsp;</i></td>
					</tr>
					<tr>
						<td class="td">%ml.datareg% :</td>
						<td id="tddatareg"><input class="dataregpicker" type="text" id="datareg" name="datareg" size="10" maxlength="10" value='%datareg%' /></td>
						<td>%ml.descreg% : </td>
						<td id="tddescreg"><input type="text" id="descreg" name="descreg" size="50" maxlength="200" value='%descreg%' onblur="controllaDescrizione()" /></td>
					</tr>
					<tr>
						<td></td>
						<td class="tdmessage"><i class="message" id="messaggioControlloCausale" >&nbsp;</i></td>
						<td></td>
						<td class="tdmessage"><i class="message" id="messaggioControlloNegozio" >&nbsp;</i></td>
					</tr>
					<tr>
						<td>%ml.codcau% :</td>
						<td class="tooltip" id="tdcausale">
							<select class="selectmenuCausaleIncassi" id="causale" name="causale" >
								<option value=""></option>
								%elenco_causali%
							</select>
						</td>
						<td>%ml.negozio% :</td>						
						<td id="tdnegozio">
							<div class="radioset" >
								<input type="radio" id="villa" name="codneg" value="VIL" %villa-checked% onchange="controllaNegozio()"><label for="villa">%ml.villa%</label>
								<input type="radio" id="brembate" name="codneg" value="BRE" %brembate-checked% onchange="controllaNegozio()"><label for="brembate">%ml.brembate%</label>
								<input type="radio" id="trezzo" name="codneg" value="TRE" %trezzo-checked% onchange="controllaNegozio()"><label for="trezzo">%ml.trezzo%</label>
							</div>
						</td>					
					</tr>
					<tr>
						<td></td>
						<td class="tdmessage"><i class="message" id="messaggioControlloCliente" >&nbsp;</i></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>%ml.codclie% :</td>
						<td id="tdcliente"><div><input class="scadenzeAperteCliente" type="text" id="cliente" name="cliente" size="40" value="%descli%" onblur="controllaCliente()" /></div></td>
					</tr>
					<tr>
						<td></td>
						<td class="tdmessage"><i class="message" id="messaggioControlloNumeroFattura" >&nbsp;</i></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>%ml.numfatt% :</td>
						<td id="tdnumfatt">
							<select class="numfatt-cliente-multiple" multiple="multiple" style="width: 600px" id="select2">
							%elenco_scadenze_cliente%
							</select>						
						</td>	
					</tr>
					<tr><td><h2>Dettagli</h2></td></tr>										
					<tr>
						<td colspan="4">
							<table id="dettagli" class="display">
							    <thead>%thead_dettagli%</thead>
							    <tbody>%tbody_dettagli%</tbody>
								<tfoot>
									<tr style="font-weight:bolder; color:red;">
										<td colspan="4"><p id="esitoControlloContoDettaglio"></p></td>
									</tr>
								</tfoot>							
							</table>			
						</td>
					</tr>										
				</tbody>
				<tfoot>
					<tr>
						<td colspan="6" align="right" class="tooltip">
							<button id="nuovo-dett-incasso" class="button" title="%ml.nuovoDettTip%" >%ml.nuovoDett%</button>
							<button id="salva" class="button" onclick="doSubmit()" title="%ml.salvaTip%" >%ml.salva%</button>
						</td>
					</tr>
				</tfoot>
			</table>
			<input type="hidden" id="numfatt" name="numfatt" />
			<input type="hidden" id="esitoDescrizione" name="esitoDescrizione" value="%esitoControlloDescrizione%" />
			<input type="hidden" id="esitoCausale" name="esitoCausale" value="%esitoControlloCausale%" />
			<input type="hidden" id="esitoNegozio" name="esitoNegozio" value="%esitoControlloNegozio%" />
			<input type="hidden" id="esitoCliente" name="esitoCliente" value="%esitoControlloCliente%" />		
			<input type="hidden" id="esitoNumfatt" name="esitoNumfatt" value="%esitoControlloNumfatt%" />	
			<input type="hidden" id="esitoControlloDataRegistrazione" name="esitoControlloDataRegistrazione" value="%esitoControlloDataRegistrazione%" />
						
			<input type="hidden" size='150' id="dettagliInseriti" name="dettagliInseriti" value="%dettagliInseriti%" />
			<input type="hidden" size='150' id="indexDettagliInseriti" name="indexDettagliInseriti" value="%arrayIndexDettagliInseriti%" />
		</form>
	</div>
</div>

<div id="nuovo-dettaglio-incasso-form" title="Nuovo Dettaglio"> 
	<form>
		<table class="datiCreate" style="cellpadding: 5px;">
			<tbody>
				<tr>
					<td>%ml.importo% :</td>
					<td class="tooltip"><input type="text" id="importo" name="importo" size="20" maxlength="20" ></td>
				</tr>					
				<tr>
					<td>%ml.cercaConto% :</td>
					<td><input type="text" id="conto" name="conto" width=200 onkeyup="cercaContiCausale(this.value)"></td>
				</tr>	
				<tr>
					<td>%ml.conto% :</td>
					<td><select class='selectmenuConto' id="conti">%elenco_conti%</select></td>
				</tr>	
				<tr>
					<td>
						<div class="radioset" >
							<input type="radio" id="dare" name="dareavere" value="D" checked ><label for="dare">%ml.dare%</label>
							<input type="radio" id="avere" name="dareavere" value="A" ><label for="avere">%ml.avere%</label>
						</div>
					</td>					
				</tr>					
			</tbody>
		</table> 	 
  </form>
</div>

<br/>