<body>

<script type="text/javascript">

//---------------------------------------------------------------------

$(document).ready( function () {
	
    $('#corrispettivi').dataTable( {
    	"paging": true,
    	"searching": false,
    	"info": false,
    	"columnDefs": [
       	    {"targets": 0, "orderable": false, "width": "10%"},
       	    {"targets": 1, "orderable": false},
    	    {"targets": 2, "orderable": false},
    	    {"targets": 3, "orderable": false}
    		],
       		"language": {
                "lengthMenu": "Visualizza _MENU_ righe per pagina",
                "zeroRecords": " ",
                "info": "Pagina _PAGE_ di _PAGES_",
                "infoEmpty": " ",
                "infoFiltered": "(righe filtrate da _MAX_ totali)",
                "search": "Cerca:",
                "paginate": {
                    "first":      "Prima",
                    "last":       "Ultima",
                    "next":       "Prossima",
                    "previous":   "Precedente"
                }
         }	    		
    } );
} );

</script>
	
<div id="body">
<div id="main">

<h2>%titoloPagina%</h2>

<form method="post" action="%azione%" >
	<table class="datiCreate">
		<tbody>
			<tr>
				<td></td>
				<td class="tdmessage"><i class="message" id="messaggioControlloMese" >&nbsp;</i></td>
				<td></td>
				<td class="tdmessage"><i class="message" id="messaggioControlloAnno" >&nbsp;</i></td>
				<td></td>
				<td class="tdmessage"><i class="message" id="messaggioControlloNegozio" >&nbsp;</i></td>
			</tr>
			<tr>
				<td>%ml.datarif% :</td>
				<td class="tooltip" id="tdmese">
					<select class="selectmenu" id="mese" name="mese" >
						<option value="0"  %selected_0%  >Gennaio</option>
						<option value="1"  %selected_1%  >Febbraio</option>
						<option value="2"  %selected_2%  >Marzo</option>
						<option value="3"  %selected_3%  >Aprile</option>
						<option value="4"  %selected_4%  >Maggio</option>
						<option value="5"  %selected_5%  >Giugno</option>
						<option value="6"  %selected_6%  >Luglio</option>
						<option value="7"  %selected_7%  >Agosto</option>
						<option value="8"  %selected_8%  >Settembre</option>
						<option value="9"  %selected_9%  >Ottobre</option>
						<option value="10" %selected_10% >Novembre</option>
						<option value="11" %selected_11% >Dicembre</option>
					</select>
				</td>
				<td class="td">&nbsp;&nbsp;&nbsp;%ml.anno% :</td>
				<td id="tdanno"><input type="text" id="anno" name="anno" size="5" maxlength="4" value='%anno%' /></td>
				<td>&nbsp;&nbsp;&nbsp;%ml.negozio% :</td>						
				<td id="tdnegozio">
					<div class="radioset" >
						<input type="radio" id="villa" name="codneg" value="VIL" %villa-checked%  /><label for="villa">%ml.villa%</label>
						<input type="radio" id="brembate" name="codneg" value="BRE" %brembate-checked%  /><label for="brembate">%ml.brembate%</label>
						<input type="radio" id="trezzo" name="codneg" value="TRE" %trezzo-checked%  /><label for="trezzo">%ml.trezzo%</label>
					</div>
				</td>					
			</tr>
			<tr>
				<td></td>
				<td class="tdmessage"><i class="message" id="messaggioControlloFile" >&nbsp;</i></td>
			</tr>
			<tr>
				<td class="td">%ml.file% :</td>
				<td id="tdfile">
					<input class="button ui-button ui-corner-all ui-widget" type="file" id="file" name="file" size="80" maxlength="200" value='%file%'/>
				</td>
				<td class="td">&nbsp;&nbsp;&nbsp;%ml.da% :</td>
				<td class="tooltip"><input class="data" type="text" name="datada" size="10" maxlength="10" value='%datada%' ></td>
				<td class="td">&nbsp;&nbsp;&nbsp;%ml.a% :</td>
				<td class="tooltip"><input class="data" type="text" name="dataa" size="10" maxlength="10" value='%dataa%' ></td>
				
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="6" align="right" class="tooltip">
					<button id="salva" class="button" title="%ml.confermaTip%" >%conferma%</button>
				</td>
			</tr>
		</tfoot>
	</table>
	
</form>
<br>
<h2>%file%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%incompleti%</h2>
<br>
%corrispettivi_da_importare%

</div>	<!-- Div id="main" -->
</div>	<!-- Div id="body" -->
