<body>

<script type="text/javascript">

//---------------------------------------------------------------------

function controllaDescrizione() {

	if ($("#descreg").val() != "") {
		$( "#tddescreg").removeClass("inputFieldError");	
		$( "#esitoDescrizione" ).val("");			
		$( "#messaggioControlloDescrizione" ).html("");
	}
	else {
		$("#messaggioControlloDescrizione").html("Dato errato");
		$("#tddescreg").addClass("inputFieldError");			
	}
}

//---------------------------------------------------------------------

function controllaNegozio() {

	if ($("#codneg").val() != "") {
		$( "#tdnegozio").removeClass("inputFieldError");	
		$( "#esitoNegozio" ).val("");			
		$( "#messaggioControlloNegozio" ).html("");
	}
	else {
		$("#messaggioControlloNegozio").html("Dato errato");
		$("#tdnegozio").addClass("inputFieldError");			
	}
}

//---------------------------------------------------------------------

function controllaCausale() {

	if ($("#causale").val() != "") {
		$( "#tdcausale").removeClass("inputFieldError");	
	$( "#esitoCausale" ).val("");			
		$( "#messaggioControlloCausale" ).html("");
	}
	else {
		$("#messaggioControlloCausale").html("Dato errato");
		$("#tdcausale").addClass("inputFieldError");			
	}
}

//---------------------------------------------------------------------

function controllaMercato() {

	if ($("#mercati").val() != "") {
		$( "#tdmercato").removeClass("inputFieldError");	
		$( "#esitoMercato" ).val("");			
		$( "#messaggioControlloMercato" ).html("");
	}
	else {
		$("#messaggioControlloMercato").html("Dato errato");
		$("#tdmercato").addClass("inputFieldError");			
	}
}

$(document).ready( function () {

	// Impostazione dei messaggi di errore ------------------------------------		
	
	var esitoControlloDatareg = $("#esitoControlloDataRegistrazione").val();
	var esitoControlloDescrizione = $("#esitoDescrizione").val();
	var esitoControlloNegozio = $("#esitoNegozio").val();
	var esitoControlloCausale = $("#esitoCausale").val();
	var esitoControlloMercato = $("#esitoMercato").val();

	//--------------------------------
	if (esitoControlloDatareg != "") {
		$("#messaggioControlloDataRegistrazione").html(esitoControlloDatareg);
		$("#tddatareg").addClass("inputFieldError");
	}
	else {
		$("#tddatareg").removeClass("inputFieldError");			
	}

	//--------------------------------
	if (esitoControlloDescrizione != "") {
		$("#messaggioControlloDescrizione").html(esitoControlloDescrizione);
		$("#tddescreg").addClass("inputFieldError");
	}
	else {
		$("#tddescreg").removeClass("inputFieldError");			
	}

	//--------------------------------
	if (esitoControlloCausale != "") {
		$("#messaggioControlloCausale").html(esitoControlloCausale);
		$("#tdcausale").addClass("inputFieldError");
	}
	else {
		$("#tdcausale").removeClass("inputFieldError");			
	}

	//--------------------------------
	if (esitoControlloNegozio != "") {
		$("#messaggioControlloNegozio").html(esitoControlloNegozio);
		$("#tdnegozio").addClass("inputFieldError");
	}
	else {
		$("#tdnegozio").removeClass("inputFieldError");			
	}

	//--------------------------------
	if (esitoControlloMercato != "") {
		$("#messaggioControlloMercato").html(esitoControlloMercato);
		$("#tdmercato").addClass("inputFieldError");
	}
	else {
		$("#tdmercato").removeClass("inputFieldError");			
	}
	
    $('#dettagli').dataTable( {
    	"paging": false,
    	"searching": false,
    	"info": false,
    	"columnDefs": [
       	    {"targets": 0, "orderable": false},
       	    {"targets": 1, "orderable": false},
    	    {"targets": 2, "orderable": false},
    	    {"targets": 3, "orderable": false}
    		],
       		"language": {
                "lengthMenu": "Visualizza _MENU_ righe per pagina",
                "zeroRecords": "La ricerca non ha prodotto risultati",
                "info": "Pagina _PAGE_ di _PAGES_",
                "infoEmpty": "La ricerca non ha prodotto risultati",
                "infoFiltered": "(righe filtrate da _MAX_ totali)",
                "search": "Cerca:",
                "paginate": {
                    "first":      "Prima",
                    "last":       "Ultima",
                    "next":       "Prossima",
                    "previous":   "Precedente"
                }
         }	    		
    } );
} );
		
</script>

<div id="body">
	<div id="main">
		<h2>%titoloPagina%</h2>

		<form method="post" id="back" action="%referer%&datascad_da=%datascad_da%&datascad_a=%datascad_a%" >
			<button id="indietro" class="button" title="%ml.indietroTip%" onclick="back()" >%ml.indietro%</button>
			<input type="hidden" name="datareg_da" value='%datareg_da%' >
			<input type="hidden" name="datareg_a" value='%datareg_a%' >
			<input type="hidden" name="codneg_sel" value='%codneg_sel%' >
		</form>
		<br>
		<form method="post" action="%azione%" >
			<table class="datiCreate">
				<tbody>
					<tr>
						<td></td>
						<td class="tdmessage"><i class="message" id="messaggioControlloDataRegistrazione" >&nbsp;</i></td>
						<td></td>
						<td class="tdmessage"><i class="message" id="messaggioControlloDescrizione" >&nbsp;</i></td>
					</tr>
					<tr>
						<td class="td">%ml.datareg% :</td>
						<td id="tddatareg"><input class="dataregpicker" type="text" id="datareg" name="datareg" size="10" maxlength="10" value='%datareg%' /></td>
						<td>%ml.descreg% : </td>
						<td id="tddescreg"><input type="text" id="descreg" name="descreg" size="50" maxlength="200" value='%descreg%' onblur="controllaDescrizione()" /></td>
					</tr>	
					<tr>
						<td></td>
						<td class="tdmessage"><i class="message" id="messaggioControlloCausale" >&nbsp;</i></td>
						<td></td>
						<td class="tdmessage"><i class="message" id="messaggioControlloNegozio" >&nbsp;</i></td>
					</tr>
					<tr>
						<td>%ml.codcau% :</td>
						<td class="tooltip" id="tdcausale">
							<select class="selectmenuCausale" id="causale" name="causale" >
								<option value=""></option>
								%elenco_causali%
							</select>
						</td>
						<td>%ml.negozio% :</td>						
						<td id="tdnegozio">
							<div class="radioset" >
								<input type="radio" id="villa" name="codneg" value="VIL" %villa-checked% onchange="controllaNegozio()" /><label for="villa">%ml.villa%</label>
								<input type="radio" id="brembate" name="codneg" value="BRE" %brembate-checked% onchange="controllaNegozio()" /><label for="brembate">%ml.brembate%</label>
								<input type="radio" id="trezzo" name="codneg" value="TRE" %trezzo-checked% onchange="controllaNegozio()" /><label for="trezzo">%ml.trezzo%</label>
							</div>
						</td>					
					</tr>
					<tr>
						<td></td>
						<td class="tdmessage"><i class="message" id="messaggioControlloMercato" >&nbsp;</i></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>%ml.mercato% :</td>
						<td class="tooltip" id="tdmercato">
							<select class="selectmenuMercato" id="mercati" name="mercati">
								<option value=""></option>
								%elenco_mercati%
							</select>
						</td>
					</tr>										
					<tr><td><h2>Dettagli</h2></td></tr>										
					<tr>
						<td colspan="4">
							<table id="dettagli" class="display">
							    <thead>%thead_dettagli%</thead>
							    <tbody>%tbody_dettagli%</tbody>
							</table>			
						</td>
					</tr>										
				</tbody>
				<tfoot>
					<tr>						
						<td colspan="4" align="right" class="tooltip">
							<button id="nuovo-dett-modificareg" class="button" title="%ml.nuovoDettTip%" >%ml.nuovoDett%</button>
							<button id="salva" class="button" title="%ml.salvaTip%" >%ml.salva%</button>
						</td>
					</tr>
				</tfoot>
			</table>
			<input type="hidden" id="esitoDescrizione" name="esitoDescrizione" value="%esitoControlloDescrizione%" />
			<input type="hidden" id="esitoCausale" name="esitoCausale" value="%esitoControlloCausale%" />
			<input type="hidden" id="esitoMercato" name="esitoMercato" value="%esitoControlloMercato%" />
			<input type="hidden" id="esitoNegozio" name="esitoNegozio" value="%esitoControlloNegozio%" />
			<input type="hidden" id="esitoControlloDataRegistrazione" name="esitoControlloDataRegistrazione" value="%esitoControlloDataRegistrazione%" />
			
			<input type="hidden" name="idRegistrazione" value='%idregistrazione%' >
		</form>
	</div>
</div>

<div id="nuovo-dettaglio-modificareg-form" title="Nuovo Dettaglio"> 
	<form method="post" id="nuovoDettaglio" action="../primanota/inserisciDettaglioRegistrazioneFacade.class.php?modo=go" >
		<table class="datiCreate" cellpadding="5px">
			<tbody>
				<tr>
					<td>%ml.importo% :</td>
					<td class="tooltip"><input type="text" id="importo" name="importo" required size="20" maxlength="20" ></td>
				</tr>					
				<tr>
					<td>%ml.conto% :</td>
					<td>
						<select class="selectmenuConto" id="conti" name="conti">
							<option value=""></option>
							%elenco_conti%
						</select>
					</td>
				</tr>					
				<tr>
					<td>
						<div class="radioset" >
							<input type="radio" id="dare" name="dareavere" value="D" checked ><label for="dare">%ml.dare%</label>
							<input type="radio" id="avere" name="dareavere" value="A" ><label for="avere">%ml.avere%</label>
							<input type="hidden" name="idRegistrazione" value='%idregistrazione%' >
						</div>
					</td>					
				</tr>					
			</tbody>
		</table> 	 
  </form>
</div>

<div id="cancella-dettaglio-modificareg-form" title="Cancella Dettaglio"> 
	<form method="post" id="cancellaDettaglio" action="../primanota/cancellaDettaglioRegistrazioneFacade.class.php?modo=go" >
		<p>Elimino il dettaglio della registrazione ?</p>
		<input type="hidden" id="idDettaglioRegistrazione" name="idDettaglioRegistrazione">
  </form>
</div>

<div id="nuova-scadenza-modificareg-form" title="Data scadenza supplementare"> 
	<form method="post" id="nuovaScadenza" action="../primanota/inserisciScadenzaRegistrazioneFacade.class.php?modo=go" >
		<table class="datiCreate" cellpadding="5px">
			<tbody>
				<tr>
					<td class="td">%ml.datascad% :</td>
					<td class="tooltip"><input class="datepicker" type="text" id="datascadsuppl" name="datascadsuppl" size="10" maxlength="10" /></td>
					<td>%ml.importo% :</td>
					<td class="tooltip"><input type="text" id="importosuppl" name="importosuppl" size="20" maxlength="20" ></td>
					<td><input type="hidden" name="idRegistrazione" value='%idregistrazione%' /></td>					
				</tr>			
			</tbody>
		</table> 	 
  </form>
</div>

<div id="cancella-scadenza-modificareg-form" title="Cancella scadenza supplementare"> 
	<form method="post" id="cancellaScadenza" action="../primanota/cancellaScadenzaRegistrazioneFacade.class.php?modo=go" >
		<p>Elimino la scadenza della registrazione ?</p>
		<input type="hidden" id="idScadenzaRegistrazione" name="idScadenzaRegistrazione">
  </form>
</div>

<br/>
