<body>

<script type="text/javascript">

	var elencoFornitori = [%elenco_fornitori%];
	var elencoClienti = [%elenco_clienti%];

	$(document).ready( function () {

		// Impostazione dei messaggi di errore ------------------------------------		
		
		var esitoControlloDatareg = $("#esitoControlloDataRegistrazione").val();
		var esitoControlloDescrizione = $("#esitoDescrizione").val();
		var esitoControlloCausale = $("#esitoCausale").val();
		var esitoControlloFornitore = $("#esitoFornitore").val();
		var esitoControlloCliente = $("#esitoCliente").val();
		var esitoControlloPresenzaNumfatt = $("#esitoNumfatt").val();
		var esitoControlloDatascad = $("#esitoDatascad").val();
		var esitoControlloNumfatt = $("#esitoNumeroFattura").val();
		var numfatt = $("#numfatt").val();
		var numfattCurrent = $("#numfattCurrent").val();

		//--------------------------------
		if (esitoControlloDatareg != "") {
			$("#messaggioControlloDataRegistrazione").html(esitoControlloDatareg);
			$("#tddatareg").addClass("inputFieldError");
		}
		else {
			$("#tddatareg").removeClass("inputFieldError");			
		}

		//--------------------------------
		if (esitoControlloDescrizione != "") {
			$("#messaggioControlloDescrizione").html(esitoControlloDescrizione);
			$("#tddescreg").addClass("inputFieldError");
		}
		else {
			$("#tddescreg").removeClass("inputFieldError");			
		}

		//--------------------------------
		if (esitoControlloCausale != "") {
			$("#messaggioControlloCausale").html(esitoControlloCausale);
			$("#tdcausale").addClass("inputFieldError");
		}
		else {
			$("#tdcausale").removeClass("inputFieldError");			
		}

		//--------------------------------
		if (esitoControlloFornitore != "") {
			$("#messaggioControlloFornitore").html(esitoControlloFornitore);
			$("#tdfornitore").addClass("inputFieldError");
		}
		else {
			$("#tdfornitore").removeClass("inputFieldError");			
		}

		//--------------------------------
		if (esitoControlloCliente != "") {
			$("#messaggioControlloCliente").html(esitoControlloCliente);
			$("#tdcliente").addClass("inputFieldError");
		}
		else {
			$("#tdcliente").removeClass("inputFieldError");			
		}

		//--------------------------------
		if (esitoControlloPresenzaNumfatt != "") {
			$("#messaggioControlloNumeroFattura").html(esitoControlloPresenzaNumfatt);
			$("#tdnumfatt").addClass("inputFieldError");
		}
		else {
			$("#tdnumfatt").removeClass("inputFieldError");			
		}

		//--------------------------------
		if (esitoControlloDatascad != "") {
			$("#messaggioControlloDataScadenza").html(esitoControlloDatascad);
			$("#tddatascad").addClass("inputFieldError");
		}
		else {
			$("#tddatascad").removeClass("inputFieldError");			
		}
		
		//--------------------------------
		if (numfatt != numfattCurrent) {
			if (esitoControlloNumfatt != "") {
				$("#messaggioControlloNumeroFattura").html(esitoControlloNumfatt);
				$("#tdnumfatt").addClass("inputFieldError");
			}			
			else {
				$("#tdnumfatt").removeClass("inputFieldError");				
			}
		}
		
		// fine delle impostazioni messaggi d'errore ------------------------------
		
	    $('#dettagli').dataTable( {
	    	"paging": false,
	    	"searching": false,
	    	"info": false,
	    	"columnDefs": [
	       	    {"targets": 0, "orderable": false},
	       	    {"targets": 1, "orderable": false},
	    	    {"targets": 2, "orderable": false},
	    	    {"targets": 3, "orderable": false}
	    		],
	       		"language": {
	                "lengthMenu": "Visualizza _MENU_ righe per pagina",
	                "zeroRecords": "La ricerca non ha prodotto risultati",
	                "info": "Pagina _PAGE_ di _PAGES_",
	                "infoEmpty": "La ricerca non ha prodotto risultati",
	                "infoFiltered": "(righe filtrate da _MAX_ totali)",
	                "search": "Cerca:",
	                "paginate": {
	                    "first":      "Prima",
	                    "last":       "Ultima",
	                    "next":       "Prossima",
	                    "previous":   "Precedente"
	                }
	         }	    		
	    } );
	} );

	// ---------------------------------------------------------------------

	function controllaDescrizione() {

		if ($("#descreg").val() != "") {
        	$( "#tddescreg").removeClass("inputFieldError");	
            $( "#esitoDescrizione" ).val("");			
			$( "#messaggioControlloDescrizione" ).html("");
		}
		else {
			$("#messaggioControlloDescrizione").html("Dato errato");
			$("#tddescreg").addClass("inputFieldError");			
		}
	}

	// ---------------------------------------------------------------------

	function controllaCausale() {

		if ($("#causale").val() != "") {
        	$( "#tdcausale").removeClass("inputFieldError");	
            $( "#esitoCausale" ).val("");			
			$( "#messaggioControlloCausale" ).html("");
		}
		else {
			$("#messaggioControlloCausale").html("Dato errato");
			$("#tdcausale").addClass("inputFieldError");			
		}
	}

	// ---------------------------------------------------------------------

	function controllaFornitore() {

		if ($("#fornitore").val() != "") {
			
			if ($("#cliente").val() == "") {
				
	        	$( "#tdfornitore").removeClass("inputFieldError");	
	            $( "#esitoFornitore" ).val("");			
				$( "#messaggioControlloFornitore" ).html("");
	        	$( "#tdcliente").removeClass("inputFieldError");	
	            $( "#esitoCliente" ).val("");			
				$( "#messaggioControlloCliente" ).html("");				
			}
			else {
				$("#messaggioControlloFornitore").html("Dato errato");
				$("#tdfornitore").addClass("inputFieldError");			
				$("#messaggioControlloCliente").html("Dato errato");
				$("#tdcliente").addClass("inputFieldError");							
			}
		}
		else {
			if ($("#cliente").val() == "") {
				$("#messaggioControlloFornitore").html("Dato errato");
				$("#tdfornitore").addClass("inputFieldError");							
			}
			else {
	        	$( "#tdfornitore").removeClass("inputFieldError");	
	            $( "#esitoFornitore" ).val("");			
				$( "#messaggioControlloFornitore" ).html("");
	        	$( "#tdcliente").removeClass("inputFieldError");	
	            $( "#esitoCliente" ).val("");			
				$( "#messaggioControlloCliente" ).html("");								
			}
		}
	}

	// ---------------------------------------------------------------------

	function controllaCliente() {

		if ($("#cliente").val() != "") {
			
			if ($("#fornitore").val() == "") {
				
	        	$( "#tdcliente").removeClass("inputFieldError");	
	            $( "#esitoCliente" ).val("");			
				$( "#messaggioControlloCliente" ).html("");			
	        	$( "#tdfornitore").removeClass("inputFieldError");	
	            $( "#esitoFornitore" ).val("");			
				$( "#messaggioControlloFornitore" ).html("");
			}
			else {
				$("#messaggioControlloCliente").html("Dato errato");
				$("#tdcliente").addClass("inputFieldError");			
				$("#messaggioControlloFornitore").html("Dato errato");
				$("#tdfornitore").addClass("inputFieldError");							
			}
		}
		else {			
			if ($("#fornitore").val() == "") {
				$("#messaggioControlloCliente").html("Dato errato");
				$("#tdcliente").addClass("inputFieldError");							
			}
			else {
	        	$( "#tdcliente").removeClass("inputFieldError");	
	            $( "#esitoCliente" ).val("");			
				$( "#messaggioControlloCliente" ).html("");			
	        	$( "#tdfornitore").removeClass("inputFieldError");	
	            $( "#esitoFornitore" ).val("");			
				$( "#messaggioControlloFornitore" ).html("");				
			}
		}
	}

	// ---------------------------------------------------------------------

	function controllaDataScadenza() {

		if ($("#datascad").val() != "") {
        	$( "#tddatascad").removeClass("inputFieldError");	
            $( "#esitoDatascad" ).val("");			
			$( "#messaggioControlloDataScadenza" ).html("");
		}
		else {
			$("#messaggioControlloDataScadenza").html("Dato errato");
			$("#tddatascad").addClass("inputFieldError");			
		}
	}
	
	// ---------------------------------------------------------------------

	function controllaNumeroFattura() {

		var fornitore = $("#fornitore").val();
		var cliente = $("#cliente").val();
		var numfatt = $("#numfatt").val();
		var numfattCurrent = $("#numfattCurrent").val();
		var datareg = $("#datareg").val();

		if (numfatt != "") {
        	$( "#tdnumfatt").removeClass("inputFieldError");	
            $( "#esitoNumfatt" ).val("");			
			$( "#messaggioControlloNumeroFattura" ).html("");
		}
		else {
			$("#messaggioControlloNumeroFattura").html("Dato errato");
			$("#tdnumfatt").addClass("inputFieldError");			
		}
		
		if (numfatt != numfattCurrent) {

			if ((fornitore != "") && (numfatt != "")) {
				var xmlhttp = new XMLHttpRequest();
			    xmlhttp.onreadystatechange = function() {
			        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
			            $( "#messaggioControlloNumeroFattura" ).html(xmlhttp.responseText);
			            $( "#esitoNumeroFattura" ).val(xmlhttp.responseText);
			            
			            if (xmlhttp.responseText != "") 
			            	$("#tdnumfatt").addClass("inputFieldError");			            	
			            else {
			            	$( "#tdnumfatt").removeClass("inputFieldError");	
			                $( "#esitoNumeroFattura" ).val("");
			            }
			        }
			    } 
			    xmlhttp.open("GET", "cercaFatturaFornitoreFacade.class.php?modo=start&idfornitore=" + fornitore + "&numfatt=" + numfatt + "&datareg=" + datareg, true);
			    xmlhttp.send();		
			}	
			else if ((cliente != "") && (numfatt != "")) {
				var xmlhttp = new XMLHttpRequest();
			    xmlhttp.onreadystatechange = function() {
			        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
			            $( "#messaggioControlloNumeroFattura" ).html(xmlhttp.responseText);
			            $( "#esitoNumeroFattura" ).val(xmlhttp.responseText);
			            
			            if (xmlhttp.responseText != "") 
			            	$("#tdnumfatt").addClass("inputFieldError");			            	
			            else {
			            	$( "#tdnumfatt").removeClass("inputFieldError");	
			                $( "#esitoNumeroFattura" ).val("");
			            }
			        }
			    } 
			    xmlhttp.open("GET", "cercaFatturaClienteFacade.class.php?modo=start&idcliente=" + cliente + "&numfatt=" + numfatt + "&datareg=" + datareg, true);
			    xmlhttp.send();		
			}
		}
		else {
        	$( "#tdsnumfatt").removeClass("inputFieldError");	
            $( "#messaggioControlloNumeroFattura" ).html("");
            $( "#esitoNumeroFattura" ).val("");			
		}		
	}

</script>

<div id="body">
	<div id="main">
		<h2>%titoloPagina%</h2>

		<form method="post" id="back" action="%referer%&datascad_da=%datascad_da%&datascad_a=%datascad_a%" >
			<button id="indietro" class="button" title="%ml.indietroTip%" onclick="back()" >%ml.indietro%</button>
			<input type="hidden" name="datareg_da" value='%datareg_da%' >
			<input type="hidden" name="datareg_a" value='%datareg_a%' >
			<input type="hidden" name="codneg_sel" value='%codneg_sel%' >
		</form>
		<br>
		<form method="post" action="%azione%" >
			<table class="datiCreate">
				<tbody>
					<tr>
						<td></td>
						<td class="tdmessage"><i class="message" id="messaggioControlloDataRegistrazione" >&nbsp;</i></td>
						<td></td>
						<td class="tdmessage"><i class="message" id="messaggioControlloDescrizione" >&nbsp;</i></td>
					</tr>
					<tr>
						<td class="td">%ml.datareg% :</td>
						<td id="tddatareg" class="tooltip"><input class="dataregpicker" type="text" id="datareg" name="datareg" size="10" maxlength="10" value='%datareg%'/></td>
						<td>%ml.descreg% :</td>
						<td id="tddescreg"><input type="text" id="descreg" name="descreg" size="50" maxlength="200" value='%descreg%' onblur="controllaDescrizione()"/></td>
					</tr>	
					<tr>
						<td></td>
						<td class="tdmessage"><i class="message" id="messaggioControlloCausale" >&nbsp;</i></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>%ml.codcau% :</td>
						<td class="tooltip" id="tdcausale">
							<select class="selectmenuCausale" id="causale" name="causale">
								<option value=""></option>
								%elenco_causali%
							</select>
						</td>
						<td>%ml.negozio% :</td>						
						<td>
							<div class="radioset" >
								<input type="radio" id="villa" name="codneg" value="VIL" %villa-checked% ><label for="villa">%ml.villa%</label>
								<input type="radio" id="brembate" name="codneg" value="BRE" %brembate-checked% ><label for="brembate">%ml.brembate%</label>
								<input type="radio" id="trezzo" name="codneg" value="TRE" %trezzo-checked% ><label for="trezzo">%ml.trezzo%</label>
							</div>
						</td>					
					</tr>
					<tr>
						<td></td>
						<td class="tdmessage"><i class="message" id="messaggioControlloFornitore" >&nbsp;</i></td>
						<td></td>
						<td class="tdmessage"><i class="message" id="messaggioControlloCliente" >&nbsp;</i></td>
					</tr>
					<tr>
						<td>%ml.codforn% :</td>
						<td id="tdfornitore"><div><input type="text" id="fornitore" name="fornitore" size="40" value="%fornitore%" onblur="controllaFornitore()" /></div></td>
						
						<td>%ml.codclie% :</td>
						<td id="tdcliente"><div><input type="text" id="cliente" name="cliente" size="40" value="%cliente%" onblur="controllaCliente()" /></div></td>
					</tr>					
					<tr>
						<td></td>
						<td class="tdmessage"><i class="message" id="messaggioControlloDataScadenza" >&nbsp;</i></td>
						<td></td>
						<td class="tdmessage"><i class="message" id="messaggioControlloNumeroFattura" >&nbsp;</i></td>
					</tr>
					<tr>
						<td class="td">%ml.datascad% :</td>
						<td id="tddatascad" >
							<input class="datepicker" type="text" id="datascad" name="datascad" size="10" maxlength="10" value='%datascad%' onblur="controllaDataScadenza()" />
							<button id="nuova-scad-modificareg" class="button" title="%ml.nuovaDataScadTip%" >%ml.nuovaDataScad%</button>
						</td>
						<td>%ml.numfatt% :</td>						
						<td id="tdnumfatt" >
							<input type="text" id="numfatt" name="numfatt" size="10" maxlength="35" value='%numfatt%' onblur="controllaNumeroFattura()" />&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<td colspan="4">
							<table id="scadenzesuppl" class="%class_scadenzesuppl%">
							    <thead>%thead_scadenze%</thead>
							    <tbody>%tbody_scadenze%</tbody>
							</table>			
						</td>
					</tr>					
					<tr><td><h2>Dettagli</h2></td></tr>										
					<tr>
						<td colspan="4">
							<table id="dettagli" class="display">
							    <thead>%thead_dettagli%</thead>
							    <tbody>%tbody_dettagli%</tbody>
								<tfoot>
									<tr style="font-weight:bolder; color:red;">
										<td colspan="4"><p id="esitoControlloContoDettaglio"></p></td>
									</tr>
								</tfoot>							
							</table>			
						</td>
					</tr>										
				</tbody>
				<tfoot>
					<tr>						
						<td colspan="4" align="right" class="tooltip">
							<button id="nuovo-dett-modificareg" class="button" title="%ml.nuovoDettTip%" >%ml.nuovoDett%</button>
							<button id="salva" class="button" title="%ml.salvaTip%" >%ml.salva%</button>
						</td>
					</tr>
				</tfoot>
			</table>
			<input type="hidden" name="idRegistrazione" value='%idregistrazione%' >
			<input type="hidden" id="numfattCurrent" name="numfattCurrent" value='%numfattCurrent%' >
			<input type="hidden" id="esitoDescrizione" name="esitoDescrizione" value="%esitoControlloDescrizione%" />
			<input type="hidden" id="esitoCausale" name="esitoCausale" value="%esitoControlloCausale%" />
			<input type="hidden" id="esitoFornitore" name="esitoFornitore" value="%esitoControlloFornitore%" />
			<input type="hidden" id="esitoCliente" name="esitoCliente" value="%esitoControlloCliente%" />
			<input type="hidden" id="esitoNumeroFattura" name="esitoNumeroFattura" value="%esitoNumeroFattura%" />
			<input type="hidden" id="esitoNumfatt" name="esitoNumfatt" value="%esitoControlloNumfatt%" />
			<input type="hidden" id="esitoDatascad" name="esitoDatascad" value="%esitoControlloDatascad%" />
			<input type="hidden" id="esitoControlloDataRegistrazione" name="esitoControlloDataRegistrazione" value="%esitoControlloDataRegistrazione%" />
			
		</form>
	</div>
</div>

<div id="nuovo-dettaglio-modificareg-form" title="Nuovo Dettaglio"> 
	<form method="post" id="nuovoDettaglio" action="../primanota/inserisciDettaglioRegistrazioneFacade.class.php?modo=go" >
		<table class="datiCreate" cellpadding="5px">
			<tbody>
				<tr>
					<td>%ml.importo% :</td>
					<td class="tooltip"><input type="text" id="importo" name="importo" required size="20" maxlength="20" ></td>
				</tr>					
				<tr>
					<td>%ml.conto% :</td>
					<td>
						<select class="selectmenuConto" id="conti" name="conti">
							<option value=""></option>
							%elenco_conti%
						</select>
					</td>
				</tr>					
				<tr>
					<td>
						<div class="radioset" >
							<input type="radio" id="dare" name="dareavere" value="D" checked ><label for="dare">%ml.dare%</label>
							<input type="radio" id="avere" name="dareavere" value="A" ><label for="avere">%ml.avere%</label>
							<input type="hidden" name="idRegistrazione" value='%idregistrazione%' >
						</div>
					</td>					
				</tr>					
			</tbody>
		</table> 	 
  </form>
</div>

<div id="cancella-dettaglio-modificareg-form" title="Cancella Dettaglio"> 
	<form method="post" id="cancellaDettaglio" action="../primanota/cancellaDettaglioRegistrazioneFacade.class.php?modo=go" >
		<p>Elimino il dettaglio della registrazione ?</p>
		<input type="hidden" id="idDettaglioRegistrazione" name="idDettaglioRegistrazione">
  </form>
</div>

<div id="nuova-scadenza-modificareg-form" title="Data scadenza supplementare"> 
	<form method="post" id="nuovaScadenza" action="../primanota/inserisciScadenzaRegistrazioneFacade.class.php?modo=go" >
		<table class="datiCreate" cellpadding="5px">
			<tbody>
				<tr>
					<td class="td">%ml.datascad% :</td>
					<td class="tooltip"><input class="datepicker" type="text" id="datascadsuppl" name="datascadsuppl" size="10" maxlength="10" /></td>
					<td>%ml.importo% :</td>
					<td class="tooltip"><input type="text" id="importosuppl" name="importosuppl" size="20" maxlength="20" ></td>
					<td><input type="hidden" name="idRegistrazione" value='%idregistrazione%' /></td>					
				</tr>			
			</tbody>
		</table> 	 
  </form>
</div>

<div id="cancella-scadenza-modificareg-form" title="Cancella scadenza supplementare"> 
	<form method="post" id="cancellaScadenza" action="../primanota/cancellaScadenzaRegistrazioneFacade.class.php?modo=go" >
		<p>Elimino la scadenza della registrazione ?</p>
		<input type="hidden" id="idScadenzaRegistrazione" name="idScadenzaRegistrazione">
  </form>
</div>

<br/>
