<body>
	
<div id="body">
	<div id="main">
		<h2>%titoloPagina%</h2>

		<form method="post" action="%azione%" >
			<table class="datiCreate">
				<tbody>
					<tr>
						<td class="td">%ml.datareg% :</td>
						<td class="tooltip"><input class="datepicker" type="text" name="datareg" title="%ml.dataregTip%" required size="10" maxlength="10" ></td>
					</tr>
					<tr>
						<td>%ml.numfatt% :</td>
						<td class="tooltip"><input type="text" name="numfatt" title="%numfattTip%" required size="30" maxlength="35" value="%cap%" ></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="6" align="right" class="tooltip"><button class="button" title="%confermaTip%" >%ml.conferma%</button></td>
					</tr>
				</tfoot>
			</table>
			<br/>
		</form>
	</div>
</div>
<br/>
