<script type="text/javascript">

	var elencoFornitori = [%elenco_fornitori%];
	var elencoClienti = [%elenco_clienti%];

	$(document).ready(function(){

		$(".datepicker").datepicker();

		$("#myInput").on("keyup", 
			function() {
				var value = $(this).val().toLowerCase();
				$("#myTable tr").filter(
					function() {
						$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
					}
				);
			}
		);				
	});

</script>

<!-- ------------------- -->
<!-- RICERCA             -->
<!-- ------------------- -->

<div class="container-fluid">
	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">
	  
			<div class="row">
				<div class="col-sm-7">
					<h4>%titoloPagina%</h4>
				</div>
				<div class="col-sm-5">
					<div class="btn-group pull-right">				
						<button id="nuovaRegistrazione" class="btn btn-primary btn-default">%ml.nuovaregistrazione%</button>
						<button id="nuovo-incasso" class="btn btn-primary btn-default">%ml.nuovoincasso%</button>
						<button id="nuovo-pagamento" class="btn btn-primary btn-default">%ml.nuovopagamento%</button>
						<button id="nuovo-corrispettivo-mercato" class="btn btn-primary btn-default">%ml.nuovocorrispettivomercato%</button>
						<button id="nuovo-corrispettivo-negozio" class="btn btn-primary btn-default">%ml.nuovocorrispettivonegozio%</button>
					</div>	
				</div>			
			</div>
			<br/>
			<form method="post" action="%azione%">
			  
				<div class="form-group row">
					<div class="col-sm-2">
	 					<div class='input-group'>
							<span class="input-group-addon">Neg</span>
							<select class="form-control" id="codneg_sel" name="codneg_sel" >
								<option value="">%ml.tutti%</option>
								<option value="VIL" %villa-selected% >%ml.villa%</option>
								<option value="BRE" %brembate-selected% >%ml.brembate%</option>
								<option value="TRE" %trezzo-selected% >%ml.trezzo%</option>
							</select>			
						</div>
					</div>
					<div class="col-sm-2">
						<div class='input-group'>
				            <div class='input-group date' data-provide='datepicker' data-date-format="dd-mm-yyyy">
				                 <input type='text' class="form-control" name="datareg_da" value='%datareg_da%' />
				                 <span class="input-group-addon">
				                     <span class="glyphicon glyphicon-calendar"></span>
				                 </span>
				            </div>			
						</div>  
					</div>
					<div class="col-sm-2">
						<div class='input-group'>
				            <div class='input-group date' data-provide='datepicker' data-date-format="dd-mm-yyyy">
				                 <input type='text' class="form-control" name="datareg_a" value='%datareg_a%' />
				                 <span class="input-group-addon">
				                     <span class="glyphicon glyphicon-calendar"></span>
				                 </span>
							</div>
						</div>				
					</div>
					<div class="col-xs-4">
						<div class='input-group'>
							<span class="input-group-addon">%ml.codcau%</span>
							<select class="form-control" id="causale" name="causale" >
								<option value="">%ml.tutte%</option>
								%elenco_causali%
							</select>			
						</div>	
					</div>
					<div class="col-sm-2">
						<button id="submit" type="submit" class="btn btn-default">
					    	<span class="glyphicon glyphicon-search"></span> Ricerca
					    </button>
					</div> 
				</div>	
			</form>  
		</div>
		<div class="panel-body scrollable-panel">
		  	%risultato_ricerca%
	  	</div>
	</div>
</div>

<!-- ------------------- -->
<!-- NUOVA REGISTRAZIONE -->
<!-- ------------------- -->

<div class="container">
	<div class="modal fade" id="nuova-registrazione-dialog" role="dialog">
		<div class="modal-dialog modal-lg">
	      <!-- Modal content-->
			<div class="modal-content">
	        	<div class="modal-header">
	          		<h4 class="modal-title">Nuova Registrazione</h4>
	        	</div>
	        	<div class="modal-body">
	        		        	
					<form method="post" id="nuovaRegistrazioneForm" action="../primanota/creaRegistrazioneFacade.class.php?modo=go" >
					
						<div class="well well-sm">
							<div class="form-group row">
								<div class="col-sm-3">
							  		<div class="control-group" id="datareg_cre_control_group">
							    		<label for="datareg_cre">%ml.datareg%&nbsp;<small><span class="text-danger" id="datareg_cre_messaggio"></span></small></label>
										<div class='input-group date' data-provide='datepicker' data-date-format="dd/mm/yyyy">
					                		<input type='text' class="form-control" id="datareg_cre" name="datareg_cre"/>
					                		<span class="input-group-addon">
					                    		<span class="glyphicon glyphicon-calendar"></span>
					                 		</span>
					            		</div>			
				            		</div>
							  	</div>
							  	<div class="col-sm-2">
							  		<label for="codneg_cre">%ml.negozio%</label>
									<select class="form-control" id="codneg_cre" name="codneg_cre" >
										<option value=" ">&nbsp;</option>
										<option value="VIL">%ml.villa%</option>
										<option value="BRE">%ml.brembate%</option>
										<option value="TRE">%ml.trezzo%</option>
									</select>			
							  	</div>
							  	<div class="col-sm-2 ui-front">
							  		<div class="control-group" id="numfatt_cre_control_group">
										<label for="numfatt_cre">%ml.numfatt%&nbsp;<small><span class="text-danger" id="numfatt_cre_messaggio"></span></small></label>
										<input class="form-control" id="numfatt_cre" name="numfatt_cre" type="text" onblur="controllaNumeroFattura('numfatt_cre'); controllaClienteFornitore('fornitore_cre','cliente_cre'); "/>
									</div>
							  	</div>
							  	<div class="col-sm-5">
							  		<div class="control-group" id="descreg_cre_control_group">
							    		<label for="descreg_cre">%ml.descreg%&nbsp;<small><span class="text-danger" id="descreg_cre_messaggio"></span></small></label>
										<input class="form-control" id="descreg_cre" name="descreg_cre" type="text" onblur="controllaDescrizione('descreg_cre')"/>
									</div>
							  	</div>
							</div>
							<div class="form-group row">
							  	<div class="col-sm-4">
							  		<div class="control-group" id="causale_cre_control_group">
										<label for="causale_cre">%ml.codcau%&nbsp;<small><span class="text-danger" id="causale_cre_messaggio"></span></small></label>
										<select class="form-control" id="causale_cre" name="causale_cre" >
											<option value=" "></option>
											%elenco_causali_cre%
										</select>			
									</div>
							  	</div>
							  	<div class="col-sm-4 ui-front">
							  		<div class="control-group" id="fornitore_cre_control_group">
							    		<label for="fornitore_cre">%ml.codforn%&nbsp;<small><span class="text-danger" id="fornitore_cre_messaggio"></span></small></label>
										<input class="form-control" id="fornitore_cre" name="fornitore_cre" type="text" onblur="aggiungiDettaglioContoFornitore(this.value, 'dettagli_cre'); controllaClienteFornitore('fornitore_cre','cliente_cre'); controllaCausale('causale_cre');">
									</div>	
							  	</div>
							  	<div class="col-sm-4 ui-front">
							  		<div class="control-group" id="cliente_cre_control_group">
							    		<label for="cliente_cre">%ml.codclie%&nbsp;<small><span class="text-danger" id="cliente_cre_messaggio"></span></small></label>
										<input class="form-control" id="cliente_cre" name="cliente_cre" type="text" onblur="aggiungiDettaglioContoCliente(this.value, 'dettagli_cre'); controllaClienteFornitore('fornitore_cre','cliente_cre'); controllaCausale('causale_cre');">
									</div>	
							  	</div>
							</div>						
							<div class="form-group row">
							  	<div class="col-sm-7">
							  		<div class="control-group" id="scadenzesuppl_cre_control_group">
							    		<label for="scadenzesuppl_cre">%ml.datascad%&nbsp;<small><span class="text-danger" id="scadenzesuppl_cre_messaggio"></span></small></label>
										<table class="table table-bordered table-hover" id="scadenzesuppl_cre"></table>
									</div>	
							  	</div>
							</div>
							<div class="form-group row">
							  	<div class="col-sm-12">
							  		<div class="control-group" id="dettagli_cre_control_group">
							    		<label for="dettagli_cre">Dettagli&nbsp;<small><span class="text-danger" id="dettagli_cre_messaggio"></span></small></label>
										<table class="table table-bordered table-hover" id="dettagli_cre"></table>
									</div>	
							  	</div>
							</div>
						</div>
					</form>
	        	
	        	</div>
	        	<div class="modal-footer">
	          		<button type="button" class="btn btn-default" data-dismiss="modal" id="button-ok-nuova-registrazione-form">Ok</button>
	          		<button type="button" class="btn btn-default" id="button-nuova-scadenza-nuova-registrazione-form">Nuova scadenza</button>
	          		<button type="button" class="btn btn-default" id="button-nuovo-dettaglio-nuova-registrazione-form">Nuovo Dettaglio</button>
	          		<button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
	        	</div>
	      	</div>
		</div>
	</div>
</div>

<!-- ---------------------- -->
<!-- MODIFICA REGISTRAZIONE -->
<!-- ---------------------- -->

<div class="container">
	<div class="modal fade" id="modifica-registrazione-dialog" role="dialog">
		<div class="modal-dialog modal-lg">
	      <!-- Modal content-->
			<div class="modal-content">
	        	<div class="modal-header">
	          		<h4 class="modal-title">Modifica Registrazione</h4>
	        	</div>
	        	<div class="modal-body">
	        		        	
					<form method="post" id="modificaRegistrazioneForm" action="../primanota/modificaRegistrazioneFacade.class.php?modo=go" >

						<div class="well well-sm">
							<div class="form-group row">							
								<div class="col-sm-3">
							  		<div class="control-group" id="datareg_mod_control_group">
							    		<label for="datareg_mod">%ml.datareg%&nbsp;<small><span class="text-danger" id="datareg_mod_messaggio"></span></small></label>
										<div class='input-group date' data-provide='datepicker' data-date-format="dd/mm/yyyy">
					                		<input type='text' class="form-control" id="datareg_mod" name="datareg_mod"/>
					                		<span class="input-group-addon">
					                    		<span class="glyphicon glyphicon-calendar"></span>
					                 		</span>
					            		</div>			
				            		</div>
							  	</div>
							  	<div class="col-sm-2">
							  		<label for="codneg_mod">%ml.negozio%</label>
									<select class="form-control" id="codneg_mod" name="codneg_mod" >
										<option value="VIL" selected>%ml.villa%</option>
										<option value="BRE">%ml.brembate%</option>
										<option value="TRE">%ml.trezzo%</option>
									</select>			
							  	</div>
							  	<div class="col-sm-2 ui-front">
							  		<div class="control-group" id="numfatt_mod_control_group">
										<label for="numfatt_mod">%ml.numfatt%&nbsp;<small><span class="text-danger" id="numfatt_mod_messaggio"></span></small></label>
										<input class="form-control" id="numfatt_mod" name="numfatt_mod" type="text" onblur="controllaNumeroFattura('numfatt_mod'); controllaClienteFornitore('fornitore_mod','cliente_mod'); "/>
									</div>
							  	</div>
							  	<div class="col-sm-5">
							  		<div class="control-group" id="descreg_mod_control_group">
							    		<label for="descreg_mod">%ml.descreg%&nbsp;<small><span class="text-danger" id="descreg_mod_messaggio"></span></small></label>
										<input class="form-control" id="descreg_mod" name="descreg_mod" type="text" onblur="controllaDescrizione('descreg_mod')"/>
									</div>
							  	</div>
							</div>
							<div class="form-group row">
							  	<div class="col-sm-4">
							  		<div class="control-group" id="causale_mod_control_group">
										<label for="causale_mod">%ml.codcau%&nbsp;<small><span class="text-danger" id="causale_mod_messaggio"></span></small></label>
										<select class="form-control" id="causale_mod" name="causale_mod" >
											<option value=""></option>
											%elenco_causali_cre%
										</select>			
									</div>
							  	</div>
							  	<div class="col-sm-4 ui-front">
							  		<div class="control-group" id="fornitore_mod_control_group">
							    		<label for="fornitore_mod">%ml.codforn%&nbsp;<small><span class="text-danger" id="fornitore_mod_messaggio"></span></small></label>
										<input class="form-control" id="fornitore_mod" name="fornitore_mod" type="text" onblur="aggiungiDettaglioContoFornitore(this.value, 'dettagli_mod'); controllaClienteFornitore('fornitore_mod','cliente_mod'); controllaCausale('causale_mod');">
									</div>	
							  	</div>
							  	<div class="col-sm-4 ui-front">
							  		<div class="control-group" id="cliente_mod_control_group">
							    		<label for="cliente_mod">%ml.codclie%&nbsp;<small><span class="text-danger" id="cliente_mod_messaggio"></span></small></label>
										<input class="form-control" id="cliente_mod" name="cliente_mod" type="text" onblur="aggiungiDettaglioContoCliente(this.value, 'dettagli_mod'); controllaClienteFornitore('fornitore_mod','cliente_mod'); controllaCausale('causale_mod');">
									</div>	
							  	</div>
							</div>						
							<div class="form-group row">
							  	<div class="col-sm-7">
							  		<div class="control-group" id="scadenzesuppl_mod_control_group">
							    		<label for="scadenzesuppl_mod">%ml.datascad%&nbsp;<small><span class="text-danger" id="scadenzesuppl_mod_messaggio"></span></small></label>
										<table class="table table-bordered" id="scadenzesuppl_mod"></table>
									</div>	
							  	</div>	
							</div>
							<div class="form-group row">
							  	<div class="col-sm-12">
							  		<div class="control-group" id="dettagli_mod_control_group">
							    		<label for="dettagli_mod">Dettagli&nbsp;<small><span class="text-danger" id="dettagli_mod_messaggio"></span></small></label>
										<table class="table table-bordered table-hover" id="dettagli_mod"></table>
									</div>	
							  	</div>
							</div>
						</div>	
					</form>	        	
					
	        	</div>
	        	<div class="modal-footer">
	          		<button type="button" class="btn btn-default" data-dismiss="modal" id="button-ok-modifica-registrazione-form">Ok</button>
	          		<button type="button" class="btn btn-default" id="button-nuova-scadenza-modifica-registrazione-form">Nuova scadenza</button>
	          		<button type="button" class="btn btn-default" id="button-nuovo-dettaglio-modifica-registrazione-form">Nuovo Dettaglio</button>
	          		<button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
	        	</div>
	      	</div>
		</div>
	</div>
</div>

<!-- ----------------------------------- -->
<!-- NUOVO DETTAGLIO NUOVA REGISTRAZIONE -->
<!-- ----------------------------------- -->

<div class="container">
	<div class="modal fade" id="nuovo-dettaglio-creazione-dialog" role="dialog">
		<div class="modal-dialog">
	      <!-- Modal content-->
			<div class="modal-content">
	        	<div class="modal-header">
	          		<h4 class="modal-title">Nuova dettaglio registrazione</h4>
	        	</div>
	        	<div class="modal-body">
					<div class="well well-sm">
						<div class="form-group row">
						  	<div class="col-sm-4">
			 					<div class='input-group'>
									<span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
									<input class="form-control" id="newimpdett_cre" name="newimpdett_cre" type="text" maxlength="10" onkeypress="controllaImporto('newimpdett_cre')">
								</div>
						  	</div>
						  	<div class="col-sm-4">
			 					<div class='input-group'>
									<span class="input-group-addon">D/A</span>
									<input class="form-control" id="newsegnodett_cre" name="newsegnodett_cre" type="text" maxlength="1" />
								</div>
						  	</div>
				  		</div>
				  		<div class="form-group row">
						  	<div class="col-sm-8">
			 					<div class='input-group'>
									<span class="input-group-addon">Cc</span>
									<select class="form-control" id="conti" name="newcontodett_cre"></select>			
								</div>	
						  	</div>							  	
				  		</div>				  		
					</div>					
	        	</div>
	        	<div class="modal-footer">
	          		<button type="button" class="btn btn-default" data-dismiss="modal" id="button-ok-nuovodett-nuova-registrazione-form">Ok</button>
	          		<button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
	        	</div>
	      	</div>
		</div>
	</div>
</div>

<!-- -------------------------------------- -->
<!-- NUOVO DETTAGLIO MODIFICA REGISTRAZIONE -->
<!-- -------------------------------------- -->

<div class="container">
	<div class="modal fade" id="nuovo-dettaglio-modifica-dialog" role="dialog">
		<div class="modal-dialog">
	      <!-- Modal content-->
			<div class="modal-content">
	        	<div class="modal-header">
	          		<h4 class="modal-title">Nuova dettaglio registrazione</h4>
	        	</div>
	        	<div class="modal-body">
					<div class="well well-sm">
						<div class="form-group row">
						  	<div class="col-xs-4">
			 					<div class='input-group'>
									<span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
									<input class="form-control" id="newimpdett_mod" name="newimpdett_mod" type="text" maxlength="10" onkeypress="controllaImporto('newimpdett_mod')">
								</div>
						  	</div>
						  	<div class="col-xs-4">
			 					<div class='input-group'>
									<span class="input-group-addon">D/A</span>
									<input class="form-control" id="newsegnodett_mod" name="newsegnodett_mod" type="text" maxlength="1" />
								</div>
						  	</div>
				  		</div>
						<div class="form-group row">
						  	<div class="col-xs-8">
			 					<div class='input-group'>
									<span class="input-group-addon">Cc</span>
									<select class="form-control" id="conti_mod" name="newcontodett_mod"></select>			
								</div>	
						  	</div>							  	
						</div>
					</div>					
	        	</div>
	        	<div class="modal-footer">
	          		<button type="button" class="btn btn-default" data-dismiss="modal" id="button-ok-nuovodett-modifica-registrazione-form">Ok</button>
	          		<button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
	        	</div>
	      	</div>
		</div>
	</div>
</div>

<!-- ------------------------------------------- -->
<!-- NUOVA DATA SCADENZA CREAZIONE REGISTRAZIONE -->
<!-- ------------------------------------------- -->

<div class="container">
	<div class="modal fade" id="nuova-data-scadenza-creazione-dialog" role="dialog">
		<div class="modal-dialog">
	      <!-- Modal content-->
			<div class="modal-content">
	        	<div class="modal-header">
	          		<h4 class="modal-title">Nuova scadenza</h4>
	        	</div>
	        	<div class="modal-body">
					<form method="post" id="nuovaDataScadenzaCreazioneForm">
						<div class="well well-sm">
							<div class="form-group row">
								<div class="col-xs-4">
									<div class='input-group date' data-provide='datepicker' data-date-format="dd/mm/yyyy">
				                		<input type='text' class="form-control" id="newdatascad_cre" name="newdatascad_cre" />
				                		<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
				            		</div>			
							  	</div>
							  	<div class="col-xs-4">
				 					<div class='input-group'>
										<span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
										<input class="form-control" id="newimpscad_cre" name="newimpscad_cre" type="text" maxlength="10" onkeypress="controllaImporto('newimpscad_cre')">
									</div>
							  	</div>
					  		</div>
						</div>					
					</form>	        	
	        	</div>
	        	<div class="modal-footer">
	          		<button type="button" class="btn btn-default" data-dismiss="modal" id="button-ok-nuovascad-nuova-registrazione-form">Ok</button>
	          		<button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
	        	</div>
	      	</div>
		</div>
	</div>
</div>

<!-- ------------------------------------------ -->
<!-- NUOVA DATA SCADENZA MODIFICA REGISTRAZIONE -->
<!-- ------------------------------------------ -->

<div class="container">
	<div class="modal fade" id="nuova-data-scadenza-modifica-dialog" role="dialog">
		<div class="modal-dialog">
	      <!-- Modal content-->
			<div class="modal-content">
	        	<div class="modal-header">
	          		<h4 class="modal-title">Nuova scadenza</h4>
	        	</div>
	        	<div class="modal-body">
					<form method="post" id="nuovaDataScadenzaModificaForm">
						<div class="well well-sm">
							<div class="form-group row">
								<div class="col-xs-4">
									<div class='input-group date' data-provide='datepicker' data-date-format="dd/mm/yyyy">
				                		<input type='text' class="form-control" id="newdatascad_mod" name="newdatascad_mod" />
				                		<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
				            		</div>			
							  	</div>
							  	<div class="col-xs-4">
				 					<div class='input-group'>
										<span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
										<input class="form-control" id="newimpscad_mod" name="newimpscad_mod" type="text" maxlength="10" onkeypress="controllaImporto('newimpscad_mod')">
									</div>
							  	</div>
					  		</div>
						</div>					
					</form>	        	
	        	</div>
	        	<div class="modal-footer">
	          		<button type="button" class="btn btn-default" data-dismiss="modal" id="button-ok-nuovascad-modifica-registrazione-form">Ok</button>
	          		<button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
	        	</div>
	      	</div>
		</div>
	</div>
</div>

<!-- --------------------------- -->
<!-- CANCELLAZIONE REGISTRAZIONE -->
<!-- --------------------------- -->

<div class="container">
	<div class="modal fade" id="cancella-registrazione-dialog" role="dialog">
		<div class="modal-dialog">
	      <!-- Modal content-->
			<div class="modal-content">
	        	<div class="modal-header">
	          		<h4 class="modal-title">Cancella registrazione</h4>
	        	</div>
	        	<div class="modal-body">	        		        	
					<form method="post" id="cancellaRegistrazioneForm" action="../primanota/cancellaRegistrazioneFacade.class.php?modo=go" >
						<p>Elimino la registrazione e tutte le sue scadenze ?</p>
						<input type="hidden" id="idreg" name="idreg">
			        </form>
	        	</div>
	        	<div class="modal-footer">
	          		<button type="button" class="btn btn-default" data-dismiss="modal" id="button-ok-cancella-registrazione-form">Ok</button>
	          		<button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
	        	</div>
	      	</div>
		</div>
	</div>
</div>

<!-- ------------------------- -->
<!-- VISUALIZZA REGISTRAZIONE  -->
<!-- ------------------------- -->

<div class="container">
	<div class="modal fade" id="visualizza-registrazione-dialog" role="dialog">
		<div class="modal-dialog modal-lg">
	      <!-- Modal content-->
			<div class="modal-content">
	        	<div class="modal-header">
	          		<h4 class="modal-title">Visualizza Registrazione</h4>
	        	</div>
	        	<div class="modal-body">

					<div class="well well-sm">
						<div class="form-group row">							
							<div class="col-sm-3">
						  		<div class="control-group">
						    		<label for="datareg_vis">%ml.datareg%</label>
						    		<span id="datareg_vis"></span>
			            		</div>
						  	</div>
						  	<div class="col-sm-3">
						  		<label for="codneg_vis">%ml.negozio%</label>
					    		<span id="codneg_vis"></span>
						  	</div>
						  	<div class="col-sm-2 ui-front">
						  		<div class="control-group">
									<label for="numfatt_vis">%ml.numfatt%</label>
						    		<span id="numfatt_vis"></span>
								</div>
						  	</div>
						</div>
						<div class="form-group row">
						  	<div class="col-sm-6">
						  		<div class="control-group">
									<label for="causale_vis">%ml.codcau%</label>
						    		<span id="causale_vis"></span>
								</div>
						  	</div>
						  	<div class="col-sm-6">
						  		<div class="control-group">
						    		<label for="descreg_vis">%ml.descreg%</label>
						    		<span id="descreg_vis"></span>
								</div>
						  	</div>
						</div>
						<div class="form-group row">
						  	<div class="col-sm-6">
						  		<div class="control-group">
						    		<label id="fornitore_vis_label" for="fornitore_vis">%ml.codforn%</label>
						    		<span id="fornitore_vis"></span>
								</div>	
						  	</div>
						  	<div class="col-sm-6 ui-front">
						  		<div class="control-group">
						    		<label id="cliente_vis_label" for="cliente_vis">%ml.codclie%</label>
						    		<span id="cliente_vis"></span>
								</div>	
						  	</div>
						</div>						
						<div class="form-group row">
						  	<div class="col-sm-7">
						  		<div class="control-group">
						    		<label for="scadenzesuppl_vis">%ml.datascad%</label>
									<table class="table table-bordered" id="scadenzesuppl_vis"></table>
								</div>	
						  	</div>	
						</div>
						<div class="form-group row">
						  	<div class="col-sm-12">
						  		<div class="control-group">
						    		<label for="dettagli_vis">Dettagli</label>
									<table class="table table-bordered table-hover" id="dettagli_vis"></table>
								</div>	
						  	</div>
						</div>
					</div>	
					
	        	</div>
	        	<div class="modal-footer">
	          		<button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
	        	</div>
	      	</div>
		</div>
	</div>
</div>

<!-- ------------- -->
<!-- NUOVO INCASSO -->
<!-- ------------- -->

<div class="container">
	<div class="modal fade" id="nuovo-incasso-dialog" role="dialog">
		<div class="modal-dialog modal-lg">
	      <!-- Modal content-->
			<div class="modal-content">
	        	<div class="modal-header">
	          		<h4 class="modal-title">Nuovo Incasso</h4>
	        	</div>
	        	<div class="modal-body">

					<form method="post" id="nuovoIncassoForm" action="../primanota/creaIncassoFacade.class.php?modo=go" >
					
						<div class="well well-sm">
							<div class="form-group row">
								<div class="col-sm-3">
							  		<div class="control-group" id="datareg_inc_cre_control_group">
							    		<label for="datareg_inc_cre">%ml.datareg%&nbsp;<small><span class="text-danger" id="datareg_inc_cre_messaggio"></span></small></label>
										<div class='input-group date' data-provide='datepicker' data-date-format="dd/mm/yyyy">
					                		<input type='text' class="form-control" id="datareg_inc_cre" name="datareg_inc_cre"/>
					                		<span class="input-group-addon">
					                    		<span class="glyphicon glyphicon-calendar"></span>
					                 		</span>
					            		</div>			
				            		</div>
							  	</div>
							  	<div class="col-sm-2">
							  		<label for="codneg_inc_cre">%ml.negozio%</label>
									<select class="form-control" id="codneg_inc_cre" name="codneg_inc_cre" >
										<option value=" ">&nbsp;</option>
										<option value="VIL">%ml.villa%</option>
										<option value="BRE">%ml.brembate%</option>
										<option value="TRE">%ml.trezzo%</option>
									</select>			
							  	</div>
							  	<div class="col-sm-5">
							  		<div class="control-group" id="descreg_inc_cre_control_group">
							    		<label for="descreg_inc_cre">%ml.descreg%&nbsp;<small><span class="text-danger" id="descreg_inc_cre_messaggio"></span></small></label>
										<input class="form-control" id="descreg_inc_cre" name="descreg_inc_cre" type="text" onblur="controllaDescrizione('descreg_inc_cre')"/>
									</div>
							  	</div>
							</div>
							<div class="form-group row">
							  	<div class="col-sm-4">
							  		<div class="control-group" id="causale_inc_cre_control_group">
										<label for="causale_inc_cre">%ml.codcau%&nbsp;<small><span class="text-danger" id="causale_inc_cre_messaggio"></span></small></label>
										<select class="form-control" id="causale_inc_cre" name="causale_inc_cre" >
											<option value=" "></option>
											%elenco_causali_inc_cre%
										</select>			
									</div>
							  	</div>
							  	<div class="col-sm-4 ui-front">
							  		<div class="control-group" id="cliente_inc_cre_control_group">
							    		<label for="cliente_inc_cre">%ml.codclie%&nbsp;<small><span class="text-danger" id="cliente_inc_cre_messaggio"></span></small></label>
										<input class="form-control" id="cliente_inc_cre" name="cliente_inc_cre" type="text" onblur="aggiungiDettaglioContoCliente(this.value, 'dettagli_inc_cre'); controllaCausale('causale_inc_cre');">
									</div>	
							  	</div>
							</div>
							<div class="form-group row">
							  	<div class="col-sm-6">
							  		<div class="control-group" id="scadenze_chiuse_inc_cre_control_group">
							    		<label for="scadenze_chiuse_inc_cre">Fatture incluse nell'incasso<small><span class="text-danger" id="scadenze_chiuse_inc_cre_messaggio"></span></small></label>
										<table class="table table-bordered table-hover" id="scadenze_chiuse_inc_cre"></table>
									</div>	
							  	</div>
							  	<div class="col-sm-6">
							  		<div class="control-group" id="scadenze_aperte_inc_cre_control_group">
							    		<label for="scadenze_aperte_inc_cre">Fatture rimanenti da incassare<small><span class="text-danger" id="scadenze_aperte_inc_cre_messaggio"></span></small></label>
										<table class="table table-bordered table-hover" id="scadenze_aperte_inc_cre"></table>
									</div>	
							  	</div>
							</div>
							<div class="form-group row">
							  	<div class="col-sm-12">
							  		<div class="control-group" id="dettagli_inc_cre_control_group">
							    		<label for="dettagli_inc_cre">Dettagli&nbsp;<small><span class="text-danger" id="dettagli_inc_cre_messaggio"></span></small></label>
										<table class="table table-bordered table-hover" id="dettagli_inc_cre"></table>
									</div>	
							  	</div>
							</div>
						</div>
					</form>	
	        	</div>
	        	<div class="modal-footer">
	          		<button type="button" class="btn btn-default" data-dismiss="modal" id="button-ok-nuovo-incasso-form">Ok</button>
	          		<button type="button" class="btn btn-default" id="button-nuovo-dettaglio-nuovo-incasso-form">Nuovo Dettaglio</button>
	          		<button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
	        	</div>
	      	</div>
		</div>
	</div>
</div>

<!-- -------------------------------->
<!-- NUOVO DETTAGLIO NUOVO INCASSO -->
<!-- -------------------------------->

<div class="container">
	<div class="modal fade" id="nuovo-dettaglio-incasso-dialog" role="dialog">
		<div class="modal-dialog">
	      <!-- Modal content-->
			<div class="modal-content">
	        	<div class="modal-header">
	          		<h4 class="modal-title">Nuovo dettaglio incasso</h4>
	        	</div>
	        	<div class="modal-body">
					<div class="well well-sm">
						<div class="form-group row">
						  	<div class="col-sm-4">
			 					<div class='input-group'>
									<span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
									<input class="form-control" id="newimpdett_inc_cre" name="newimpdett_inc_cre" type="text" maxlength="10" onkeypress="controllaImporto('newimpdett_inc_cre')">
								</div>
						  	</div>
						  	<div class="col-sm-4">
			 					<div class='input-group'>
									<span class="input-group-addon">D/A</span>
									<input class="form-control" id="newsegnodett_inc_cre" name="newsegnodett_inc_cre" type="text" maxlength="1" />
								</div>
						  	</div>
				  		</div>
				  		<div class="form-group row">
						  	<div class="col-sm-8">
			 					<div class='input-group'>
									<span class="input-group-addon">Cc</span>
									<select class="form-control" id="conti_inc" name="newcontodett_inc_cre"></select>			
								</div>	
						  	</div>							  	
				  		</div>				  		
					</div>					
	        	</div>
	        	<div class="modal-footer">
	          		<button type="button" class="btn btn-default" data-dismiss="modal" id="button-ok-nuovodett-nuovo-incasso-form">Ok</button>
	          		<button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
	        	</div>
	      	</div>
		</div>
	</div>
</div>

<!-- ------------------- -->
<!-- VISUALIZZA INCASSO  -->
<!-- ------------------- -->

<div class="container">
	<div class="modal fade" id="visualizza-incasso-dialog" role="dialog">
		<div class="modal-dialog modal-lg">
	      <!-- Modal content-->
			<div class="modal-content">
	        	<div class="modal-header">
	          		<h4 class="modal-title">Visualizza Incasso</h4>
	        	</div>
	        	<div class="modal-body">

					<div class="well well-sm">
						<div class="form-group row">							
							<div class="col-sm-3">
						  		<div class="control-group">
						    		<label for="datareg_inc_vis">%ml.datareg%</label>
						    		<span id="datareg_inc_vis"></span>
			            		</div>
						  	</div>
						  	<div class="col-sm-3">
						  		<label for="codneg_inc_vis">%ml.negozio%</label>
					    		<span id="codneg_inc_vis"></span>
						  	</div>
						</div>
						<div class="form-group row">
						  	<div class="col-sm-6">
						  		<div class="control-group">
									<label for="causale_inc_vis">%ml.codcau%</label>
						    		<span id="causale_inc_vis"></span>
								</div>
						  	</div>
						  	<div class="col-sm-6">
						  		<div class="control-group">
						    		<label for="descreg_inc_vis">%ml.descreg%</label>
						    		<span id="descreg_inc_vis"></span>
								</div>
						  	</div>
						</div>
						<div class="form-group row">
						  	<div class="col-sm-6 ui-front">
						  		<div class="control-group">
						    		<label id="cliente_inc_vis_label" for="cliente_inc_vis">%ml.codclie%</label>
						    		<span id="cliente_inc_vis"></span>
								</div>	
						  	</div>
						</div>						
						<div class="form-group row">
						  	<div class="col-sm-7">
						  		<div class="control-group">
						    		<label for="scadenze_incassate_inc_vis">Fatture incluse nell'incasso</label>
									<table class="table table-bordered" id="scadenze_incassate_inc_vis"></table>
								</div>	
						  	</div>	
						</div>
						<div class="form-group row">
						  	<div class="col-sm-12">
						  		<div class="control-group">
						    		<label for="dettagli_inc_vis">Dettagli</label>
									<table class="table table-bordered table-hover" id="dettagli_inc_vis"></table>
								</div>	
						  	</div>
						</div>
					</div>	
					
	        	</div>
	        	<div class="modal-footer">
	          		<button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
	        	</div>
	      	</div>
		</div>
	</div>
</div>

<!-- ------------------- -->
<!-- MODIFICA INCASSO  -->
<!-- ------------------- -->

<div class="container">
	<div class="modal fade" id="modifica-incasso-dialog" role="dialog">
		<div class="modal-dialog modal-lg">
	      <!-- Modal content-->
			<div class="modal-content">
	        	<div class="modal-header">
	          		<h4 class="modal-title">Modifica Incasso</h4>
	        	</div>
	        	<div class="modal-body">
	        		        	
					<form method="post" id="modificaIncassoForm" action="../primanota/modificaIncassoFacade.class.php?modo=go" >
						<div class="well well-sm">
							<div class="form-group row">							
								<div class="col-sm-3">
							  		<div class="control-group" id="datareg_inc_mod_control_group">
							    		<label for="datareg_inc_mod">%ml.datareg%&nbsp;<small><span class="text-danger" id="datareg_inc_mod_messaggio"></span></small></label>
										<div class='input-group date' data-provide='datepicker' data-date-format="dd/mm/yyyy">
					                		<input type='text' class="form-control" id="datareg_inc_mod" name="datareg_inc_mod"/>
					                		<span class="input-group-addon">
					                    		<span class="glyphicon glyphicon-calendar"></span>
					                 		</span>
					            		</div>			
				            		</div>
							  	</div>
							  	<div class="col-sm-2">
							  		<label for="codneg_inc_mod">%ml.negozio%</label>
									<select class="form-control" id="codneg_inc_mod" name="codneg_inc_mod" >
										<option value="VIL" selected>%ml.villa%</option>
										<option value="BRE">%ml.brembate%</option>
										<option value="TRE">%ml.trezzo%</option>
									</select>			
							  	</div>
							  	<div class="col-sm-5">
							  		<div class="control-group" id="descreg_inc_mod_control_group">
							    		<label for="descreg_inc_mod">%ml.descreg%&nbsp;<small><span class="text-danger" id="descreg_inc_mod_messaggio"></span></small></label>
										<input class="form-control" id="descreg_inc_mod" name="descreg_inc_mod" type="text" onblur="controllaDescrizione('descreg_inc_mod')"/>
									</div>
							  	</div>
							</div>  	
							<div class="form-group row">
							  	<div class="col-sm-4">
							  		<div class="control-group" id="causale_inc_mod_control_group">
										<label for="causale_inc_mod">%ml.codcau%&nbsp;<small><span class="text-danger" id="causale_inc_mod_messaggio"></span></small></label>
										<select class="form-control" id="causale_inc_mod" name="causale_inc_mod" >
											<option value=""></option>
											%elenco_causali_inc_mod%
										</select>			
									</div>
							  	</div>
							  	<div class="col-sm-4 ui-front">
							  		<div class="control-group" id="cliente_inc_mod_control_group">
							    		<label for="cliente_inc_mod">%ml.codclie%&nbsp;<small><span class="text-danger" id="cliente_inc_mod_messaggio"></span></small></label>
										<input class="form-control" id="cliente_inc_mod" name="cliente_inc_mod" type="text" onblur="aggiungiDettaglioContoCliente(this.value, 'dettagli_inc_mod'); controllaCausale('causale_inc_mod');">
									</div>	
							  	</div>
							</div>
							<div class="form-group row">
							  	<div class="col-sm-6">
							  		<div class="control-group" id="scadenze_chiuse_inc_mod_control_group">
							    		<label for="scadenze_chiuse_inc_mod">Fatture incluse nell'incasso<small><span class="text-danger" id="scadenze_chiuse_inc_mod_messaggio"></span></small></label>
										<table class="table table-bordered table-hover" id="scadenze_chiuse_inc_mod"></table>
									</div>	
							  	</div>
							  	<div class="col-sm-6">
							  		<div class="control-group" id="scadenze_aperte_inc_mod_control_group">
							    		<label for="scadenze_aperte_inc_mod">Fatture rimanenti da incassare<small><span class="text-danger" id="scadenze_aperte_inc_mod_messaggio"></span></small></label>
										<table class="table table-bordered table-hover" id="scadenze_aperte_inc_mod"></table>
									</div>	
							  	</div>
							</div>
							<div class="form-group row">
							  	<div class="col-sm-12">
							  		<div class="control-group" id="dettagli_inc_mod_control_group">
							    		<label for="dettagli_inc_mod">Dettagli&nbsp;<small><span class="text-danger" id="dettagli_inc_mod_messaggio"></span></small></label>
										<table class="table table-bordered table-hover" id="dettagli_inc_mod"></table>
									</div>	
							  	</div>
							</div>
						</div>
					</form>	

	        	</div>
	        	<div class="modal-footer">
	          		<button type="button" class="btn btn-default" data-dismiss="modal" id="button-ok-modifica-incasso-form">Ok</button>
	          		<button type="button" class="btn btn-default" id="button-nuovo-dettaglio-modifica-incasso-form">Nuovo Dettaglio</button>
	          		<button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
	        	</div>
	      	</div>
		</div>
	</div>
</div>

<!-- ----------------------------------->
<!-- NUOVO DETTAGLIO MODIFICA INCASSO -->
<!-- ----------------------------------->

<div class="container">
	<div class="modal fade" id="nuovo-dettaglio-modifica-incasso-dialog" role="dialog">
		<div class="modal-dialog">
	      <!-- Modal content-->
			<div class="modal-content">
	        	<div class="modal-header">
	          		<h4 class="modal-title">Nuovo dettaglio incasso</h4>
	        	</div>
	        	<div class="modal-body">
					<div class="well well-sm">
						<div class="form-group row">
						  	<div class="col-sm-4">
			 					<div class='input-group'>
									<span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
									<input class="form-control" id="newimpdett_inc_mod" name="newimpdett_inc_mod" type="text" maxlength="10" onkeypress="controllaImporto('newimpdett_inc_mod')">
								</div>
						  	</div>
						  	<div class="col-sm-4">
			 					<div class='input-group'>
									<span class="input-group-addon">D/A</span>
									<input class="form-control" id="newsegnodett_inc_mod" name="newsegnodett_inc_mod" type="text" maxlength="1" />
								</div>
						  	</div>
				  		</div>
				  		<div class="form-group row">
						  	<div class="col-sm-8">
			 					<div class='input-group'>
									<span class="input-group-addon">Cc</span>
									<select class="form-control" id="conti_inc_mod" name="newcontodett_inc_mod"></select>			
								</div>	
						  	</div>							  	
				  		</div>				  		
					</div>					
	        	</div>
	        	<div class="modal-footer">
	          		<button type="button" class="btn btn-default" data-dismiss="modal" id="button-ok-nuovodett-modifica-incasso-form">Ok</button>
	          		<button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
	        	</div>
	      	</div>
		</div>
	</div>
</div>

<!-- --------------- -->
<!-- NUOVO PAGAMENTO -->
<!-- --------------- -->

<div class="container">
	<div class="modal fade" id="nuovo-pagamento-dialog" role="dialog">
		<div class="modal-dialog modal-lg">
	      <!-- Modal content-->
			<div class="modal-content">
	        	<div class="modal-header">
	          		<h4 class="modal-title">Nuovo Pagamento</h4>
	        	</div>
	        	<div class="modal-body">

					<form method="post" id="nuovoPagamentoForm" action="../primanota/creaPagamentoFacade.class.php?modo=go">
					
						<div class="well well-sm">
							<div class="form-group row">
								<div class="col-sm-3">
							  		<div class="control-group" id="datareg_pag_cre_control_group">
							    		<label for="datareg_pag_cre">%ml.datareg%&nbsp;<small><span class="text-danger" id="datareg_pag_cre_messaggio"></span></small></label>
										<div class='input-group date' data-provide='datepicker' data-date-format="dd/mm/yyyy">
					                		<input type='text' class="form-control" id="datareg_pag_cre" name="datareg_pag_cre"/>
					                		<span class="input-group-addon">
					                    		<span class="glyphicon glyphicon-calendar"></span>
					                 		</span>
					            		</div>			
				            		</div>
							  	</div>
							  	<div class="col-sm-2">
							  		<label for="codneg_pag_cre">%ml.negozio%</label>
									<select class="form-control" id="codneg_pag_cre" name="codneg_pag_cre" >
										<option value=" ">&nbsp;</option>
										<option value="VIL">%ml.villa%</option>
										<option value="BRE">%ml.brembate%</option>
										<option value="TRE">%ml.trezzo%</option>
									</select>			
							  	</div>
							  	<div class="col-sm-5">
							  		<div class="control-group" id="descreg_pag_cre_control_group">
							    		<label for="descreg_pag_cre">%ml.descreg%&nbsp;<small><span class="text-danger" id="descreg_pag_cre_messaggio"></span></small></label>
										<input class="form-control" id="descreg_pag_cre" name="descreg_pag_cre" type="text" onblur="controllaDescrizione('descreg_pag_cre')"/>
									</div>
							  	</div>
							</div>
							<div class="form-group row">
							  	<div class="col-sm-4">
							  		<div class="control-group" id="causale_pag_cre_control_group">
										<label for="causale_pag_cre">%ml.codcau%&nbsp;<small><span class="text-danger" id="causale_pag_cre_messaggio"></span></small></label>
										<select class="form-control" id="causale_pag_cre" name="causale_pag_cre" >
											<option value=" "></option>
											%elenco_causali_pag_cre%
										</select>			
									</div>
							  	</div>
							  	<div class="col-sm-4 ui-front">
							  		<div class="control-group" id="fornitore_pag_cre_control_group">
							    		<label for="fornitore_pag_cre">%ml.codforn%&nbsp;<small><span class="text-danger" id="fornitore_pag_cre_messaggio"></span></small></label>
										<input class="form-control" id="fornitore_pag_cre" name="fornitore_pag_cre" type="text" onblur="aggiungiDettaglioContoFornitore(this.value, 'dettagli_pag_cre'); controllaCausale('causale_pag_cre');">
									</div>	
							  	</div>
							</div>
							<div class="form-group row">
							  	<div class="col-sm-6">
							  		<div class="control-group" id="scadenze_chiuse_pag_cre_control_group">
							    		<label for="scadenze_chiuse_pag_cre">Fatture incluse nel pagamento<small><span class="text-danger" id="scadenze_chiuse_pag_cre_messaggio"></span></small></label>
										<table class="table table-bordered table-hover" id="scadenze_chiuse_pag_cre"></table>
									</div>	
							  	</div>
							  	<div class="col-sm-6">
							  		<div class="control-group" id="scadenze_aperte_pag_cre_control_group">
							    		<label for="scadenze_aperte_pag_cre">Fatture rimanenti da pagare<small><span class="text-danger" id="scadenze_aperte_pag_cre_messaggio"></span></small></label>
										<table class="table table-bordered table-hover" id="scadenze_aperte_pag_cre"></table>
									</div>	
							  	</div>
							</div>
							<div class="form-group row">
							  	<div class="col-sm-12">
							  		<div class="control-group" id="dettagli_pag_cre_control_group">
							    		<label for="dettagli_pag_cre">Dettagli&nbsp;<small><span class="text-danger" id="dettagli_pag_cre_messaggio"></span></small></label>
										<table class="table table-bordered table-hover" id="dettagli_pag_cre"></table>
									</div>	
							  	</div>
							</div>
						</div>
						
					</form>	

	        	</div>
	        	<div class="modal-footer">
	          		<button type="button" class="btn btn-default" data-dismiss="modal" id="button-ok-nuovo-pagamento-form">Ok</button>
	          		<button type="button" class="btn btn-default" id="button-nuovo-dettaglio-nuovo-pagamento-form">Nuovo Dettaglio</button>
	          		<button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
	        	</div>
	      	</div>
		</div>
	</div>
</div>

<!-- ---------------------------------->
<!-- NUOVO DETTAGLIO NUOVO PAGAMENTO -->
<!-- ---------------------------------->

<div class="container">
	<div class="modal fade" id="nuovo-dettaglio-pagamento-dialog" role="dialog">
		<div class="modal-dialog">
	      <!-- Modal content-->
			<div class="modal-content">
	        	<div class="modal-header">
	          		<h4 class="modal-title">Nuovo dettaglio pagamento</h4>
	        	</div>
	        	<div class="modal-body">
					<div class="well well-sm">
						<div class="form-group row">
						  	<div class="col-sm-4">
			 					<div class='input-group'>
									<span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
									<input class="form-control" id="newimpdett_pag_cre" name="newimpdett_pag_cre" type="text" maxlength="10" onkeypress="controllaImporto('newimpdett_pag_cre')">
								</div>
						  	</div>
						  	<div class="col-sm-4">
			 					<div class='input-group'>
									<span class="input-group-addon">D/A</span>
									<input class="form-control" id="newsegnodett_pag_cre" name="newsegnodett_pag_cre" type="text" maxlength="1" />
								</div>
						  	</div>
				  		</div>
				  		<div class="form-group row">
						  	<div class="col-sm-8">
			 					<div class='input-group'>
									<span class="input-group-addon">Cc</span>
									<select class="form-control" id="conti_pag" name="newcontodett_pag_cre"></select>			
								</div>	
						  	</div>							  	
				  		</div>				  		
					</div>					
	        	</div>
	        	<div class="modal-footer">
	          		<button type="button" class="btn btn-default" data-dismiss="modal" id="button-ok-nuovodett-nuovo-pagamento-form">Ok</button>
	          		<button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
	        	</div>
	      	</div>
		</div>
	</div>
</div>

<!-- ---------------- -->
<!-- MESSAGGIO ERRORE -->
<!-- ---------------- -->

<div class="container">
	<div class="modal fade" id="messaggio-errore-dialog" role="dialog">
		<div class="modal-dialog">
	      <!-- Modal content-->
			<div class="modal-content">
	        	<div class="modal-header">
	          		<h4 class="modal-title">ERRORE</h4>
	        	</div>
	        	<div class="modal-body">
		        	<div class="alert alert-danger" role="alert" >
			        	<p id="testo-messaggio-errore"></p>
			        </div>	
	        	</div>
	        	<div class="modal-footer">
	          		<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
	        	</div>
	      	</div>
		</div>
	</div>
</div>

<!-- ---------------- -->
<!-- MESSAGGIO OK     -->
<!-- ---------------- -->

<div class="container">
	<div class="modal fade" id="messaggio-successo-dialog" role="dialog">
		<div class="modal-dialog">
	      <!-- Modal content-->
			<div class="modal-content">
	        	<div class="modal-header">
	          		<h4 class="modal-title">SUCCESSO</h4>
	        	</div>
	        	<div class="modal-body">
		        	<div class="alert alert-success" role="alert" >
			        	<p id="testo-messaggio-successo"></p>
			        </div>	
	        	</div>
	      	</div>
		</div>
	</div>
</div>
