<body>

<div id="body">
	<div id="main">
		<h2>%titoloPagina%</h2>

		<form method="post" id="back" action="%referer%&datascad_da=%datascad_da%&datascad_a=%datascad_a%" >
			<button id="indietro" class="button" title="%ml.indietroTip%" onclick="back()" >%ml.indietro%</button>
			<input type="hidden" name="datareg_da" value='%datareg_da%' >
			<input type="hidden" name="datareg_a" value='%datareg_a%' >
			<input type="hidden" name="codneg_sel" value='%codneg_sel%' >
		</form>
		<br>
		<table class="datiCreate" cellpadding="5px">
			<tbody>
				<tr>
					<td class="td">%ml.datareg% :</td>
					<td colspan="4" class="tooltip">
						<input type="text" name="datareg" size="10" maxlength="10" value='%datareg%' disabled="disabled">
						&nbsp;&nbsp;&nbsp;%ml.descreg% : <input type="text" name="descreg" size="80" maxlength="200" value='%descreg%' disabled="disabled"> 
					</td>
				</tr>
				<tr>
					<td>%ml.codcau% :</td>
					<td class="tooltip">
						<select class="selectmenuCausale" id="causale" name="causale" disabled="disabled">
							<option value=""></option>
							%elenco_causali%
						</select>
					</td>
						<td>%ml.negozio% :</td>						
						<td>
							<div class="radioset" >
								<input type="radio" id="villa" name="codneg" value="VIL" %villa-checked% disabled="disabled" ><label for="villa">%ml.villa%</label>
								<input type="radio" id="brembate" name="codneg" value="BRE" %brembate-checked% disabled="disabled" ><label for="brembate">%ml.brembate%</label>
								<input type="radio" id="trezzo" name="codneg" value="TRE" %trezzo-checked% disabled="disabled" ><label for="trezzo">%ml.trezzo%</label>
							</div>
						</td>					
				</tr>
				<tr>
					<td>%ml.codforn% :</td>
					<td class="tooltip">
						<select class="selectmenuFornitore" name="fornitore" disabled="disabled" >
							<option value=""></option>
							%elenco_fornitori%
						</select>
					</td>
					
					<td>%ml.codclie% :</td>
					<td class="tooltip">
						<select class="selectmenuCliente" name="cliente" disabled="disabled" >
							<option value=""></option>
							%elenco_clienti%
						</select>
					</td>
				</tr>					
				<tr>
					<td class="td">%ml.datascad% :</td>
					<td class="tooltip"><input type="text" name="datascad" size="10" maxlength="10" value='%datascad%' disabled="disabled" ></td>
				</tr>					
				<tr>
					<td>%ml.numfatt% :</td>
					<td class="tooltip"><input type="text" name="numfatt" size="35" maxlength="35" value='%numfatt%' disabled="disabled"></td>
				</tr>
				<tr>
					<td colspan="4">
						<table id="dettagli" class="datiCreateSottile">
						    <thead>
								<tr> 
									<th width="350" align="left">Conto</th>
									<th width="100" align="right">Importo</th> 
									<th width="50" align="center">D/A</th>
								</tr>
						    </thead>
						    <tbody>%tbody_dettagli%</tbody>
						</table>			
					</td>
				</tr>										
			</tbody>
		</table>
	</div>
</div>

<br/>
